<template>
	<div>
		<b-row>
			<b-col md="4" class="detail-col">
        <div class="detail-wrapper">
          <span class="scrb-pane-icon"><i class="fas fa-file-csv"></i></span>
          <h5>How to prepare your spreadsheet</h5>
          <p>
            The guide below will walk you
            through how to prepare your files for a successful import.
          </p>
          <a href="#" class="scrb-color scrb-link">View import guide <i class="fas fa-external-link-alt"></i></a>
        </div>
			</b-col>

			<b-col md="4" class="detail-col">
        <div class="detail-wrapper">
          <span class="scrb-pane-icon"><i class="fas fa-cloud-download-alt"></i></span>

          <h5>Download a sample spreadsheet</h5>
          <p>
            Need to see this in action first? Download this small sample file
            and test the import process so there are no surprises.
          </p>
          <a href.prevent="#" class="scrb-color scrb-link" @click="download_sample">Download sample spreadsheet <i class="fas fa-external-link-alt"></i></a>
        </div>
			</b-col>

			<b-col md="4" class="detail-col">
        <div class="detail-wrapper">
          <span class="scrb-pane-icon"><i class="fas fa-info-circle"></i></span>
          <h5>Have questions?</h5>
          <p>
            Read the answers to all your questions about file types and troubleshooting.
          </p>
          <a href="#" class="scrb-color scrb-link">View import guide <i class="fas fa-external-link-alt"></i></a>
        </div>
			</b-col>
		</b-row>
	</div>
</template>

<script>

export default {
  name: 'Csv-Pane',
  data () {
    return {
    }
  },
  methods: {
    download_sample () {
      let csv = 'title,first_name,last_name,department,company,address_line_1,address_line_2,address_line_3,city,postal_code,state,country\n'

      let data = [
        ['Recipient', 'John', 'Doe', 'Marketing', 'XYZ Inc', '435 West Peachtree Street Northwest', 'SoNo', 'Howard', 'Atlanta', '30308', 'Georgia', 'United States'],
        ['Audience', 'Jane', 'Doe', 'Production', 'ABC Inc', '4321 Montgomery Boulevard Northeast', 'Hodgin', 'Millbrook', 'Albuquerque', '87109', 'New Mexico', 'United States']
      ]

      for (let value of data) {
        csv += value.join(',')
        csv += '\n'
      }

      let ele = document.createElement('a')
      ele.href = `data:text/csv;charset=UTF-8,${encodeURI(csv)}`
      ele.target = '_blank'
      ele.download = 'sample.csv'
      ele.click()
    }
  }
}
</script>

<style scoped>
  .detail-wrapper {
    border: 1px solid rgb(223, 227, 235);
    border-radius: 3px;
    text-align: center;
    padding: 32px;
    height: 100%;
  }

  .detail-col {
    margin-top: 3px;
  }

  .scrb-pane-icon {
    font-size: 64px;
  }

  .detail-wrapper h5 {
    font-size: 16px;
    font-weight: 600;
  }

</style>
