<template>
    <div class="card">
        <div class="card-body">
        <h4 class="header-title mb-0 text-secondary">Latest Campaign</h4>
        </div>
        <div id="collapse-1" class="collapse show">
        <div class="card-body pt-0">
            <ContentLoader
            v-bind:speed="0"
            :width="1200"
            :height="500"
            primaryColor="#c3c5c5"
            secondaryColor="#d8d8d8"
            >
            <rect x="26" y="18" rx="0" ry="0" width="1142" height="3" />
            <rect x="26" y="77" rx="0" ry="0" width="1142" height="3" />
            <rect x="25" y="154" rx="0" ry="0" width="1142" height="1" />
            <rect x="25" y="317" rx="0" ry="0" width="1142" height="1" />
            <rect x="27" y="237" rx="0" ry="0" width="1142" height="1" />
            <rect x="26" y="398" rx="0" ry="0" width="1142" height="1" />
            <rect x="35" y="43" rx="0" ry="0" width="88" height="9" />
            <rect x="216" y="43" rx="0" ry="0" width="88" height="9" />
            <rect x="375" y="44" rx="0" ry="0" width="88" height="9" />
            <rect x="568" y="42" rx="0" ry="0" width="88" height="9" />
            <rect x="729" y="43" rx="0" ry="0" width="88" height="9" />
            <rect x="892" y="41" rx="0" ry="0" width="88" height="9" />
            <rect x="1067" y="41" rx="0" ry="0" width="88" height="9" />
            <rect x="33" y="117" rx="0" ry="0" width="141" height="5" />
            <rect x="37" y="439" rx="0" ry="0" width="141" height="5" />
            <rect x="36" y="358" rx="0" ry="0" width="141" height="5" />
            <rect x="37" y="278" rx="0" ry="0" width="141" height="5" />
            <rect x="36" y="198" rx="0" ry="0" width="141" height="5" />
            <rect x="899" y="103" rx="0" ry="0" width="78" height="28" />
            <rect x="898" y="341" rx="0" ry="0" width="78" height="28" />
            <rect x="898" y="262" rx="0" ry="0" width="78" height="28" />
            <rect x="898" y="181" rx="0" ry="0" width="78" height="28" />
            <rect x="899" y="422" rx="0" ry="0" width="78" height="28" />
            <rect x="215" y="117" rx="0" ry="0" width="100" height="5" />
            <rect x="214" y="438" rx="0" ry="0" width="100" height="5" />
            <rect x="214" y="357" rx="0" ry="0" width="100" height="5" />
            <rect x="214" y="278" rx="0" ry="0" width="100" height="5" />
            <rect x="214" y="198" rx="0" ry="0" width="100" height="5" />
            <rect x="375" y="117" rx="0" ry="0" width="124" height="5" />
            <rect x="375" y="438" rx="0" ry="0" width="124" height="5" />
            <rect x="374" y="357" rx="0" ry="0" width="124" height="5" />
            <rect x="375" y="278" rx="0" ry="0" width="124" height="5" />
            <rect x="374" y="198" rx="0" ry="0" width="124" height="5" />
            <rect x="568" y="117" rx="0" ry="0" width="89" height="4" />
            <rect x="567" y="437" rx="0" ry="0" width="89" height="4" />
            <rect x="567" y="357" rx="0" ry="0" width="89" height="4" />
            <rect x="567" y="278" rx="0" ry="0" width="89" height="4" />
            <rect x="567" y="198" rx="0" ry="0" width="89" height="4" />
            <rect x="739" y="118" rx="0" ry="0" width="66" height="4" />
            <rect x="738" y="437" rx="0" ry="0" width="66" height="4" />
            <rect x="738" y="357" rx="0" ry="0" width="66" height="4" />
            <rect x="740" y="277" rx="0" ry="0" width="66" height="4" />
            <rect x="740" y="198" rx="0" ry="0" width="66" height="4" />
            <rect x="1085" y="117" rx="0" ry="0" width="38" height="4" />
            <rect x="1086" y="436" rx="0" ry="0" width="38" height="4" />
            <rect x="1086" y="356" rx="0" ry="0" width="38" height="4" />
            <rect x="1087" y="276" rx="0" ry="0" width="38" height="4" />
            <rect x="1086" y="196" rx="0" ry="0" width="38" height="4" />
            </ContentLoader>
        </div>
        </div>
    </div>

</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  name: 'EmptyCampaign',
  components: {
    ContentLoader
  }
}
</script>
