<template>
<div class="left-side-menu">
    <perfect-scrollbar>

        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
            <div class="slimscroll-menu" style="overflow: hidden; width: auto; height: auto;">

                <!--- Sidemenu -->
                <div id="sidebar-menu" class="active">

                    <ul class="metismenu in" id="side-menu">
                        <li>
                            <router-link to="/">
                                <i class="fe-airplay"></i>
                                <span>Home</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/stationery">
                                <i class="fe-file-text"></i>
                                <span>Stationery</span>
                            </router-link>
                        </li>

                        <li v-if="user_profile.role !== 'viewer'">
                            <router-link to="/audience">
                                <i class="fe-user"></i>
                                <span>Recipients</span>
                            </router-link>
                        </li>
                        <li class="menu-title mt-1">Campaign</li>

                        <li>
                            <router-link to="/campaigns">
                                <i class="fe-edit"></i>
                                <span>Campaigns List</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/scheduled-campaigns">
                                <i class="fe-calendar"></i>
                                <span>Scheduled List</span>
                            </router-link>
                        </li>
                        <li class="menu-title mt-1">Billing</li>
                        <li>
                            <router-link to="/Billing">
                                <i class="fe-tag"></i>
                                <span>Billing Details</span>
                            </router-link>
                        </li>

                        <li class="menu-title mt-1">Account</li>

                        <li>
                            <router-link to="/team">
                                <i class="fe-user-plus"></i>
                                <span>Teams</i>
                                </span>
                            </router-link>
                        </li>

                        <li>
                            <router-link to="/integration">
                                <i class="fe-share-2"></i>
                                <span>Integrations</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/settings">
                                <i class="fe-settings"></i>
                                <span>Settings</i>
                                </span>
                            </router-link>
                        </li>
                    </ul>

                    <ul v-if="user_profile.admin" class="metismenu in" id="side-menu">
                        <li class="menu-title mt-1">ADMIN</li>

                        <li>
                            <router-link to="/analytics">
                                <i class="fe-pie-chart"></i>
                                <span>Analytics</span>
                            </router-link>
                        </li>

                        <li>
                            <router-link to="/batches">
                                <i class="fe-layers"></i>
                                <span>Batches</span>
                            </router-link>
                        </li>

                        <li>
                            <router-link to="/users">
                                <i class="fe-user-check"></i>
                                <span>Users</span>
                            </router-link>
                        </li>

                        <li>
                            <router-link to="/printers">
                                <i class="fe-printer"></i>
                                <span>Printers</span>
                            </router-link>
                        </li>

                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 848.291px;"></div>
            <div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
        <!-- Sidebar -left -->
    </perfect-scrollbar>

</div>
</template>

<script>
import Vue from 'vue'
import PerfectScrollbar from 'vue2-perfect-scrollbar'
import 'vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css'

Vue.use(PerfectScrollbar)

export default {
  name: 'Menu',
  props: {
    user_profile: {
      required: true
    }
  },
  data () {
    return {
      showDropdown: false
    }
  },
  computed: {
    arrowLeft () {
      let arrow = 'turn-arrow'
      if (this.showDropdown === true) {
        return arrow
      }
      return true
    }
  }
}
</script>

<style>
.ps {
    height: 100%;
}
</style>
