<template>
  <b-card title="Batches" sub-title="Batch analysis" class="mb-3">
    <BatchChart
      :printers="this.printers"
      :batches="this.batches"
      :dates="this.dates"
      :from_date="this.analysis_data.from_date"
      :total_days="this.analysis_data.total_days_for_period"
    />
    <b-card-body>
      <b-table-simple bordered small>
        <b-tbody>
          <b-tr>
            <td>Days</td>
            <td>{{ this.analysis_data.total_days_for_period }}</td>
          </b-tr>
          <b-tr>
            <td>Total Recipients</td>
            <td>
              {{ this.analysis_data.batches.total_recipients_for_period }}
            </td>
          </b-tr>
          <b-tr>
            <td>Total Cost</td>
            <td>
              {{
                (this.analysis_data.batches.total_cost_for_period / 100)
                  | currency('£')
              }}
            </td>
          </b-tr>
          <b-tr
            v-for="(stat, name) in this.analysis_data.batches.per_printer"
            v-bind:key="name"
          >
            <td>{{ name }}</td>
            <td>
              <b-table-simple bordered small>
                <b-tbody>
                  <b-tr>
                    <td>Average cost per batch</td>
                    <td>
                      {{ (stat.avg_cost_per_batch / 100) | currency('£') }}
                    </td>
                  </b-tr>
                  <b-tr>
                    <td>Average recipients per batch</td>
                    <td>{{ stat.avg_recipients_per_batch }}</td>
                  </b-tr>
                  <b-tr>
                    <td>Total recipients</td>
                    <td>{{ stat.total_recipients }}</td>
                  </b-tr>
                  <b-tr>
                    <td>Total cost</td>
                    <td>{{ (stat.total_cost / 100) | currency('£') }}</td>
                  </b-tr>
                  <b-tr>
                    <td>Total batches</td>
                    <td>{{ stat.total_batches }}</td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
            </td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-card-body>
  </b-card>
</template>

<script>
import BatchChart from '@/components/BatchChart'

export default {
  name: 'BatchAnalysis',
  props: ['analysis_data', 'printers', 'batches', 'dates'],
  components: {
    BatchChart
  }
}
</script>
<style></style>
