<template>
  <b-card-group colums="false" deck class="mb-4">
    <b-card title="Stationery Paper Size" class="col-lg-6">
      <PieChart :chart_data="pie_chart_data" />
    </b-card>
    <b-card title="Stationery Handwriting Style" class="col-lg-6">
      <BarChart :chart_data="bar_chart_data" />
    </b-card>
  </b-card-group>
</template>

<script>
import PieChart from '@/components/common/charts/PieChart'
import BarChart from '@/components/common/charts/BarChart'

export default {
  name: 'StationaryAnalysis',
  props: ['analysis_data'],
  components: {
    PieChart,
    BarChart
  },
  computed: {
    pie_chart_data () {
      return {
        series: Object.values(this.analysis_data.size_popularity),
        labels: Object.keys(this.analysis_data.size_popularity),
        height: 350
      }
    },
    bar_chart_data () {
      return {
        series: [
          {
            name: 'Style count',
            data: Object.values(this.analysis_data.style_popularity)
          }
        ],
        categories: Object.keys(this.analysis_data.style_popularity),
        height: 350,
        y_axis_title: 'Style count'
      }
    },
    sizePopularity () {
      return this.analysis_data.size_popularity
    },
    stylePopularity () {
      return this.analysis_data.style_popularity
    }
  }
}
</script>
<style></style>
