// 
// buttons.scss
//

.btn {
    color: $white;

    .mdi {
        &:before {
            margin-top: -1px;
        }
    }
}

.btn-rounded {
    border-radius: 2em;

    .btn-label {
        border-radius: 2em 0 0 2em;
    }

    .btn-label-right {
        border-radius: 0 2em 2em 0;
    }
}

//
// light button
// 
.btn-light,.btn-white {
    color: $gray-900;
}

//
// Link buttons
//
// Make a button look and behave like a link
.btn-link {
    font-weight: $font-weight-normal;
    color: $link-color;
    background-color: transparent;
    @include hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
        border-color: transparent;
    }
    &:focus,
    &.focus {
        text-decoration: $link-hover-decoration;
        border-color: transparent;
        box-shadow: none;
    }
    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
        pointer-events: none;
    } // No need for an active state here
} 
//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

// 
// Button labels
//

.btn-label {
    margin: -.55rem .9rem -.55rem -.9rem;
    padding: .6rem .9rem;
    background-color: rgba($gray-900,0.1);
}

.btn-label-right {
    margin: (-$btn-padding-y) (-$btn-padding-x) (-$btn-padding-y) ($btn-padding-x);
    padding: ($btn-padding-y) ($btn-padding-x);
    background-color: rgba($gray-900,0.1);
    display: inline-block;
}

// 
// Button Extra Small Size
// 

.btn-xs {
    padding: .2rem .6rem;
    font-size: .75rem;
    border-radius: .15rem;
}

.btn-nav-filled {
    padding: 12px 35px;
    background-color: $green;
    border: 1px solid $green;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;

    &:hover,
    &:focus,
    &.focus,
    &:active {
        background-color: #2c7c54;
        border: 1px solid #2c7c54;
        color: $white;
    }

}

.btn-nav-filled-oulined {
    padding: 12px 67px;
    background-color: $white;
    border: 1px solid $gray-400;
    text-transform: uppercase;
    font-size: 16px;
    color: $gray-800;
    font-weight: 300;

    &:hover,
    &:focus,
    &.focus,
    &:active {
        background-color: $white;
        border: 1px solid $gray-400;
        color: $gray-800;
    }
}



