.vue-form-wizard.xs {
        .wizard-nav-pills {
            li {
                .wizard-icon {
                    font-size: 16px;
                    padding-right:3px;
                    padding-top:3px;

                }

                .disabled {
                    .wizard-icon {
                        padding-right:4px;
                        padding-top:3px;
                    }
                }
            }
        }
    }

    

