<template>
  <b-container class="content-container" v-if="user_profile">
    <b-alert show variant="danger" v-if="user_profile.admin">
      <b-table-simple small>
        <b-tr>
          <b-td>User</b-td>
          <b-td><a :href='`/user/${user.uid}`'>{{user.email}}</a></b-td>
        </b-tr>
        <b-tr>
          <b-td>UID</b-td>
          <b-td><a target="_blank" :href="`https://console.firebase.google.com/u/0/project/${CONFIG.firebase_config.projectId}/database/firestore/data~2Fusers~2F${user.uid}/`">{{user.uid}}</a></b-td>
        </b-tr>
      </b-table-simple>
    </b-alert>

    <b-card class="mb-3">
      <h5 class='text-left'>Account</h5>
      <b-form-group label="Email">
        <b-form-row>
          <b-col><span>{{user.email}}</span></b-col>
        </b-form-row>
      </b-form-group>
      <b-form-group label="Password">
        <b-form-row>
          <b-col><form><b-input type="password" v-model="new_password" placeholder="**********" autocomplete="new-password" /></form></b-col>
          <b-col><b-button variant="outline-primary" @click="update_password">Update</b-button></b-col>
        </b-form-row>
      </b-form-group>
      <b-form-group>
        <b-button variant="outline-primary" @click="logout">Logout</b-button>
      </b-form-group>
    </b-card>

    <b-card class="mb-3">
      <h5 class='text-left'>Payment Details</h5>
      <SelectCard :user_profile="user_profile" :show_add_card="true" ref="select_card" class="mb-3"/>

      <b-table-simple bordered>
        <b-tr v-if="user_profile.currency">
          <b-td>Currency</b-td>
          <b-td>{{user_profile.currency.toUpperCase()}}</b-td>
        </b-tr>
        <b-tr>
          <b-td>Tax rate</b-td>
          <b-td>{{tax_rate}} (Country {{user_profile.country}})</b-td>
        </b-tr>
        <b-tr v-if="user_profile.credit_subscription">
          <b-td>
            Credit Subscription
            <i class="fas fa-question-circle" v-b-tooltip.hover title="Credit added at the end of each billing period. Additional usage charged on top. Does not include local taxes."></i>
          </b-td>
          <b-td>{{user_profile.credit_subscription / 100 | currency(user_profile.currency_symbol)}}</b-td>
        </b-tr>
        <b-tr>
          <b-td>Credit</b-td>
          <b-td>{{(user_profile.credit || 0) / 100 | currency(user_profile.currency_symbol)}}</b-td>
        </b-tr>
        <b-tr v-if="user_profile.billing_period_start_date">
          <td>Current billing period</td>
          <td>{{display_timestamp(user_profile.billing_period_start_date, true)}} to {{display_timestamp(user_profile.billing_period_end_date, true)}} ({{user_profile.billing_period_recipients_count || 0}} recipients)</td>
        </b-tr>
      </b-table-simple>

      <p class="text-muted text-center">Learn more about billing at the <a class="text-muted" target="_blank" href='https://support.scribeless.co/billing-and-payments'><u>support page</u></a>.</p>
    </b-card>

    <b-card class="mb-3">
      <h5 class='text-left'>Invoices</h5>
      <InvoiceTable :user_profile="user_profile" />
    </b-card>

    <b-card class="mb-3">
      <h5 class='text-left'>Referral link</h5>
      <p>Inviting your friends to try out Scribeless</p>
        <b-form-row>
          <b-col>
            <b-input-group>
              <b-form-input v-model='uid' readonly id='referral-code'></b-form-input>
              <b-input-group-append>
                <LoadingButton variant="outline-primary" @click='copy_referral_code'>Copy link</LoadingButton>
              </b-input-group-append>
            </b-input-group>
          </b-col>
          <b-col></b-col>
        </b-form-row>
    </b-card>

    <b-card class="mb-3">
      <h5 class='text-left'>Integrations</h5>
      <p>Use our API and CRM integrations to deliver notes based on customer activity. View the <a target="_blank" href="https://support.scribeless.co/integrations"><u>documentation to learn more</u></a>.</p>
      <p>API Key: <code>{{user_profile.api_key}}</code></p>

      <b-card-group deck>
        <b-card img-src="/static/images/hubspot-logo.svg" class="text-center col-md-4 px-5 pt-4" img-height="100px">
          <div v-if="user_profile.hubspot_integration_doc && user_profile.hubspot_integration_doc.id">
            <span>Connected to: Hubspot {{user_profile.hubspot_integration_doc.id}}</span>
            <LoadingButton @click="disconnect_hubspot" variant="danger">Disconnect</LoadingButton>
          </div>
          <div v-else>
            <LoadingButton @click="connect_hubspot" :loading="hubspot_connecting">Connect</LoadingButton>
          </div>
        </b-card>

        <b-card img-src="/static/images/shopify-logo.svg" class="text-center col-md-4 px-5 pt-4" img-height="100px">
          <LoadingButton href="https://apps.shopify.com/scribeless" target="_blank">Connect</LoadingButton>
        </b-card>

        <b-card img-src="/static/images/zapier-logo.svg" class="text-center col-md-4 px-5 pt-4" img-height="100px">
          <LoadingButton href="https://zapier.com/app-directory/scribeless/integrations" target="_blank">Connect</LoadingButton>
        </b-card>
      </b-card-group>

      <b-card-group deck class="mt-3">
        <b-card img-src="/static/images/rest-api-logo.png" class="text-center col-md-4 px-5 pt-4" img-height="100px">
          <b-button href="https://support.scribeless.co/api" target="_blank">Read Docs</b-button>
        </b-card>
        <b-card border-variant="white" class="text-center col-md-4 px-5 pt-4"></b-card>
        <b-card border-variant="white" class="text-center col-md-4 px-5 pt-4"></b-card>
      </b-card-group>

      <br>
      <p class="text-muted text-center">Want us to connect to another application? <a class="text-muted" target="_blank" href='https://support.scribeless.co/kb-tickets/new'><u>Contact us</u></a></p>

      </b-card>

    <b-card class="mb-3">
      <h5 class='text-left'>Your Address</h5>
      <b-form-row>
        <b-col>
          <AddressInput v-model="user_profile.address" ref="address" class="mb-3"/>
          <b-button variant="outline-primary" @click="update_address">Update</b-button>
        </b-col>
        <b-col></b-col>
      </b-form-row>
    </b-card>

  </b-container>
</template>

<script>
import { auth, db } from '@/lib/firebase.js'
import config from '@/lib/config.js'
import pricing from '../lib/pricing.js'
import SelectCard from '@/components/SelectCard'
import AddressInput from '@/components/AddressInput'
import LoadingButton from '@/components/LoadingButton'
import InvoiceTable from '@/components/InvoiceTable'
import PriceTable from '../components/PriceTable'

export default {
  name: 'Account',
  components: {SelectCard, AddressInput, LoadingButton, InvoiceTable, PriceTable},
  data () {
    return {
      hubspot_connecting: false,
      stripe_options: {
        iconStyle: 'solid',
        style: {
          base: {
            iconColor: '#c4f0ff',
            color: '#fff',
            fontWeight: 500,
            fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',

            ':-webkit-autofill': {
              color: '#fce883'
            },
            '::placeholder': {
              color: '#87BBFD'
            }
          },
          invalid: {
            iconColor: '#FFC7EE',
            color: '#FFC7EE'
          }
        }
      },
      new_password: '',
      user: auth.currentUser,
      complete: false // TODO
    }
  },
  props: {
    logged_in: {
      type: Boolean
    },
    do_logout: {
      type: Boolean
    },
    user_profile: {
      type: Object
    },
    price_table: {
      type: Object
    }
  },
  computed: {
    uid: function () {
      let uid = auth.currentUser.uid
      return 'https://app.scribeless.co/?sign-up-request&referral=' + uid
    },
    tax_rate: function () {
      if (this.user_profile) {
        return pricing.caluclate_customer_tax_rate(this.user_profile)
      }

      return ''
    }
  },
  methods: {
    connect_hubspot: async function () {
      // this.hubspot_connecting = true
      // await api.set_hubspot_connection_session(auth.currentUser.uid)
      window.open(`${config.firebase_config.functions}/hubspot/install?uid=${auth.currentUser.uid}`, '_blank')
      // this.hubspot_connecting = false
    },
    disconnect_hubspot: async function () {
      await db.collection('hubspot').doc(this.user_profile.hubspot_integration_doc.id).delete()
      await db.collection('users').doc(auth.currentUser.uid).update({hubspot_integration_doc: null, updated: new Date(), updated_by: this.user_profile.id})
    },
    async update_address () {
      var valid_address = this.$refs.address.validate()
      if (!valid_address) {
        return
      }

      var address = [this.user_profile.address.address_line_1, this.user_profile.address.address_line_2].join('\n').trim()

      var _hsq = window._hsq = window._hsq || []
      _hsq.push(['identify', {
        email: this.user_profile.email,
        address: address,
        city: this.user_profile.address.city || null,
        zip: this.user_profile.address.postcode,
        country: this.user_profile.address.country,
        state: this.user_profile.address.region
      }])
      _hsq.push(['trackPageView'])

      await db.collection('users').doc(auth.currentUser.uid).update({
        first_name: this.user_profile.address.first_name || null,
        last_name: this.user_profile.address.last_name || null,
        address: {
          first_name: this.user_profile.address.first_name || null,
          last_name: this.user_profile.address.last_name || null,
          address_line_1: this.user_profile.address.address_line_1 || null,
          address_line_2: this.user_profile.address.address_line_2 || null,
          city: this.user_profile.address.city || null,
          postcode: this.user_profile.address.postcode || null,
          country: this.user_profile.address.country || null,
          region: this.user_profile.address.region || null
        },
        updated: new Date(),
        updated_by: this.user_profile.id
      })

      this.$swal('Success', 'Successfully updated address.', 'success')
    },
    copy_referral_code () {
      let referral_code = document.querySelector('#referral-code')
      referral_code.setAttribute('type', 'text')
      referral_code.select()

      try {
        var success = document.execCommand('copy')
        var status = success ? 'success' : 'error'
        if (status === 'success') {
          this.$swal('Success', 'Successfully copied referral.', 'success')
        }
      } catch (err) {
        alert('Whoops! Something went wrong')
      }
    },
    async update_password () {
      try {
        // var user = await auth.currentUser.updatePassword(this.new_password)
        this.$swal('Success', 'Successfully updated password.', 'success')
      } catch (err) {
        if (err.code === 'auth/requires-recent-login') {
          this.$swal('Info', 'We need to reauthenticate you before updating your password. Please log back in.', 'info')
          auth.signOut()
        } else {
          this.$swal('Error', err.message, 'error')
        }
      }
    },
    logout () {
      auth.signOut()
    }
  }
}
</script>
