<template>
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <h4 class="page-title">Batches</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="row mb-2">
                        <div class="col-sm-4">
                            <LoadingButton variant="outline-primary" @click="send_to_batches" :loading="send_to_batches_loading">Batch campaigns</LoadingButton>
                        </div>

                    </div> -->
                    <div class="row mb-3" v-if="user_profile.role !== 'viewer'">
                        <div class="col-md-12">
                            <label class="d-inline-flex align-items-center">
                                Show&nbsp;
                                <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                            </label>
                            <label class="d-inline-flex align-items-center">
                                Search:
                                <b-form-input v-model="filter" type="search" placeholder="Search..." class="form-control form-control-sm ml-2"></b-form-input>
                            </label>
                            <div class="float-right" v-if="user_profile.role !== 'viewer'">
                                <LoadingButton variant="outline-primary" @click="send_to_batches" :loading="send_to_batches_loading">Batch campaigns</LoadingButton>

                            </div>
                        </div>

                    </div>
                    <p class="float-right sub-header">Run automatically daily at 02:00 GMT
                    </p>

                    <div class="table-responsive">
                        <!-- <b-table show-empty empty-filtered-text="No batches" empty-text="No batches" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :current-page="current_page" :per-page="per_page" :items="batches" :fields="fields" @filtered="on_filtered"> -->
                        <b-table hover @filtered="on_filtered" show-empty empty-filtered-text="No batches" empty-text="No batches" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :current-page="current_page" :per-page="per_page" :tbody-tr-class="row_class" :filter-included-fields="filterOn" :items="batches" :fields="fields" :filter="filter" class="table" ref="table">

                            <template v-slot:cell(created)="row">
                                {{ display_timestamp(row.value) }}
                            </template>
                            <template v-slot:cell(status)="row">
                                <span v-if="row.value" :class="row.value.toLowerCase().replace(/ /g, '_')">{{row.value}}</span>
                            </template>
                            <template v-slot:cell(printer_doc)="row">
                                <span v-if="row.value && row.value.id"><a :href="`/printer/${row.value.id}`">{{row.value.name}}</a></span>
                            </template>
                            <template v-slot:cell(actions)="row">
                                <b-button variant="outline-primary" :to="{name: 'Batch', params: {id: row.item.id}}">View</b-button>
                            </template>
                        </b-table>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <b-row v-if="total_rows >= per_page">
      <b-col md="6" class="my-1">
        <b-pagination
          v-model="current_page"
          :total-rows="total_rows"
          :per-page="per_page"
          :hide-goto-end-buttons="true"
          :limit="3"
          @change="change_page"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row> -->

    <b-alert variant="info" :show="batches.length >= limit && show_load_all" class="text-center">
        <p>By default we only show your first {{limit}} batches, this stops the page from slowing down. Click the button to load all your batches. Note your page may slow down. This may take a few seconds.</p>
        <b-button variant="outline-primary" @click="load_batches()">Load all</b-button>
    </b-alert>

</div>
</template>

<script>
import {
  db,
  functions
} from '@/lib/firebase.js'
import LoadingButton from '@/components/LoadingButton'

const fields = [{
  key: 'created',
  label: 'Created',
  sortable: true

},
{
  key: 'printer_doc',
  label: 'Printer',
  sortable: true

},
{
  key: 'status',
  label: 'Status',
  sortable: true

},
{
  key: 'count',
  label: 'Recipients',
  sortable: true

},
{
  key: 'actions',
  label: 'Actions'

}
]
export default {
  name: 'BatchList',
  props: ['user_profile'],
  components: {
    LoadingButton
  },
  firestore () {
    return {
      batches: db.collection('batches').orderBy('created', 'desc').limit(this.limit)
    }
  },
  data: () => ({
    current_page: 1,
    per_page: 10,
    // total_rows: 1,
    fields: fields,
    batches: [],
    show_load_all: true,
    limit: 10,
    send_to_batches_loading: false,
    sortBy: 'created',
    sortDesc: true,
    pageOptions: [5, 10, 50, 100],
    filter: null,
    filterOn: []
  }),
  computed: {
    total_rows () {
      if (this.batches) {
        return this.batches.length
      }
      return 0
    }
  },
  methods: {
    on_filtered (filtered_items) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.total_rows = filtered_items.length
    },
    async send_to_batches () {
      this.send_to_batches_loading = true
      await functions.httpsCallable('send_to_batches')()
      this.send_to_batches_loading = false
    },
    load_batches: function (limit) {
      let query = db.collection('batches').orderBy('created', 'desc')

      if (limit) {
        query = query.limit(limit)
      } else {
        this.show_load_all = false
      }

      this.$bind('batches', query)
    }
  }
}
</script>

<style scoped>
.ready_to_ship {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #4BBF73;
    color: #fff;
}

.shipped {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #4BBF73;
    color: #fff;
}

.pending {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #f0ad4e;
    color: #fff;
}

.error {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #d9534f;
    color: #fff;
}
</style>
