<template>
<div class="col-12" v-if="!loading">
    <b-alert :show="campaign && campaign.status === CAMPAIGN_STATUS.deleted" class="position-fixed fixed-top m-0 rounded-0 text-center" variant="danger" dismissible>
        This campaign has been deleted
    </b-alert>

    <b-alert variant="warning" :show="campaign.testing">
        This is a test campaign created via the API, you will not be charged
    </b-alert>
    <div style="padding-top:20px">
        <b-alert variant="danger" :show="user_profile.admin">
            <b-button v-b-toggle.collapse-1 variant="outline-danger">Show Admin Controls</b-button>
            <b-collapse id="collapse-1" class="mt-2">

                <b-table-simple bordered table-variant='light' small>
                    <b-tr v-if="campaign_user_profile">
                        <b-td>User</b-td>
                        <b-td><a :href='`/user/${campaign.uid}`'>{{campaign_user_profile.email}}</a> ({{campaign.uid}})</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Stationery ID</b-td>
                        <b-td><a :href="`https://console.firebase.google.com/u/0/project/${CONFIG.firebase_config.projectId}/database/firestore/data~2Fstationary~2F${campaign.stationary}`" target="_blank">{{campaign.stationary}} <i class="fas fa-external-link-alt"></i></a></b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Sender</b-td>
                        <b-td>{{campaign.delivery.sender}}</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Sender Address</b-td>
                        <b-td>{{campaign.delivery.user_address.first_name}} {{campaign.delivery.user_address.last_name}}<br>{{campaign.delivery.user_address.job_title}} - {{campaign.delivery.user_address.organisation}}<br>{{campaign.delivery.user_address.address_line_1}}<br>{{campaign.delivery.user_address.address_line_2}}<br>{{campaign.delivery.user_address.city}}<br>{{campaign.delivery.user_address.postcode}}<br>{{campaign.delivery.user_address.country}}</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Include Return Address</b-td>
                        <b-td>{{campaign.delivery.include_return_address}}</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Inserts</b-td>
                        <b-td>{{campaign.envelope.inserts}}</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Product</b-td>
                        <b-td>{{campaign.product}}</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Source</b-td>
                        <b-td>{{campaign.source}}</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Is sample</b-td>
                        <b-td>{{campaign.is_sample}}</b-td>
                    </b-tr>
                    <b-tr v-if="stationary">
                        <b-td>Handwriting</b-td>
                        <b-td>{{stationary.handwriting_style}}</b-td>
                    </b-tr>
                    <b-tr v-if="campaign.first_recipient_mockup">
                        <b-td>Mockup</b-td>
                        <b-td><a :href="campaign.first_recipient_mockup" target="_blank">View here</a></b-td>
                    </b-tr>
                </b-table-simple>

                <b-form-group label="Status" label-cols="4">
                    <b-form-select v-model="campaign.status" :options="Object.values(CAMPAIGN_STATUS)" @change='update_campaign()' />
                </b-form-group>

                <b-form-group label="Print Override location" label-cols="4">
                    <b-form-select class="col-md-11" v-model="campaign.print_override_location" :options="printer_ids" @change="update_campaign()" />
                </b-form-group>

                <b-form-group v-if="stationary" label="stationary background image" label-cols="4">
                    <b-input v-model="stationary.background" readonly />
                    <b-form-file @change="new_background_change" placeholder="Replace background" accept="image/*" />
                </b-form-group>

                <b-form-group v-if="stationary" label="stationary back image" label-cols="4">
                    <b-input v-model="stationary.back_image" readonly />
                    <b-form-file @change="new_back_image_change" placeholder="Replace back image" accept="image/*" />
                </b-form-group>

                <b-form-group v-if="stationary" label="Include country name on envelope" label-cols="4">
                    <b-form-select v-model="campaign.delivery.include_country_name" :options="[true, false]" @change='update_campaign()' />
                </b-form-group>

                <b-form-group>
                    <b-form-textarea v-model="campaign.notes" rows="3" placeholder="Campaign Notes" @change='update_campaign()' />
                </b-form-group>

                <b-form-group>
                    <b-button variant="danger" @click='delete_campaign'>Delete</b-button>
                    <b-button variant="danger" @click='retry_failed_renders'>retry failed renders</b-button>
                    <b-button variant="danger" @click='rezip'>rezip</b-button>
                </b-form-group>
            </b-collapse>
        </b-alert>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box" style="background-color:#f2f2f5">
                <b-row>
                    <div class="col-6 mr-4" style="background-color:white">
                        <b-col>
                            <!-- <h5 class="text-uppercase mt-3 mb-3 ml-3 bg-light p-2">Campaign Preview</h5> -->
                            <h5 class="text-uppercase mt-4 mb-3  bg-light p-2">Campaign Summary</h5>

                            <h5 class='text-left' v-if="!editing">{{campaign.title}}</h5>
                            <b-input v-else v-model="campaign_edit_title" class="mb-3" />

                            <div class="highlight-container mb-3">
                                <div class="highlight-block">
                                    <div class="highlight-message" v-html="highlighted_text">
                                    </div>
                                </div>
                                <b-form-textarea v-if="campaign_edit_text !== null" @scroll="handle_message_scroll" rows="8" :readonly="!editing" v-model="campaign_edit_text" class="mb-3 message" ref="message" id="message" />
                            </div>

                            <!--<b-form-textarea v-if="campaign_edit_text !== null" rows="8" :readonly="!editing" v-model="campaign_edit_text" class="mb-3" />  -->
                            <CampaignSummary :campaign="campaign" :stationary="stationary" :show_testing="true" :user_profile="user_profile" />

                            <p class="text-muted">Any problems with your order? <a href="https://support.scribeless.co/kb-tickets/new">Contact us.</a></p>

                            <b-col>
                                <b-row>
                                    <LoadingButton v-if="stationary" variant="secondary" :loading="duplicate_loading" @click="duplicate" class="mr-3">Duplicate Campaign</LoadingButton>
                                    <b-form-group v-if="!editing">
                                        <b-button variant="outline-primary" @click="start_editing">Edit</b-button>
                                    </b-form-group>
                                    <b-form-group v-else>
                                        <b-button variant="danger" @click="save_edits(false)">Cancel</b-button>
                                        <b-button variant="success" @click="save_edits(true)">Save</b-button>
                                    </b-form-group>
                                </b-row>
                            </b-col>
                        </b-col>
                    </div>

                    <b-col class="preview-col" ref="stationary_image">
                        <b-card v-if="stationary.paper.key === 'A5'">
                            <h5 class="text-uppercase mt-1 mb-3 ml-2 bg-light p-2">Campaign Preview</h5>
                            <!-- <img v-if="stationary && stationary.thumbnail" class="paper-preview" :src="stationary.thumbnail"/> -->
                            <StationaryItem style="padding-left:15%" v-if="stationary" :user_profile="user_profile" :stationary="stationary" :full_width="true" :show_deleted="false" />
                        </b-card>
                        <b-card v-else>
                            <h5 class="text-uppercase mt-1 mb-3 ml-2 bg-light p-2">Campaign Preview</h5>
                            <StationaryItem v-if="stationary" :user_profile="user_profile" :stationary="stationary" :full_width="true" :show_deleted="false" />
                        </b-card>
                    </b-col>

                </b-row>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-box">
                            <div>
                                <div>
                                    <h5 class='text-left'>Recipients</h5>
                                    <hr>
                                </div>

                                <div>
                                    <RecipientsTable :stationary="stationary" :campaign="campaign" :recipients_ref="recipients_ref" :user_profile="user_profile" :show_pdfs="(campaign.product === PRODUCT.self_service)" :filter_recipients="filter_recipients" id="recipients_table" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
            <div class="card">
                <div class="card-body" dir="ltr">
                    <div class="card-widgets">
                        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                        <a data-toggle="collapse" href="#cardCollpase1" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>
                        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                    </div>
                    <h4 class="header-title mb-0">Batch</h4>

                    <div id="cardCollpase1" class="collapse pt-3 show">
                        <div class="text-center mb-2">
                            <campaign-status-chart v-if="user_profile.admin" :campaign="campaign"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->
            </div>
        </div>
    </div>

    <!-- <AuditTable :audit_ref="audit_ref" :user_profile="user_profile " /> -->
</div>
</template>

<script>
/* eslint no-unused-vars: 'off' */
import {
  db,
  auth,
  functions,
  storage
} from '@/lib/firebase.js'
import CampaignSummary from '@/components/CampaignSummary'
import LoadingButton from '@/components/LoadingButton'
import RecipientsTable from '@/components/RecipientsTable'
import StationaryItem from '../components/StationaryItem'
import AuditTable from '@/components/AuditTable'
import CampaignStatusChart from '@/components/CampaignStatusChart'
import {
  CAMPAIGN_STATUS,
  RECIPIENT_STATUS
} from '../../functions/shared/constants.js'
import api from '../services/api.js'
import text_utils from '../lib/text_utils'

export default {
  name: 'Campaign',
  props: ['user_profile'],
  firestore () {
    let campaign_id = this.$route.params.id

    let out = {
      campaign: db.collection('campaigns').doc(campaign_id)
    }

    if (this.user_profile.admin) {
      out['printers'] = db.collection('printers').orderBy('created', 'desc')
    }

    return out
  },
  components: {
    CampaignSummary,
    LoadingButton,
    RecipientsTable,
    StationaryItem,
    AuditTable,
    CampaignStatusChart
  },
  watch: {
    campaign: {
      deep: true,
      handler: function (val) {
        this.campaign_edit_title = val.title
        // this.campaign_edits.text = val.text
        this.campaign_edit_text = val.text //
        this.highlighted_text = text_utils.textarea_variable_highlight(val.text) // for text highlighting

        if (val.stationary_required) {
          if (this.stationary && !this.stationary.handwriting_style) {
            this.$bind('stationary', db.collection('stationary').doc(val.stationary))
          }
        } else {
          this.loading = false
        }

        if (this.user_profile.admin && !this.campaign_user_profile.id) {
          this.$bind('campaign_user_profile', db.collection('users').doc(val.uid))
        }
      }
    },
    stationary: {
      deep: true,
      handler: function (val) {
        this.loading = false
      }
    },
    campaign_edit_text: {
      handler (val) {
        this.highlighted_text = text_utils.textarea_variable_highlight(val)
      }
    }
  },
  methods: {
    handle_message_scroll () {
      let textarea_ele = document.querySelector('.message')
      let highlight_block_ele = document.querySelector('.highlight-block')
      let scrollTop = textarea_ele.scrollTop
      highlight_block_ele.scrollTop = scrollTop
    },
    async new_background_change (e) {
      if (e.target && e.target.files && e.target.files.length) {
        let snapshot = await storage.ref().child(`stationary/${this.stationary.id}/background.jpg`).put(e.target.files[0])
        this.stationary.background = await snapshot.ref.getDownloadURL()
        this.update_stationary()
      }
    },
    async new_back_image_change (e) {
      if (e.target && e.target.files && e.target.files.length) {
        let snapshot = await storage.ref().child(`stationary/${this.stationary.id}/back_image.jpg`).put(e.target.files[0])
        this.stationary.back_image = await snapshot.ref.getDownloadURL()
        this.update_stationary()
      }
    },
    start_editing: function () {
      this.editing = true
      this.$swal('Editing Campaigns', 'Edits to campaigns will only affect new recipients', 'info')
    },
    save_edits: function (do_save) {
      if (do_save) {
        this.campaign.title = this.campaign_edit_title
        this.campaign.text = this.campaign_edit_text
        this.update_campaign()
      } else {
        this.campaign_edit_title = this.campaign.title
        this.campaign_edit_text = this.campaign.text
      }

      this.editing = false
    },
    update_campaign: async function () {
      this.campaign.updated = new Date()
      this.campaign.updated_by = this.user_profile.id

      if (this.campaign.print_override_location === '') {
        this.campaign.print_override_location = null
      }

      await this.$firestoreRefs.campaign.update(this.campaign)
      this.$bvToast.toast('Updated', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
    },
    update_stationary: async function () {
      this.stationary.updated = new Date()
      this.stationary.updated_by = this.user_profile.id
      await this.$firestoreRefs.stationary.update(this.stationary)
      this.$bvToast.toast('Updated', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
    },
    delete_campaign: async function () {
      let recipient_docs = await this.recipients_ref.get()
      let proms = []

      let result = await this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      })

      if (!result.value) {
        return
      }

      await this.$firestoreRefs.campaign.update({
        status: CAMPAIGN_STATUS.deleted,
        updated: new Date(),
        updated_by: this.user_profile.id
      })
      this.$swal('Success', 'Deleted', 'success')
      this.$router.push({
        name: 'CampaignList'
      })
    },
    retry_failed_renders: function () {
      functions.httpsCallable('retry_failed_renders')()
      this.$bvToast.toast('Updated', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
    },
    rezip: function () {
      db.collection('campaigns').doc(this.campaign.id).update({
        zip: false,
        updated: new Date(),
        updated_by: this.user_profile.id
      })
      this.$bvToast.toast('Updated', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
    },
    async duplicate () {
      // :to="{name: 'NewCampaign', params: {id: stationary.id, from_campaign: campaign, from_recipients: recipients}}"

      this.duplicate_loading = true

      var recipients = {}
      var recipient_docs = await db.collection('campaigns').doc(this.campaign.id).collection('recipients').orderBy('created').get()
      recipient_docs.forEach((doc) => {
        var recipient = doc.data()
        recipient['id'] = doc.id
        recipients[doc.id] = recipient
      })

      recipients = Object.values(recipients) // Use map to deduplicate

      console.log(recipients.length)

      this.duplicate_loading = false

      this.$router.push({
        name: 'NewCampaign',
        params: {
          id: this.campaign.stationary ? this.campaign.stationary : 'new',
          from_campaign: this.campaign,
          from_recipients: recipients
        }
      })
    }
  },
  data () {
    return {
      printers: [],
      campaign: {
        envelope: {},
        delivery: {
          user_address: {}
        }
      },
      campaign_user_profile: {},
      stationary: {
        paper: {}
      },
      loading: true,
      duplicate_loading: false,
      recipients_ref: db.collection('campaigns').doc(this.$route.params.id).collection('recipients'),
      editing: false,
      // campaign_edits: {},
      filter_recipients: {
        recipient_id: this.$route.query.recipient ? this.$route.query.recipient : null
      },
      highlighted_text: '',
      has_text_scroll_event: false, // For scrolling the textarea with the highlighted text
      campaign_edit_text: '',
      campaign_edit_title: ''
    }
  },
  computed: {
    audit_ref: function () {
      return db.collection('campaigns').doc(this.$route.params.id).collection('audit')
    },
    printer_ids: function () {
      let printer_ids = {
        '': 'Automatically assign to printer',
        'None': 'None - do not add to any printers batch'
      }
      for (let printer of this.printers) {
        printer_ids[printer.id] = printer.name
      }
      return printer_ids
    }
  }
}
</script>

<style scoped>
.preview-col {
    /* display: flex;
  align-items: center;
  justify-content: center; */
    background-color: white;
    padding-left: 0;
    padding-top: 5px;
}

.paper-preview {
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 16px #BBB;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align horizontal */
    /* align-items: center; /* align vertical */
    */ height: 100%;
    max-width: 100%;
}

.highlight-container,
.highlight-block,
.message {
    width: 100%;
    height: 180px;
}

.highlight-message,
.message {
    padding: 0.45rem 0.9rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

.highlight-container {
    display: block;
    margin: 0 auto;
    transform: translateZ(0);
    -webkit-text-size-adjust: none;
}

.highlight-block {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.highlight-message {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #6c757d;
}

.message {
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
    border-radius: 0.2rem;
    /*color: #6c757d; */
    color: transparent;
    caret-color: #6c757d;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
    border: 1px solid #ced4da;
    cursor: black;
}

.highlight-message>>>mark.highlight {
    border-radius: 6px;
    background-color: #e0d2ff;
    color: #7e5ec2;
    padding: 0 3px;
}
</style>
