<template>
  <b-container class='content-container' v-if="!loading">

    <h3>Create a Campaign</h3>
    <p>Select a campaign type from the list to create a new campaign.</p>

    <b-alert v-if="user_profile.samples_left > 0" variant="info" show class="text-center">
      <p>Get a free sample sent to you to see our technology in action</p>
      <b-button variant="light" id="create_sample" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: true}}">Get Free Sample</b-button>
    </b-alert>

    <b-row class="mt-3">
      <router-link class="list-item" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false}}">
        <img src="/static/images/envelope-and-note.png" class="mx-2 mb-3 stationary-thumbnail" />
      </router-link>

      <router-link v-if="user_profile.products_enabled && user_profile.products_enabled.indexOf(PRODUCT.full_service_envelope_only) > -1" class="list-item" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false, requires_stationery: false}}">
        <img src="/static/images/envelope-new2.png" class="mx-2 mb-3 stationary-thumbnail" />
      </router-link>

      <router-link v-if="user_profile.products_enabled && user_profile.products_enabled.indexOf(PRODUCT.full_service_note_only) > -1" class="list-item" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false, requires_envelope: false}}">
        <img src="/static/images/note-new.png" class="mx-2 mb-3 stationary-thumbnail" />
      </router-link>
    </b-row>

    <b-row v-if="user_profile.products_enabled && user_profile.products_enabled.indexOf(PRODUCT.self_service) > -1">
      <router-link class="list-item" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false, product: PRODUCT.self_service}}">
        <img src="/static/images/envelope-and-note-printed.png" class="mx-2 mb-3 stationary-thumbnail" />
      </router-link>

      <router-link class="list-item" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false, requires_stationery: false, product: PRODUCT.self_service}}">
        <img src="/static/images/envelope-new2-printed.png" class="mx-2 mb-3 stationary-thumbnail" />
      </router-link>

      <router-link class="list-item" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false, requires_envelope: false, product: PRODUCT.self_service}}">
        <img src="/static/images/note-new-printed.png" class="mx-2 mb-3 stationary-thumbnail" />
      </router-link>
    </b-row>

    <hr>
    <h3>Your Campaigns</h3>
    <p>Select from the list of campaigns to view details.</p>

    <b-alert variant="danger" :show="user_profile.admin" >
      <b-form inline>

        <label class="mr-3">Show API tests</label>
        <b-form-group class="mr-3">
          <b-form-radio-group buttons button-variant="outline-primary" v-model="filter_by.show_api_tests" :options="[true, false]"/>
        </b-form-group>

        <label class="mr-3">Status</label>
        <b-form-group class="mr-3">
          <b-form-select v-model="filter_status" :options="campaign_statuses" />
        </b-form-group>

        <label class="mr-3">Users</label>
        <b-form-group class="mr-3">
          <b-form-select v-model="filter_users" :options="['All', 'Just me']" />
        </b-form-group>

        <b-form-group class="mr-3">
          <b-button variant="outline-primary" @click="do_filter">Filter</b-button>
        </b-form-group>
      </b-form>
    </b-alert>
    <!-- <b-row class="mb-3">
      <b-col>

      </b-col>
      <b-col class="text-right">
        <b-button variant="secondary" id="create_sample" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false}}">New campaign <i class="fas fa-plus-circle" /></b-button>

        <b-dropdown variant="secondary" text="New campaign">
          <b-dropdown-item :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false}}">Handwritten notes and envelopes</b-dropdown-item>
          <b-dropdown-item :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false, envelope_only: true}}">Handwritten envelopes only</b-dropdown-item>
        </b-dropdown>
      </b-col>
    </b-row> -->

    <!-- <div v-if="first_campaign">
      <b-alert variant="info" show class="text-center">
        <p>You have not created any campaigns yet, create your first campaign.</p>
        <b-button variant="secondary" id="create_sample" :to="{name: 'NewCampaign', params: {id: 'new', is_sample: false}}">New campaign <i class="fas fa-plus-circle" /></b-button>
      </b-alert>
    </div> -->
    <div v-if="!first_campaign">
      <b-table hover bordered head-variant="dark" @filtered="on_filtered" show-empty empty-filtered-text="No campaigns" empty-text="No campaigns" :current-page="current_page" :per-page="per_page" :tbody-tr-class="row_class" :items="items" :fields="fields" :filter="filter_by" class="text-center" ref="table">

        <template slot="status" slot-scope="row">
          <span :class="row.value.toLowerCase().replace(/ /g, '_')">{{row.value}}</span>
        </template>

        <template slot="created" slot-scope="row">
          {{ display_timestamp(row.value) }}
        </template>

        <template slot="due_date" slot-scope="row">
          {{ display_timestamp(row.item.delivery.due_date, true) }}
        </template>

        <template slot="uid" slot-scope="row" v-html="html">
          <span v-html="display_user(row.value)"></span>
        </template>

        <template slot="is_sample" slot-scope="row">
          <span v-if="row.value" class="text-center"><span class="fa fa-check" /></span>
          <span v-else></span>
        </template>

        <template slot="actions" slot-scope="row">

          <b-dropdown variant="outline-primary" text="Actions">
            <b-dropdown-item :to="{name: 'Campaign', params: {id: row.item.id}}">View</b-dropdown-item>
            <b-dropdown-item @click="duplicate(row.item)">Duplicate</b-dropdown-item>
          </b-dropdown>

        </template>

      </b-table>

      <b-row v-if="total_rows >= per_page">
        <b-col md="6" class="my-1">
          <b-pagination
            v-model="current_page"
            :total-rows="total_rows"
            :per-page="per_page"
            :hide-goto-end-buttons="true"
            :limit="3"
            @change="change_page"
            class="my-0"
          ></b-pagination>
        </b-col>
      </b-row>
    </div>
  </b-container>
</template>

<script>
/* eslint no-unused-vars: "off" */
import { db, auth } from '@/lib/firebase.js'
import { CAMPAIGN_STATUS, RECIPIENT_STATUS, PRODUCT } from '../../functions/shared/constants.js'

// Load campaigns
// Load relevent users
// If load more campaigns, load more users
// cache

export default {
  name: 'CampaignList',
  props: ['user_profile'],
  firestore () {
    this.bind_query()
    return {}
  },
  async created () {
    var campaigns_query = db.collection('campaigns').orderBy('last_updated')
    if (!this.user_profile.admin) {
      campaigns_query = campaigns_query.where('uid', '==', this.user_profile.id)
    }

    var query = await campaigns_query.limit(1).get()
    if (query.empty) {
      this.first_campaign = true
    } else {
      this.first_campaign = false
    }

    this.loading = false
  },
  watch: {
    campaigns: {
      deep: true,
      handler: function (val) {
        this.items = []
        let load_users = []
        for (let i = 0; i < this.campaigns.length; i++) {
          let campaign = this.campaigns[i]

          if (!this.loaded_users[campaign.uid]) {
            load_users.push(campaign.uid)
          }

          if (!this.user_profile.admin && campaign.status === CAMPAIGN_STATUS.deleted) {
            continue
          }

          this.items.push(campaign)
        }

        if (this.user_profile.admin) {
          let proms = []
          for (let uid of load_users) {
            proms.push(db.collection('users').doc(uid).get().then(function (doc) { this.loaded_users[doc.id] = doc.data() }.bind(this)))
          }

          Promise.all(proms).then(function () { if (this.$refs.table) { this.$refs.table.refresh() } }.bind(this))
        }

        if (this.set_page) {
          this.current_page = this.set_page; this.set_page = undefined
        }
      }
    }
  },
  data () {
    var fields = [
      { key: 'title', label: 'Title' },
      { key: 'created', label: 'Created' },
      { key: 'due_date', label: 'Due' },
      { key: 'status', label: 'Status' },
      { key: 'actions', label: 'Actions' },
      { key: 'recipients_count', label: 'Count' }
    ]

    if (this.user_profile.admin) {
      fields.splice(3, 0, { key: 'uid', label: 'User' })
      fields.splice(5, 0, { key: 'product', label: 'Product' })
      fields.splice(6, 0, { key: 'is_sample', label: 'Sample?' })
    }

    return {
      ignore_first_load: true,
      role: undefined,
      items: [],
      filter_by: {user: '', show_api_tests: this.$route.query.show_api_tests ? this.$route.query.show_api_tests : true},
      // filter_status_by: 'In progress',
      campaigns: [],
      fields: fields,
      search_filter: null,
      // total_rows: 1,
      current_page: 1,
      set_page: this.$route.query.set_page ? parseInt(this.$route.query.set_page) : undefined,
      per_page: 25,
      end_at: this.$route.query.end_at ? parseInt(this.$route.query.end_at) : 25 * 2,
      loading: true,
      first_campaign: false,
      filter_user_uid: this.$route.query.filter_user_uid ? this.$route.query.filter_user_uid : 'No user found',
      first_user_load: true,
      filter_status: this.$route.query.filter_status ? this.$route.query.filter_status : (this.user_profile.admin ? CAMPAIGN_STATUS['ready_to_ship'] : 'All'),
      loaded_users: {},
      filter_users: 'All'
    }
  },
  computed: {
    total_rows () {
      if (this.campaigns) {
        return this.campaigns.length
      }
      return 0
    },
    campaign_statuses () {
      return ['All'].concat(Object.values(CAMPAIGN_STATUS))
    }
  },
  methods: {
    async duplicate (campaign) {
      // :to="{name: 'NewCampaign', params: {id: stationary.id, from_campaign: campaign, from_recipients: recipients}}"

      this.$swal({
        title: 'Duplicating, please wait.',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: function () {
          this.$swal.showLoading()
        }.bind(this)
      })

      var recipients = {}
      var recipient_docs = await db.collection('campaigns').doc(campaign.id).collection('recipients').orderBy('created').get()
      recipient_docs.forEach((doc) => {
        var recipient = doc.data()
        recipient['id'] = doc.id
        recipients[doc.id] = recipient
      })

      recipients = Object.values(recipients) // Use map to deduplicate

      console.log(recipients.length)

      this.$swal.hideLoading()
      this.$swal.close()

      this.$router.push({ name: 'NewCampaign', params: { id: campaign.stationary ? campaign.stationary : 'new', from_campaign: campaign, from_recipients: recipients } })
    },
    do_filter () {
      this.current_page = 1

      // Set to query params
      let query = {}
      for (let k in this.$route.query) {
        query[k] = this.$route.query[k]
      }
      query['filter_status'] = this.filter_status
      if (!this.filter_by.show_api_tests) {
        query['testing'] = false
      }

      if (this.filter_user_uid !== 'No user found') {
        query['filter_user_uid'] = this.filter_user_uid
      }

      this.$router.push({path: this.$route.currentPath, query: query})

      this.bind_query()
    },
    update_filter_status () {
      this.current_page = 1
      this.set_page = undefined
    },
    bind_query () {
      var campaigns_query = db.collection('campaigns').orderBy('created', 'desc')
      if (!this.user_profile.admin) {
        if (!this.user_profile) {
          campaigns_query = campaigns_query.where('uid', '==', this.user_profile.id)
        } else {
          campaigns_query = campaigns_query.where('uid', '==', this.user_profile.id)
        }
      }

      if (!this.filter_by.show_api_tests) {
        campaigns_query = campaigns_query.where('testing', '==', false)
      }

      if (this.filter_status !== 'All') {
        campaigns_query = campaigns_query.where('status', '==', this.filter_status)
      }

      if (this.filter_users === 'Just me') {
        campaigns_query = campaigns_query.where('uid', '==', this.user_profile.id)
      }

      if (this.filter_user_uid !== 'No user found') {
        campaigns_query = campaigns_query.where('uid', '==', this.filter_user_uid)
      }

      this.$bind('campaigns', campaigns_query.limit(this.end_at))
    },
    change_page (page) {
      if ((page + 1) * this.per_page >= this.end_at) {
        this.end_at = (page + 1) * this.per_page + 1
        this.set_page = page
        this.bind_query()
      }

      let query = {}
      for (let k in this.$route.query) {
        query[k] = this.$route.query[k]
      }
      query['end_at'] = this.end_at
      query['set_page'] = page

      this.$router.push({path: this.$route.currentPath, query: query})
    },
    row_class (item, type) {
      if (!item) return
      if (item.testing) return 'table-warning'
      if (item.status === CAMPAIGN_STATUS.deleted) return 'table-danger'
    },
    display_user: function (uid) {
      for (var _uid in this.loaded_users) {
        let user = this.loaded_users[_uid]
        if (_uid === uid) {
          return `<a href="/user/${uid}" target="_blank">${user.email}</a>`
        }
      }

      return uid
    },
    on_filtered (filtered_items) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.total_rows = filtered_items.length
    }
  }
}
</script>

<style scoped>

</style>
