<template>
<div class="col-xl-12 mt-4">
  <b-card >
  <div v-if="stationary.paper">
    <b-row class="mx-3 mt-5">
      <b-col md="8">
        <StationaryPreview :stationary="stationary" :user_profile="user_profile" ref="stationary_preview"/>
      </b-col>
      <b-col md="4">
        <StationaryEdit :stationary="stationary" :user_profile="user_profile" ref="stationary_edit"/>
        <hr>
        <b-row class="float-right">
          <LoadingButton variant="link btn-lg mr-3" @click="$router.go(-1)">Cancel</LoadingButton>
          <LoadingButton variant="secondary btn-lg" @click="save_stationery">Save</LoadingButton>
        </b-row>
      </b-col>
    </b-row>
  </div>
  </b-card>

</div>
</template>

<script>
/* eslint no-return-await: "off" */
/* eslint no-unused-vars: "off" */

import Vue from 'vue'
import { db, auth, serverTimestamp } from '@/lib/firebase.js'
import StationaryPreview from '../components/StationaryPreview'
import StationaryEdit from '../components/StationaryEdit'
import LoadingButton from '../components/LoadingButton'

import api from '../services/api.js'

export default {
  name: 'Stationary',
  components: {
    StationaryPreview,
    StationaryEdit,
    LoadingButton
  },
  props: {
    user_profile: {
      type: Object,
      required: true
    }
  },
  firestore () {
    var stationary_id = this.$route.params.id

    // TODO 404 if dosn't exist

    return {
      stationary: db.collection('stationary').doc(stationary_id)
    }
  },
  methods: {
    save_stationery: async function () {
      console.log('Adding stationary', this.$firestoreRefs.stationary)
      await this.$refs.stationary_preview.save(this.$firestoreRefs.stationary, this.$refs.stationary_edit.header_logo, this.$refs.stationary_edit.back_image)

      this.$router.go(-1)
    }
  },
  mounted () {
    if (window.innerWidth > 767) {
      this.$parent.collapse_menu()
    }
  },
  beforeDestroy () {
    if (!this.$parent.isMenuCondensed && window.innerWidth > 767) {
      this.$parent.show_menu()
    }
  },
  data () {
    return {
      stationary: {}
    }
  }
}
</script>

<style scoped>

</style>
