/* eslint-disable */

<template>
<div class="col-md-12">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Your Stationery</h4>
            </div>
        </div>
    </div>

    <div class="row" v-if="loading">
      <div class="col-12">
          <b-card class="text-center">
            <b-spinner variant="primary" label="Spinning"></b-spinner>
          </b-card>
      </div>
    </div>

    <b-row v-else-if="stationary.length">
        <StationaryItem
        :user_profile="user_profile"
        v-for="stationary_item in filtered"
        v-bind:key="stationary_item.id"
        :stationary="stationary_item"
        :show_deleted="true"
    />
    </b-row>

    <div class="row" v-else>
        <div class="col-xl-12">

            <!-- Card -->
            <div class="card card-inactive">
                <div class="card-body text-center">
                    <img src="/static/images/no_stationery.svg" alt="..." class="img-fluid mt-4" style="max-width: 358px; ">

                    <!-- Title -->
                    <h2> No Stationery yet. </h2>

                    <!-- Subtitle -->
                    <p class="text-muted">
                        This page will contain the list of stationary items once you start creating campaigns
                    </p>

                    <!-- Button -->
                    <router-link to="/create" class="btn btn-primary mt-1 mb-4" v-if="user_profile.role !== 'viewer'">
                        Create New Campaign
                    </router-link>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import StationaryItem from '../components/StationaryItem'
import {
  db,
  auth
} from '@/lib/firebase.js'

export default {
  name: 'Stationary',
  components: {
    StationaryItem
  },
  props: {
    user_profile: {
      required: true
    },
    sidebar: {
      type: Object
    }
  },
  firestore () {
    return {
      stationary: db.collection('stationary').where('uid', '==', this.user_profile.uid).where('source', '==', 'interface').orderBy('last_updated', 'desc').limit(this.limit),
      stationary_templates: db.collection('stationary').where('template', '==', true).orderBy('last_updated', 'desc')
    }
  },
  data () {
    return {
      loading: true,
      stationary: [],
      stationary_templates: [],
      template_tag: undefined,
      filtered: [],
      active: true,
      sidebar_class: 'sidebar-expanded d-none d-md-block',
      limit: 25
    }
  },
  watch: {
    stationary: function (val) {
      this.filtered_stationery(this.template_tag)
    },
    stationary_templates: function () {
      this.filtered_stationery(this.template_tag)
    }
  },
  mounted () {
    this.$parent.$on('toggleNav', () => {
      this.active = !this.active
      if (this.active) {
        this.sidebar_class = 'sidebar-expanded d-none d-md-block'
      } else {
        this.sidebar_class = 'sidebar-expanded'
      }
    })

    // // Check for the initial load
    db.collection('stationary')
      .where('uid', '==', this.user_profile.uid)
      .where('source', '==', 'interface')
      .limit(1)
      .get()
      .then(_ => {})
      .catch(_ => {})
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    filtered_stationery: function (template_tag) {
      this.template_tag = template_tag

      let filtered = []

      let combined = this.stationary_templates.concat(this.stationary)
      let added = []

      for (let stationery of combined) {
        if (added.indexOf(stationery.id) > -1) {
          continue
        }

        // TODO this should really just be part of the query
        if (stationery.deleted) {
          continue
        }

        if (!this.template_tag) {
          if (!stationery.template) {
            filtered.push(stationery)
            added.push(stationery.id)
          }
        } else {
          if (this.template_tag === 'all') {
            if (!stationery.template) {
              continue
            }

            filtered.push(stationery)
            added.push(stationery.id)
          } else {
            for (let tag of (stationery.template_tags || [])) {
              // console.log(tag)
              if (tag.value === this.template_tag) {
                filtered.push(stationery)
                added.push(stationery.id)
              }
            }
          }
        }
      }
      this.filtered = filtered
    }
  },
  created () {
    this.sidebar.open = true
  },
  destroyed () {
    this.sidebar.open = false
  }
}
</script>

<style scoped>
.sidebar-container {
    height: 100%;
    border-right: 1px solid #BBB;
}

.sidebar {
    position: relative;
    background-color: #FFF;
    box-shadow: 2px -8px 8px #BBB;
    height: 100%;
    padding: 1em;
    margin-bottom: 0px;
}

</style>
