<template>
<div class="container-fluid" v-if="user_profile && user_profile.admin">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <h4 class="page-title">Analytics</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-8">

                        <form class="form-inline">
                            <label class="mr-3">From Date</label>
                            <b-form-group>
                                <b-form-input type="date" v-model="from_date" :max="max_date" />
                            </b-form-group>
                            <label class="mr-3">To Date</label>
                            <b-form-group>
                                <b-form-input type="date" v-model="to_date" :max="max_date" />
                            </b-form-group>

                            <b-form-group class="mr-3">
                                <b-button variant="outline-primary" @click="change_date">Filter</b-button>
                            </b-form-group>
                        </form>

                    </div>

                    <div class="col-lg-4">
                        <div class="text-lg-right mt-3 mt-lg-0">

                            <!-- <LoadingButton variant="outline-primary" @click="bill_users" :loading="bill_users_loading">Bill users</LoadingButton>
                            <LoadingButton variant="outline-primary" @click="sync_hubspot_invoices" :loading="sync_hubspot_invoices_loading">Sync HubSpot Invoices</LoadingButton> -->

                            <button type="button" class="btn btn-danger waves-effect waves-light">Bill Users</button>
                            <router-link :to="{name: 'NewCampaign', params: {id: 'new'}}">
                                <a href="javascript: void(0);" class="btn btn-danger waves-effect waves-light"> Sync HubSpot Invoices</a>
                            </router-link>

                        </div>
                    </div><!-- end col-->

                </div> <!-- end row -->
            </div> <!-- end card-box -->
        </div> <!-- end col-->
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card-box bg-pattern">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md rounded bg-blue"><i class="fe-clock avatar-title font-22 text-white"></i></div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <h3 class="text-dark my-1"><span><span>
                                        120
                                    </span></span></h3>
                            <p class="text-muted mb-0 text-truncate">Days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box bg-pattern">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md rounded bg-success"><i class="fe-user avatar-title font-22 text-white"></i></div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <h3 class="text-dark my-1"><span><span>
                                        741
                                    </span></span></h3>
                            <p class="text-muted mb-0 text-truncate">Total Recipeintss</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box bg-pattern">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-md rounded bg-danger"><i class="fe-dollar-sign avatar-title font-22 text-white"></i></div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <h3 class="text-dark my-1"><span><span>
                                        256
                                    </span></span></h3>
                            <p class="text-muted mb-0 text-truncate">Total cost</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mb-1">Printed Word</h4>
                <div class="widget-chart text-center" dir="ltr">

                    <h5 class="text-muted">Average recipients per batch </h5>
                    <h2>178</h2>

                    <p class="text-muted w-75 mx-auto sp-line-2">Traditional heading elements are designed to work best in the meat of your page content.</p>

                    <div class="row mt-3">
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total recipients</p>
                            <h4>
                                23
                            </h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total cost</p>
                            <h4>
                                23
                            </h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total batches</p>
                            <h4>
                                43
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mb-1">Direct connection</h4>
                <div class="widget-chart text-center" dir="ltr">

                    <h5 class="text-muted">Average recipients per batch </h5>
                    <h2>58</h2>

                    <p class="text-muted w-75 mx-auto sp-line-2">Traditional heading elements are designed to work best in the meat of your page content.</p>

                    <div class="row mt-3">
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total recipients</p>
                            <h4>
                                23
                            </h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total cost</p>
                            <h4>
                                23
                            </h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total batches</p>
                            <h4>
                                43
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card-box">
                <h4 class="header-title mb-1">Caddy Printing</h4>
                <div class="widget-chart text-center" dir="ltr">

                    <h5 class="text-muted">Average recipients per batch </h5>
                    <h2>378</h2>

                    <p class="text-muted w-75 mx-auto sp-line-2">Traditional heading elements are designed to work best in the meat of your page content.</p>

                    <div class="row mt-3">
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total recipients</p>
                            <h4>
                                23
                            </h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total cost</p>
                            <h4>
                                23
                            </h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Total batches</p>
                            <h4>
                                43
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end col-->
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Stationery Paper Size</h4>

                    <PieChart :data="Object.values(stats.stationery.size_popularity)" :label="Object.keys(stats.stationery.size_popularity)" :height="215" />
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Stationery Handwriting Style</h4>
                    <BarChart :data="Object.values(stats.stationery.style_popularity)" :label="Object.keys(stats.stationery.style_popularity)" />
                </div>
            </div>
        </div>

    </div>

    <apexchart class="apex-charts" type="area" height="300" :series="series" :options="chartOptions"></apexchart>

    <div class="mb-3">
        <b-card title="Batches" sub-title="Batch analytics">
            <b-card-body>
                <BatchChart :batches="batches" :dates="dates" :printers="printers" aggregation="cost" :height="100" />
            </b-card-body>
            <b-card-body>
                <BatchChart :batches="batches" :dates="dates" :printers="printers" aggregation="count" :height="100" />
            </b-card-body>
            <b-card-body>
                <b-table-simple bordered small>
                    <b-tbody>
                        <b-tr>
                            <td>Days</td>
                            <td>{{this.stats.total_days_for_period}}</td>
                        </b-tr>
                        <b-tr>
                            <td>Total Recipeints</td>
                            <td>{{this.stats.batches.total_recipients_for_period}}</td>
                        </b-tr>
                        <b-tr>
                            <td>Total Cost</td>
                            <td>{{this.stats.batches.total_cost_for_period / 100 | currency('£')}}</td>
                        </b-tr>
                        <b-tr v-for="(stat, name) in this.stats.batches.per_printer" v-bind:key="name">
                            <td>{{name}}</td>
                            <td>
                                <b-table-simple bordered small>
                                    <b-tbody>
                                        <b-tr>
                            <td>Average cost per batch</td>
                            <td>{{stat.avg_cost_per_batch / 100 | currency('£')}}</td>
                        </b-tr>
                        <b-tr>
                            <td>Average recipients per batch</td>
                            <td>{{stat.avg_recipients_per_batch}}</td>
                        </b-tr>
                        <b-tr>
                            <td>Total recipients</td>
                            <td>{{stat.total_recipients}}</td>
                        </b-tr>
                        <b-tr>
                            <td>Total cost</td>
                            <td>{{stat.total_cost / 100 | currency('£')}}</td>
                        </b-tr>
                        <b-tr>
                            <td>Total batches</td>
                            <td>{{stat.total_batches}}</td>
                        </b-tr>
                    </b-tbody>
                </b-table-simple>
                </td>
                </b-tr>
                </b-tbody>
                </b-table-simple>
            </b-card-body>
        </b-card>
    </div>

    <div class="mb-3">
        <b-card title="Campaigns & Recipients" sub-title="Campaign, recipient, goods, and revenue analytics">
            <b-card-body>
                <b-form-group>
                    <b-form-select :options="['include admins', 'exclude admins']" v-model="include_admins" />
                </b-form-group>
                <b-form-group label="User UID">
                    <b-form-input v-model="filter_uid" />
                </b-form-group>
            </b-card-body>

            <b-card-body>
                <daily-invoice-usage-chart :user_profile="user_profile" :invoices="invoices" :from_date="from_date" :to_date="to_date" :height="100" />
            </b-card-body>

            <b-card-body>
                <daily-usage-chart dataset='products' :user_profile="user_profile" :usage="usage" :from_date="from_date" :to_date="to_date" :height="100" />
            </b-card-body>

            <b-card-body>
                <daily-usage-chart dataset='recipients' :user_profile="user_profile" :usage="usage" :from_date="from_date" :to_date="to_date" :height="100" />
            </b-card-body>

            <b-card-body>
                Coming soon: top customers by recipients and revenue. Monthly average stats. Quartiles analytics.
            </b-card-body>
        </b-card>
    </div>

    <div class="mb-3">
        <b-card title="Users" sub-title="User analytics">
            <b-card-text>
                TODO Number of users BY date. From HubSpot

                <!-- <b-table-simple bordered small v-if="Object.keys(this.stats.uncaptured_revenue_users).length">
            <b-thead>
              <b-tr>
                <td>UID</td>
                <td>Uncaptured Revenue</td>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr v-for="(revenue, uid) in this.stats.uncaptured_revenue_users" v-bind:key="uid">
                <td>{{uid}}</td>
                <td>{{revenue | currency('£')}}</td>
              </b-tr>
            </b-tbody>
          </b-table-simple> -->
            </b-card-text>
        </b-card>
    </div>

    <div class="mb-3">
        <b-card title="Integrations" sub-title="Integrations analytics">
            <b-card-text>
                TODO Integrations added
            </b-card-text>
        </b-card>
    </div>
</div>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'
import api from '../services/api'
import LoadingButton from '@/components/LoadingButton'
import BatchChart from '@/components/BatchChart'
import DailyUsageChart from '@/components/DailyUsageChart'
import DailyInvoiceUsageChart from '@/components/DailyInvoiceUsageChart'
import * as constants from '@/../functions/shared/constants.js'
import moment from 'moment'
import BarChart from '../components/charts/BarChart'
import PieChart from '../components/charts/PieChart'
import ApexChart from '../components/charts/ApexChart'

export default {
  name: 'Analytics',
  props: ['user_profile'],
  components: {
    LoadingButton,
    BatchChart,
    DailyUsageChart,
    DailyInvoiceUsageChart,
    PieChart,
    BarChart
  },
  data: function () {
    return {
      bill_users_loading: false,
      sync_hubspot_invoices_loading: false, // TODO
      include_admins: 'exclude admins',
      usage: [],
      invoices: [],
      printers: [],
      stationery: [],
      filter_uid: '',
      users: [],
      batches: [],
      max_date: moment().format('YYYY-MM-DD'),
      from_date: moment().subtract(30, 'days').format('YYYY-MM-DD'),
      to_date: moment().format('YYYY-MM-DD'),
      dates: [],
      stats: {
        uncaptured_revenue_users: {},
        total_days_for_period: 0,
        batches: {
          per_printer: {},
          total_recipients_for_period: 0,
          total_cost_for_period: 0
        },
        users: {
          avg_new_per_day: 0,
          total_for_period: 0
        },
        stationery: {
          style_popularity: {},
          size_popularity: {}
        }
      }
    }
  },
  firestore: function () {
    return {
      printers: db.collection('printers')
    }
  },
  watch: {
    printers: {
      deep: true,
      handler: function () {
        for (let printer of this.printers) {
          if (!this.stats.batches.per_printer[printer.name]) {
            this.stats.batches.per_printer[printer.name] = {
              avg_cost_per_batch: 0,
              avg_recipients_per_batch: 0,
              total_recipients: 0,
              total_cost: 0,
              total_batches: 0
            }
          }
        }
      }
    },
    stationery: {
      deep: true,
      handler: function () {
        this.stats.stationery.style_popularity = {}
        this.stats.stationery.size_popularity = {}
        for (let stationery of this.stationery) {
          if (!this.stats.stationery.style_popularity[stationery.handwriting_style]) {
            this.stats.stationery.style_popularity[stationery.handwriting_style] = 0
          }
          this.stats.stationery.style_popularity[stationery.handwriting_style] += 1

          if (!this.stats.stationery.size_popularity[stationery.paper.name]) {
            this.stats.stationery.size_popularity[stationery.paper.name] = 0
          }
          this.stats.stationery.size_popularity[stationery.paper.name] += 1
        }
      }
    },
    batches: {
      deep: true,
      handler: function () {
        this.stats.batches.total_recipients_for_period = 0
        this.stats.batches.total_cost_for_period = 0
        this.stats.batches.per_printer = {}

        for (let batch of this.batches || []) {
          let printer = batch.printer_doc

          if (!printer || !printer.name) {
            continue
          }

          if (!this.stats.batches.per_printer[printer.name]) {
            this.stats.batches.per_printer[printer.name] = {
              avg_cost_per_batch: 0,
              avg_recipients_per_batch: 0,
              total_recipients: 0,
              total_cost: 0,
              total_batches: 0
            }
          }

          this.stats.batches.per_printer[printer.name].total_cost += parseInt(batch.cost) || 0
          this.stats.batches.per_printer[printer.name].total_recipients += parseInt(batch.count) || 0
          this.stats.batches.per_printer[printer.name].total_batches += 1
        }

        for (let printer_name in this.stats.batches.per_printer) {
          let stat = this.stats.batches.per_printer[printer_name]
          this.stats.batches.total_recipients_for_period += stat.total_recipients
          this.stats.batches.total_cost_for_period += stat.total_cost
          stat.avg_cost_per_batch = stat.total_cost / stat.total_batches || 0
          stat.avg_recipients_per_batch = stat.total_recipients / stat.total_batches || 0
        }
      }
    }
    // usage: {
    //   deep: true,
    //   handler: function () {
    //     let users = {}
    //     for (let usage of this.usage || []) {
    //       if (usage.price) {
    //         continue
    //       }
    //
    //       let price = pricing.caluclate_price(this.price_table_default, this.user_profile, usage.goods)
    //       if (!users[usage.uid]) {
    //         users[usage.uid] = 0
    //       }
    //
    //       users[usage.uid] += price.total_gbp / 100
    //     }
    //
    //     this.stats.uncaptured_revenue_users = users
    //   }
    // }
  },
  mounted () {
    this.change_date()
  },
  methods: {
    bill_users: async function () {
      this.bill_users_loading = true
      await api.bill_users()
      this.bill_users_loading = false
    },
    sync_hubspot_invoices: async function () {
      this.sync_hubspot_invoices_loading = true
      await api.sync_hubspot_invoices()
      this.sync_hubspot_invoices_loading = false
    },
    change_date: function () {
      let from_date = moment(this.from_date, 'YYYY-MM-DD').toDate()
      let to_date = moment(this.to_date, 'YYYY-MM-DD').endOf('day').toDate()
      if (!from_date || !to_date) {
        alert('A from and to date is required')
        return
      }

      let now = moment(this.from_date, 'YYYY-MM-DD').clone()
      this.dates = []
      while (now.isSameOrBefore(to_date)) {
        this.dates.push(now.format('DD-MM-YY'))
        now.add(1, 'days')
      }

      let usage_query = db.collection('usage').orderBy('created', 'desc').where('created', '>=', from_date).where('created', '<=', to_date)
      let invoice_query = db.collection('invoices').orderBy('billing_from', 'desc').where('billing_from', '>=', from_date).where('billing_from', '<=', to_date)
      let stationery_query = db.collection('stationary').orderBy('created', 'desc').where('created', '>=', from_date).where('created', '<=', to_date)

      if (this.include_admins === 'exclude admins') {
        usage_query = usage_query.where('admin', '==', false)
        invoice_query = invoice_query.where('admin', '==', false)
      }

      if (this.filter_uid) {
        usage_query = usage_query.where('uid', '==', this.filter_uid)
        invoice_query = invoice_query.where('uid', '==', this.filter_uid)
        stationery_query = stationery_query.where('uid', '==', this.filter_uid)
      }

      this.$bind('usage', usage_query)
      this.$bind('invoices', invoice_query)
      this.$bind('stationery', stationery_query)

      this.stats.total_days_for_period = this.dates.length
      this.$bind('batches', db.collection('batches').orderBy('shipped_date', 'desc').where('status', '==', constants.BATCH_STATUS.shipped).where('shipped_date', '>=', from_date).where('shipped_date', '<=', to_date))
    }
  }
}
</script>

<style scoped>
</style>
