<template>
<div class='content-container' v-if="user && user_profile && user_profile.admin">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Admin</h3>
            </div>
            <div class="card-body">
                <b-table-simple borderless>
                    <b-tr>
                        <b-td>Created</b-td>
                        <b-td>{{display_timestamp(user.created)}}</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Stripe</b-td>
                        <b-td><a :href="`https://dashboard.stripe.com/customers/${user.stripe_customer_id}`" target="_blank">Stripe Customer <i class="fas fa-external-link-alt"></i></a></b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Hubspot</b-td>
                        <b-td><a :href="`https://app.hubspot.com/contacts/6169784/contact/${user.hubspot_contact_id}`" target="_blank">Hubspot Contact <i class="fas fa-external-link-alt"></i></a></b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Firestore</b-td>
                        <b-td><a :href="`https://console.firebase.google.com/u/0/project/${CONFIG.firebase_config.projectId}/database/firestore/data~2Fusers~2F${user.id}`" target="_blank">User profile <i class="fas fa-external-link-alt"></i></a> - <a :href="`https://console.firebase.google.com/u/0/project/hc-application-interface-prod/authentication/users`" target="_blank">All users <i class="fas fa-external-link-alt"></i></a></b-td>
                    </b-tr>
                </b-table-simple>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Account</h3>
            </div>

            <div class="card-body">
                <b-table-simple borderless>
                    <b-tr>
                        <b-td>Email</b-td>
                        <b-td>
                            <b-input v-model="user.email" @change='update_user()' readonly />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Password</b-td>
                        <b-td>
                            <b-input v-model="user.password" @change='update_user()' readonly />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Admin</b-td>
                        <b-td>
                            <b-form-checkbox v-model="user.admin" @input='update_user()' />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>API Key</b-td>
                        <b-td>
                            <b-input v-model="user.api_key" @change='update_user()' readonly />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Samples left</b-td>
                        <b-td>
                            <b-input type="number" v-model="user.samples_left" @change='update_user()' />
                        </b-td>
                    </b-tr>
                </b-table-simple>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">

                <h3>Profile</h3>
            </div>
            <div class="card-body">

                <b-table-simple borderless>
                    <b-tr>
                        <b-td>First Name</b-td>
                        <b-td>
                            <b-input v-model="user.first_name" @change='update_user()' readonly />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Last Name</b-td>
                        <b-td>
                            <b-input v-model="user.last_name" @change='update_user()' readonly />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Organisation</b-td>
                        <b-td>
                            <b-input v-model="user.organisation" @change='update_user()' readonly />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Country</b-td>
                        <b-td>{{user.country}}</b-td>
                    </b-tr>
                </b-table-simple>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Products</h3>
            </div>
            <div class="card-body">

                <b-table-simple borderless>
                    <b-tr>
                        <b-td>Products</b-td>
                        <b-td>
                            <multiselect v-model="user.products_enabled"  :options="Object.values(PRODUCT)" :select-size="4" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" :multiple="true" :taggable="true" @tag="addTag" @change='update_user()'></multiselect>
                            <!-- <b-form-select v-model="user.products_enabled" :options="Object.values(PRODUCT)" multiple :select-size="4" @change='update_user()'></b-form-select> -->
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Stationery Sizes</b-td>
                        <b-td>
                            <multiselect v-model="user.stationery_enabled"  :options="Object.keys(PAPER_SIZES)" :select-size="4" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" :multiple="true" :taggable="true" @tag="addTag" @change='update_user()'></multiselect>
                            <!-- <b-form-select v-model="user.stationery_enabled" :options="Object.keys(PAPER_SIZES)" multiple :select-size="4" @change='update_user()'></b-form-select> -->
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Handwriting Styles</b-td>
                        <b-td>
                            <multiselect v-model="user.handwriting_styles_enabled"  :options="Object.keys(HANDWRITING_STYLE)" :select-size="4" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" :multiple="true" :taggable="true" @tag="addTag" @change='update_user()'></multiselect>
                            <!-- <b-form-select v-model="user.handwriting_styles_enabled" :options="Object.keys(HANDWRITING_STYLE)" multiple :select-size="4" @change='update_user()'></b-form-select> -->
                        </b-td>
                    </b-tr>
                </b-table-simple>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Billing</h3>
            </div>
            <div class="card-body">

                <b-table-simple borderless>
                    <b-tr>
                        <b-td>Billing enabled</b-td>
                        <b-td>
                            <b-form-checkbox v-model="user.billing_enabled" @input='update_user()' />
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Billing collection method</b-td>
                        <b-td>
                            <b-form-select v-model="user.billing_collection_method" :options="['charge_automatically', 'send_invoice']" @change='update_user()'></b-form-select>
                            <p class="text-muted" v-if="user.billing_collection_method == 'send_invoice'"><small>Invoice due within {{CONSTANTS.BILLING_INVOICE_DUE_DAYS}} days of receipt</small></p>
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>VAT Rate</b-td>
                        <b-td>{{tax_rate}} (Country {{user.country}})</b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Credit Subscription</b-td>
                        <b-td>
                            <b-input-group :prepend="`cent / pence ${user.currency_symbol}`">
                                <b-form-input v-model="user.credit_subscription" type="number" min="0" @change="update_user_credit_subscription()" />
                            </b-input-group>
                            <p class="text-muted"><small>Credit added at the end of each billing period. Additional usage charged on top. Set to 0 to disable subscription. Does not include local taxes.</small></p>
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <b-td>Credit</b-td>
                        <b-td>
                            <b-input-group :prepend="`cent / pence ${user.currency_symbol}`">
                                <b-form-input v-model="user.credit" type="number" min="0" @change="update_user_credit()" />
                            </b-input-group>
                        </b-td>
                    </b-tr>
                    <b-tr>
                        <td>Current billing period</td>
                        <td>{{display_timestamp(user.billing_period_start_date, true)}} to {{display_timestamp(user.billing_period_end_date, true)}}</td>
                    </b-tr>
                    <b-tr>
                        <td>End billing period now</td>
                        <td>
                            <LoadingButton variant="danger" @click="end_billing_period" :loading="end_billing_period_loading">End billing period</LoadingButton>
                        </td>
                    </b-tr>
                </b-table-simple>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Prices</h3>
            </div>
            <div class="card-body">

                <b-card no-body v-if="price_table" class="mb-3">
                    <!-- <b-tabs pills card vertical nav-wrapper-class="w-50"> -->
                    <!-- <b-tab :title="name" v-for="(table, name) in price_table" v-bind:key="name"> -->
                    <b-card-text>
                        <div v-if="!price_overrides[name]">
                            Using the default pricing.
                            <b-button variant="warning" @click="add_price_override(name)">Create override</b-button>
                        </div>
                        <div v-else>
                            <b-form-group label="Goods" class="mb-3">
                                <!-- <b-form-select v-model="price_overrides[name].goods" multiple :options="Object.values(GOOD)"></b-form-select> -->
                                <!-- <b-form-select v-model="price_overrides[name].goods" multiple :options="Object.values(GOOD)"></b-form-select> -->
                                <multiselect v-model="price_overrides[name].goods"  :options="Object.values(GOOD)" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" :multiple="true" :taggable="true" @tag="addTag" @change='update_user()'></multiselect>

                            </b-form-group>
                            <div class="float-right">
                                <b-button variant="success" @click="add_tier_to_price_override(name)">Add</b-button>
                            </div>

                            <div style="padding-top:3em;">
                                <b-table-simple bordered>
                                    <b-thead style="background-color:lightgrey">
                                        <b-tr>
                                            <b-th>Tier (&le;)</b-th>
                                            <b-th>Price in cent/pence ({{user.currency_symbol}})</b-th>
                                            <b-th>Action</b-th>
                                        </b-tr>
                                    </b-thead>
                                    <b-tbody style="">
                                        <b-tr v-for="(value, tier) in price_overrides[name].tiers[user.currency]" v-bind:key="`${name}-${user.currency}-${tier}-${value}`">
                                            <b-td>
                                                <b-form-input :value="tier" :ref="`${name}-${tier}`" type="number" min="0" @update="(val) => {update_tier(val, name, tier)}"></b-form-input>
                                            </b-td>
                                            <b-td>
                                                <b-form-input v-model="price_overrides[name].tiers[user.currency][tier]" type="number" min="0"></b-form-input>
                                            </b-td>
                                            <b-td>
                                                <b-button variant="danger" @click="remove_tier_to_price_override(name, tier)">Remove</b-button>
                                            </b-td>
                                        </b-tr>
                                    </b-tbody>
                                </b-table-simple>
                            </div>
                            <div class="float-right">
                                <b-button variant="success" @click="save_price_override(name)">Save</b-button>
                                <b-button variant="danger" @click="delete_price_override(name)">Delete (use default)</b-button>
                            </div>
                        </div>
                    </b-card-text>
                    <!-- </b-tab> -->
                    <!-- </b-tabs> -->
                </b-card>

            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Invoices</h3>
            </div>
            <div class="card-body">

                <InvoiceTable :user_profile="user" />
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Notifications</h3>
            </div>
            <div class="card-body">
                <NotificationsTable :user_profile="user" />
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header bg-white ">
                <h3>Usage</h3>
            </div>
            <div class="card-body">

                <b-table-simple borderless>
                    <b-tr>
                        <b-td>View Campaigns</b-td>
                        <b-td><a :href="`/campaigns?filter_user_uid=${user.id}&filter_status=All`" target="_blank">View Campaigns</a></b-td>
                    </b-tr>
                    <div>
                    </div>
                </b-table-simple>
                <UsageTable :user_profile="user" :price_table="price_table" />
            </div>
        </div>
    </div>

    <hr>
    <div class="card-body">
        <AuditTable :audit_ref="audit_ref" :user_profile="user_profile" />
    </div>
</div>
</div>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'
import api from '../services/api'
import LoadingButton from '@/components/LoadingButton'
import AuditTable from '@/components/AuditTable'
import UsageTable from '@/components/UsageTable'
import InvoiceTable from '@/components/InvoiceTable'
import NotificationsTable from '@/components/NotificationsTable'

import pricing from '../lib/pricing.js'
import PriceTable from '../components/PriceTable'

import Multiselect from 'vue-multiselect'
import Vue from 'vue'

// register globally
Vue.component('multiselect', Multiselect)

export default {
  name: 'User',
  firestore () {
    const user_id = this.$route.params.id
    return {
      user: db.collection('users').doc(user_id),
      products: db.collection('products'),
      user_products: db.collection('users').doc(user_id).collection('products')
    }
  },
  props: ['user_profile'],
  components: {
    LoadingButton,
    AuditTable,
    UsageTable,
    InvoiceTable,
    PriceTable,
    NotificationsTable
  },
  data: function () {
    return {
      user: null,
      price_overrides: {},
      products: [],
      user_products: [],
      end_billing_period_loading: false,
      value: [
        { name: 'Javascript' }
      ],
      options: [
        { name: 'Vue.js' },
        { name: 'Javascript' },
        { name: 'Open Source' }
      ]
    }
  },
  computed: {
    price_table: function () {
      let price_table = {}
      for (let product of this.products || []) {
        let override
        for (let user_product of this.user_products || []) {
          if (user_product.id === product.id) {
            override = user_product
            break
          }
        }

        if (override) {
          price_table[product.id] = override
          price_table[product.id]['override'] = true
        } else {
          price_table[product.id] = product
        }
      }
      return price_table
    },
    tax_rate: function () {
      if (this.user) {
        return pricing.caluclate_customer_tax_rate(this.user)
      }

      return ''
    },
    audit_ref: function () {
      return db.collection('users').doc(this.$route.params.id).collection('audit')
    }
  },
  watch: {
    price_table: {
      deep: true,
      handler: function (val) {
        for (let product_name in this.price_table || []) {
          let product = this.price_table[product_name]
          if (product.override) {
            this.price_overrides[product_name] = product
          }
        }
        this.$forceUpdate() // NOTE Bug with vue bootstrap tabs not being reactive
      }
    },
    user: {
      deep: true,
      handler: function (val) {
        val.products_enabled = val.products_enabled ? val.products_enabled : []
        val.stationery_enabled = val.stationery_enabled ? val.stationery_enabled : []
        val.handwriting_styles_enabled = val.handwriting_styles_enabled ? val.handwriting_styles_enabled : []
      }
    }
  },
  methods: {
    async update_user_credit () {
      let result = await this.$swal({
        title: 'Are you sure?',
        text: 'Warning changing a users credit may affect analytics. This is different from stripe credit. Ensure you know what you are doing. Note that value is in cent/pence.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!'
      })

      if (result.value) {
        this.update_user('credit', true)
      }
    },
    async update_user_credit_subscription () {
      let result = await this.$swal({
        title: 'Are you sure?',
        text: 'Ensure the customer knows they will be charged on a credit subscription at the end of each billing period. Note that value is in cent/pence.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!'
      })

      if (result.value) {
        this.update_user('credit_subscription', true)
      }
    },
    async end_billing_period () {
      let result = await this.$swal({
        title: 'Are you sure?',
        text: 'This will charge the customer for their current usage. This will recharge the customer for any subscriptions. Make sure you know what they are doing.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Yes, end billing period!'
      })

      if (!result || !result.value) {
        return
      }

      this.end_billing_period_loading = true
      return api.bill_user(this.user.id).then(function (out) {
        if (!out.data.success) {
          this.$swal('Error', out.data.error_message, 'error')
        } else {
          this.$swal('Success', 'Billed user', 'success')
        }
        this.end_billing_period_loading = false
      }.bind(this)).catch(function (err) {
        this.$swal('Error', 'An error occurred', 'error')
        console.warn(err)
        this.end_billing_period_loading = false
      }.bind(this))
    },
    update_tier (value, name, tier) {
      if (tier === value) {
        return // No update needed
      }
      this.price_overrides[name].tiers[this.user.currency][value] = parseInt(this.price_overrides[name].tiers[this.user.currency][tier])
      delete this.price_overrides[name].tiers[this.user.currency][tier]
      this.$forceUpdate() // NOTE Bug with vue bootstrap tabs not being reactive
    },
    save_price_override (name) {
      db.collection('users').doc(this.user.id).collection('products').doc(name).set(this.price_overrides[name]).then(function () {
        this.$bvToast.toast('Saved price override', {
          title: `Updated`,
          variant: 'success',
          autoHideDelay: 200
        })
      }.bind(this))
    },
    delete_price_override (name) {
      db.collection('users').doc(this.user.id).collection('products').doc(name).delete().then(function () {
        this.$bvToast.toast('Deleted price override', {
          title: `Updated`,
          variant: 'success',
          autoHideDelay: 200
        })
        this.$forceUpdate()
      }.bind(this))
    },
    add_price_override (name) {
      this.price_overrides[name] = {
        tiers: {},
        goods: []
      }
      this.price_overrides[name].tiers[this.user.currency] = {
        1: 100
      }
      this.$forceUpdate() // NOTE Bug with vue bootstrap tabs not being reactive
    },
    add_tier_to_price_override (name) {
      let tiers = Object.keys(this.price_overrides[name].tiers[this.user.currency])
      for (let i = 0; i < tiers.length; i++) tiers[i] = parseInt(tiers[i], 10)
      let tier = Math.max(...tiers) + 1
      this.price_overrides[name].tiers[this.user.currency][tier] = 1
      this.$forceUpdate() // NOTE Bug with vue bootstrap tabs not being reactive
    },
    remove_tier_to_price_override (name, tier) {
      delete this.price_overrides[name].tiers[this.user.currency][tier]
      this.$forceUpdate() // NOTE Bug with vue bootstrap tabs not being reactive
    },
    async update_user (prop, force_int) {
      // this.user.products_enabled = []
      this.user.updated = new Date()
      this.user.updated_by = this.user_profile.id

      let new_user = {
        ...this.user
      }
      delete new_user['credit'] // Don't update by default
      delete new_user['credit_subscription'] // Don't update by default

      if (prop) {
        let props = {
          updated: new Date(),
          updated_by: this.user_profile.id
        }
        props[prop] = this.user[prop]

        if (force_int) {
          props[prop] = parseInt(props[prop])
        }

        await this.$firestoreRefs.user.update(props)
      } else {
        await this.$firestoreRefs.user.update(new_user)
      }

      this.$bvToast.toast('Updated user', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
    },
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
