<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                </div>
                <h4 class="page-title">Audience
                </h4>
            </div>
        </div>
    </div>
     <div class="row" v-if="loading">
      <div class="col-12">
          <b-card class="text-center">
            <b-spinner variant="primary" label="Spinning"></b-spinner>
          </b-card>
      </div>
    </div>
    <div class="row" v-else-if="users.length">
        <div class="col-12">
            <div class="card">
                <div class="card-body" >
                    <!-- <div class="row mb-2" v-if="user_profile.role !== 'viewer'">
                        <div class="col-sm-4">
                            <b-button v-b-modal.modal-responsive href="javascript: void(0);" variant="primary" class="btn btn-primary">
                                <i class="mdi mdi-plus-circle mr-1"></i> Create New Audience
                            </b-button>
                        </div>
                        <div class="col-sm-8">
                        </div>
                    </div> -->
                    <div class="row mb-3" v-if="user_profile.role !== 'viewer'">
                        <div class="col-md-12">
                            <label class="d-inline-flex align-items-center">
                                Show&nbsp;
                                <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                            </label>
                            <label class="d-inline-flex align-items-center">
                                Search:
                                <b-form-input v-model="filter" type="search" placeholder="Search..." class="form-control form-control-sm ml-2"></b-form-input>
                            </label>
                            <div class="float-right" v-if="user_profile.role !== 'viewer'">
                                <b-button v-b-modal.modal-responsive href="javascript: void(0);" variant="primary" class="btn btn-primary">
                                    <i class="mdi mdi-plus-circle mr-1"></i> Create New Audience
                                </b-button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mb-0">
                        <!-- <b-table show-empty empty-filtered-text="No audience" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" empty-text="No users" :current-page="current_page" :per-page="per_page" :items="users" :fields="fields" bordered @filtered="on_filtered"> -->
                        <b-table hover thead-class="bg-light text-black" @filtered="on_filtered" show-empty empty-filtered-text="No audience" empty-text="No Audience" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :current-page="current_page" :per-page="per_page" :filter-included-fields="filterOn" :items="users" :fields="fields" :filter="filter" class="table" ref="table">

                            <template v-slot:cell(created)="row">
                                {{ display_timestamp(row.value) }}
                            </template>
                            <template v-slot:cell(actions)="row">
                                <b-button variant="outline-primary" :to="{name: 'AudienceDetail',  params: {id: row.item.id}}">View</b-button>
                            </template>
                        </b-table>
                    </div>

                    <div class="row" style="padding-top:30px">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-body text-center">
                    <img src="/static/images/teams.svg" alt="..." class="img-fluid" style="max-width: 358px; ">
                    <h2>No Audience yet.</h2>
                    <b-button v-b-modal.modal-responsive href="javascript: void(0);" variant="primary" class="btn btn-primary">
                        <i class="mdi mdi-plus-circle mr-1"></i> Create New Audience
                    </b-button>
                </div> -->
            </div>
        </div>
    </div>
  <div class="row" v-else>
        <div class="col-xl-12">
            <!-- Card -->
            <div class="card card-inactive">
             <div class="card-body text-center">
                    <img src="/static/images/audience.svg" alt="..." class="img-fluid mt-4" style="max-width: 358px; ">
                    <h2>No Audience Yet.</h2>
                    <p class="text-muted">
                        Any new audience when added will be listed here.
                    </p>
                    <b-button v-b-modal.modal-responsive href="javascript: void(0);" variant="primary" class="btn btn-primary mt-1 mb-4">
                        <i class="mdi mdi-plus-circle mr-1"></i> Create New Audience
                    </b-button>
                </div>
            </div>
        </div>
  </div>
    <div class="row">
        <div class="col-12">
            <b-modal v-model="create_modal" centered @show="reset_title" id="modal-responsive" title="Create New Audience" title-class="font-18" body-class="p-4">
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Title</label>
                                <b-input v-model="title" type="text" class="form-control" placeholder="Title" :state="valid_title" />
                                <b-form-invalid-feedback :state="valid_title">
                                    Enter a title
                                </b-form-invalid-feedback>
                            </div>
                        </div>
                    </div>
                </div>
                <template v-slot:modal-footer>
                    <b-button variant="secondary" @click="close_create_modal">Cancel</b-button>
                    <b-button variant="primary" @click="create_audience">
                      Add
                      <!-- <b-spinner small label="Loading..." ></b-spinner> -->
                    </b-button>
                </template>
            </b-modal>
        </div>
    </div>

</div>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'

const fields = [{
  key: 'created',
  label: 'Created',
  sortable: true

},
{
  key: 'title',
  label: 'Title',
  sortable: true

},
{
  key: 'actions',
  label: 'Actions'

}
]

export default {
  name: 'UserList',
  props: ['user_profile'],
  mounted () {
    this.send_title()
    db.collection('audience').where('uid', '==', this.user_profile.uid).limit(1).get()
      .then(_ => {})
      .catch(_ => {})
      .finally(() => {
        this.loading = false
      })
  },
  firestore () {
    return {
      users: db.collection('audiences').where('uid', '==', this.user_profile.uid).limit(this.limit)
    }
  },
  data: () => ({
    title: '',
    current_page: 1,
    per_page: 10,
    pageOptions: [5, 10, 50, 100],

    // total_rows: 1,
    limit: 25,
    show_load_all: true,
    fields: fields,
    users: [],
    search_by_email: undefined,
    sortBy: 'created',
    sortDesc: true,
    valid_title: undefined,
    filter: null,
    filterOn: [],
    create_modal: false,
    loading: true
  }),
  computed: {
    total_rows () {
      if (this.users) {
        return this.users.length
      }
      return 0
    }
  },
  
  methods: {
    on_filtered (filtered_items) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.total_rows = filtered_items.length
    },
    close_create_modal () {
      this.create_modal = false
    },
    async create_audience (event) {
      event.preventDefault()
      this.valid_title = undefined
      if (!this.title) {
        this.valid_title = false
        return
      }
      let audience_doc = db.collection('audiences').doc()
      try {
        await audience_doc.set({
          created: new Date(),
          title: this.title,
          description: this.description || '',
          uid: this.user_profile.uid
        })

        this.$bvModal.hide('modal-responsive')
        this.title = ''
        this.redirect(audience_doc.id)
      } catch (err) {
        console.log(err)
        this.$bvToast.toast('Error creating audience. Please try again later', {
          title: `Error`,
          autoHideDelay: 3000,
          variant: 'danger',
          appendToast: true
        })
      }
    },
    load_users: function (limit) {
      let query = db.collection('audiences')

      if (limit) {
        query = query.limit(limit)
      } else {
        this.show_load_all = false
      }
      this.$bind('users', query)
    },
    send_title () {
      if (this.users) {
        return this.users
      }
      return 0
    },
    redirect (id) {
      this.$router.push({
        name: 'AudienceDetail',
        params: {
          id
        },
        query: {
          audience: 'new'
        }
      })
    },
    reset_title () {
      this.title = ''
      this.valid_title = undefined
    }

  }
}
</script>
