<template>
    <div class="col-12">
       <div class="row">
            <div class="col-md-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                    </div>
                    <h4 class="page-title">Billing</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="header-title">Discount</h4>
                    <p class="sub-header mb-2">Order {{ order }} more notes and get {{ discount }}% off your entire month</p>
                    <div class="px-3 py-5">
                        <vue-slider
                          style="padding-right: 78px;"
                          v-model="value"
                          :marks="marks"
                          :min="0"
                          :max="4800"
                          v-bind="options"
                        ></vue-slider>

<!--
                        <VueSlideBar
                          ref="slidebar"
                          v-model="slider.value"
                          :data="slider.data"
                          :range="slider.range"
                          :labelStyles="{ color: '#4a4a4a', backgroundColor: '#4a4a4a' }"
                          :processStyle="{ backgroundColor: '#35af72 !important' }"
                          :tooltipStyles="{ backgroundColor: '#35af72 !important', borderColor: '#35af72 !important' }"
                          @callbackRange="callbackRange">
                        </VueSlideBar>
-->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card-box">

                <InvoiceTable :user_profile="user_profile" />
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import VueSlideBar from 'vue-slide-bar'
import VueSlider from 'vue-slider-component'
import InvoiceTable from '@/components/InvoiceTable'
import { db } from '@/lib/firebase.js'
import 'vue-slider-component/theme/default.css'

export default {
  name: 'Billing',
  components: {
    VueSlideBar,
    InvoiceTable,
    VueSlider
  },
  props: ['user_profile', 'billing_clicked'],
  data () {
    const primary_color = '#4450a5';
    return {
      order: 0,
      discount: 0,
      rangeValue: 0,
      total_campaigns: null,
      value: 0,
      marks: {
        '0': '',
        '300': '10% Discount',
        '1200': '15% Discount',
        '4800': '20% Discount'
      },
      options: {
        dotSize: 14,
        height: 5,
        disabled: true,
        dotOptions: {
          tooltip: 'always',
          tooltipStyle: {
            backgroundColor: primary_color,
            borderColor: primary_color,
          }
        },
        dotStyle: void 0,
        processStyle: {
          backgroundColor: primary_color
        },
        labelStyle: {
          right: 0
        }

      }
      /*
      slider: {
        value: 0,
        data: [ 0, 150, 300, 600, 1200, 2400, 4800 ],
        range: [
          { label: '0%' },
          { isHide: true },
          { label: '10% Discount' },
          { isHide: true },
          { label: '15% Discount' },
          { isHide: true },
          { label: '20%' }
        ]
      },
      */
    }
  },
  methods: {
    callbackRange (val) {
      this.rangeValue = val
    },

    async getCurrentMonthRecipients () {
      let total = 0
      var date = new Date()
      var firstDay = new Date(date.getFullYear(), date.getMonth(), 1)
      var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0)

      try {
        let campaigns = await db.collection('campaigns')
          .where('uid', '==', this.user_profile.uid)
          .where('created', '>', firstDay)
          .where('created', '<', lastDay)
          .get()

        if (!campaigns.empty) {
          for (let campaign of campaigns.docs) {
            total += campaign.data().recipients_count
          }
        }
      } catch (err) {

      }

      this.total_campaigns = total
    }
  },
  watch: {
    // billing_clicked: {
    //   handler(val) {
    //     // this.$refs.slidebar.refresh();
    //   },
    // },

    total_campaigns: {
      handler (val) {
        this.value = val
        if (val < 300) {
          this.order = 300 - val
          this.discount = 10
        } else if (val < 1200) {
          this.order = 1200 - val
          this.discount = 15
        } else if (val < 4800) {
          this.order = 4800 - val
          this.discount = 20
        }
      }
    }

  },
  mounted () {
    this.getCurrentMonthRecipients()
  }

}
</script>

<style scoped>
.integration-logo {
  padding-bottom: 20px;
}

.vue-slider-disabled {
  cursor: default;
  opacity: 1;
}

>>> .vue-slider-dot-handle-disabled{
  cursor: default;
}
.vue-slider-ltr .vue-slider-mark-label{
  right:60%
}
</style>
