<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box">
                <div class="page-title-right">
                </div>
                <h4 class="page-title">Campaigns</h4>
            </div>
        </div>
    </div>
    <div class="row" v-if="loading">
        <div class="col-12">
            <b-card class="text-center">
                <b-spinner variant="primary" label="Spinning"></b-spinner>
            </b-card>
        </div>
    </div>
    <div class="row" v-else-if="campaigns.length">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3 mt-1">
                        <div class="col-md-12">
                            <label class="d-inline-flex align-items-center">
                                Show&nbsp;
                                <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                            </label>
                            <label class="d-inline-flex align-items-center">
                                Search:
                                <b-form-input v-model="filter" type="search" placeholder="Search..." class="form-control form-control-sm ml-2"></b-form-input>
                            </label>
                            <div class="float-right" v-if="user_profile.role !== 'viewer'">
                                <router-link to="/create">
                                    <a href="javascript: void(0);" class="btn btn-primary">
                                        <i class="mdi mdi-plus-circle mr-1"></i> Create New Campaign
                                    </a>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mb-0">
                        <b-table hover thead-class="bg-light text-black" @filtered="on_filtered" show-empty empty-filtered-text="No campaigns" empty-text="No campaigns" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :current-page="current_page" :per-page="per_page" :tbody-tr-class="row_class" :filter-included-fields="filterOn" :items="items" :fields="fields" :filter="filter" class="table" ref="table">
                            <template v-slot:cell(status)="row">
                                <span :class="row.value.toLowerCase().replace(/ /g, '_')">{{row.value}}</span>
                            </template>

                            <template v-slot:cell(created)="row">
                                {{ display_timestamp(row.value) }}
                            </template>

                            <template v-slot:cell(due_date)="row">
                                {{ display_timestamp(row.item.delivery.due_date, true) }}
                            </template>

                            <template v-slot:cell(uid)="row">
                                <span v-html="display_user(row.value)"></span>
                            </template>

                            <template v-slot:cell(is_sample)="row">
                                <span v-if="row.value" class="text-center"><span class="fa fa-check" /></span>
                                <span v-else></span>
                            </template>

                            <template v-slot:cell(actions)="row">
                                <!-- <b-dropdown variant="outline-primary" text="Actions">
                    <b-dropdown-item :to="{name: 'Campaign', params: {id: row.item.id}}">View</b-dropdown-item>
                    <b-dropdown-item @click="duplicate(row.item)">Duplicate</b-dropdown-item>
                </b-dropdown> -->
                                <div class=" "><a href="javascript:void(0);" class="action-icon">
                                        <router-link v-bind:to="{name: 'Campaign', params: {id: row.item.id}}"><i v-b-popover.hover.top="'View Campaign'" style="color: #98a6ad" class=" mdi mdi-eye"></i></router-link>
                                    </a><a v-b-popover.hover.top="'Duplicate Campaign'" href="javascript:void(0);" class="action-icon"><i @click="duplicate(row.item)" class=" mdi mdi-content-duplicate"></i></a>
                                </div>
                            </template>

                        </b-table>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-else>
        <div class="col-xl-12">
            <!-- Card -->
            <div class="card card-inactive">
                <div class="card-body text-center">
                    <img src="/static/images/no_stationery.svg" alt="..." class="img-fluid mt-4" style="max-width: 358px; ">
                    <h2>No campaigns created yet.</h2>
                      <p class="text-muted">
                        Any new campaigns when created will be listed here.
                    </p>
                   <div v-if="user_profile.role !== 'viewer'">

                    <router-link to="/create">
                        <a href="javascript: void(0);" class="btn btn-primary mt-1 mb-4">
                            <i class="mdi mdi-plus-circle mr-1"></i> Create New Campaign
                        </a>
                    </router-link>
                   </div>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
/* eslint no-unused-vars: "off" */
import {
    db,
    auth
} from '@/lib/firebase.js'
import {
    CAMPAIGN_STATUS,
    RECIPIENT_STATUS,
    PRODUCT
} from '../lib/constants.js'

// Load campaigns
// Load relevent users
// If load more campaigns, load more users
// cache

export default {
    name: 'Campaign',
    props: ['user_profile'],
    firestore() {
        this.bind_query()
        return {}
    },
    async created() {
        var campaigns_query = db.collection('campaigns').orderBy('last_updated')
        if (!this.user_profile.admin) {
            campaigns_query = campaigns_query.where('uid', '==', this.user_profile.uid)
        }

        var query = await campaigns_query.limit(1).get()
        if (query.empty) {
            this.first_campaign = true
        } else {
            this.first_campaign = false
        }

        this.loading = false
    },
    watch: {
        campaigns: {
            deep: true,
            handler: function (val) {
                this.items = []
                let load_users = []
                for (let i = 0; i < this.campaigns.length; i++) {
                    let campaign = this.campaigns[i]

                    if (!this.loaded_users[campaign.uid]) {
                        load_users.push(campaign.uid)
                    }

                    if (!this.user_profile.admin && campaign.status === CAMPAIGN_STATUS.deleted) {
                        continue
                    }

                    this.items.push(campaign)
                }

                if (this.user_profile.admin) {
                    let proms = []
                    for (let uid of load_users) {
                        proms.push(db.collection('users').doc(uid).get().then(function (doc) {
                            this.loaded_users[doc.id] = doc.data()
                        }.bind(this)))
                    }

                    Promise.all(proms).then(function () {
                        if (this.$refs.table) {
                            this.$refs.table.refresh()
                        }
                    }.bind(this))
                }

                if (this.set_page) {
                    this.current_page = this.set_page
                    this.set_page = undefined
                }
            }
        }
    },
    data() {
        var fields = [{
                key: 'title',
                label: 'Title',
                sortable: true
            },
            {
                key: 'created',
                label: 'Created',
                sortable: true
            },
            {
                key: 'due_date',
                label: 'Due',
                sortable: true
            },
            {
                key: 'status',
                label: 'Status',
                sortable: true
            },
            {
                key: 'actions',
                label: 'Actions'

            }
            // ,{
            //   key: 'recipients_count',
            //   label: 'Count',
            //   sortable: true
            // }
        ]

        if (this.user_profile.admin) {
            fields.splice(3, 0, {
                key: 'uid',
                label: 'User',
                sortable: true

            })
            fields.splice(5, 0, {
                key: 'product',
                label: 'Product',
                sortable: true

            })
            fields.splice(6, 0, {
                key: 'is_sample',
                label: 'Sample?',
                sortable: true

            })
        }

        return {
            ignore_first_load: true,
            items: [],
            filter_by: {
                user: '',
                show_api_tests: this.$route.query.show_api_tests ? this.$route.query.show_api_tests : true
            },
            // filter_status_by: 'In progress',
            campaigns: [],
            fields: fields,
            search_filter: null,
            // total_rows: 1,

            pageOptions: [5, 10, 50, 100],
            current_page: 1,
            set_page: this.$route.query.set_page ? parseInt(this.$route.query.set_page) : undefined,
            per_page: 10,
            end_at: this.$route.query.end_at ? parseInt(this.$route.query.end_at) : 25 * 2,
            loading: true,
            first_campaign: false,
            filter_user_uid: this.$route.query.filter_user_uid ? this.$route.query.filter_user_uid : 'No user found',
            first_user_load: true,
            filter_status: this.$route.query.filter_status ? this.$route.query.filter_status : (this.user_profile.admin ? CAMPAIGN_STATUS['ready_to_ship'] : 'All'),
            loaded_users: {},
            filter: null,
            filterOn: [],
            filter_users: 'All',
            sortBy: 'due_date',
            sortDesc: true,
            loading: true

        }
    },
    computed: {
        total_rows() {
            if (this.campaigns) {
                return this.campaigns.length
            }
            return 0
        },
        campaign_statuses() {
            return ['All'].concat(Object.values(CAMPAIGN_STATUS))
        }
    },
    methods: {
        async duplicate(campaign) {
            // :to="{name: 'NewCampaign', params: {id: stationary.id, from_campaign: campaign, from_recipients: recipients}}"

            this.$swal({
                title: 'Duplicating, please wait.',
                allowEscapeKey: false,
                allowOutsideClick: false,
                onOpen: function () {
                    this.$swal.showLoading()
                }.bind(this)
            })

            var recipients = {}
            var recipient_docs = await db.collection('campaigns').doc(campaign.id).collection('recipients').orderBy('created').get()
            recipient_docs.forEach((doc) => {
                var recipient = doc.data()
                recipient['id'] = doc.id
                recipients[doc.id] = recipient
            })

            recipients = Object.values(recipients) // Use map to deduplicate

            console.log(recipients.length)

            this.$swal.hideLoading()
            this.$swal.close()

            this.$router.push({
                name: 'NewCampaign',
                params: {
                    id: campaign.stationary ? campaign.stationary : 'new',
                    from_campaign: campaign,
                    from_recipients: recipients
                }
            })
        },
        do_filter() {
            this.current_page = 1

            // Set to query params
            let query = {}
            for (let k in this.$route.query) {
                query[k] = this.$route.query[k]
            }
            query['filter_status'] = this.filter_status
            if (!this.filter_by.show_api_tests) {
                query['testing'] = false
            }

            if (this.filter_user_uid !== 'No user found') {
                query['filter_user_uid'] = this.filter_user_uid
            }

            this.$router.push({
                path: this.$route.currentPath,
                query: query
            })

            this.bind_query()
        },
        update_filter_status() {
            this.current_page = 1
            this.set_page = undefined
        },
        bind_query() {
            var campaigns_query = db.collection('campaigns').orderBy('created', 'desc')
            if (!this.user_profile.admin) {
                campaigns_query = campaigns_query.where('uid', '==', this.user_profile.uid)
            }

            if (!this.filter_by.show_api_tests) {
                campaigns_query = campaigns_query.where('testing', '==', false)
            }

            if (this.filter_status !== 'All') {
                campaigns_query = campaigns_query.where('status', '==', this.filter_status)
            }

            if (this.filter_users === 'Just me') {
                campaigns_query = campaigns_query.where('uid', '==', this.user_profile.uid)
            }

            if (this.filter_user_uid !== 'No user found') {
                campaigns_query = campaigns_query.where('uid', '==', this.filter_user_uid)
            }

            this.$bind('campaigns', campaigns_query.limit(this.end_at))
        },
        change_page(page) {
            if ((page + 1) * this.per_page >= this.end_at) {
                this.end_at = (page + 1) * this.per_page + 1
                this.set_page = page
                this.bind_query()
            }

            let query = {}
            for (let k in this.$route.query) {
                query[k] = this.$route.query[k]
            }
            query['end_at'] = this.end_at
            query['set_page'] = page

            this.$router.push({
                path: this.$route.currentPath,
                query: query
            })
        },
        row_class(item, type) {
            if (!item) return
            if (item.testing) return 'table-warning'
            if (item.status === CAMPAIGN_STATUS.deleted) return 'table-danger'
        },
        display_user: function (uid) {
            for (var _uid in this.loaded_users) {
                let user = this.loaded_users[_uid]
                if (_uid === uid) {
                    return `<a href="/user/${uid}" target="_blank">${user.email}</a>`
                }
            }

            return uid
        },
        on_filtered(filtered_items) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.total_rows = filtered_items.length
        }
    }
}
</script>

<style scoped>
.ready_to_ship {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #4BBF73;
    color: #fff;
}

.complete {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #4BBF73;
    color: #fff;
}

.in_progress {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #f0ad4e;
    color: #fff;
}

.error {
    display: inline-block;
    padding: 0.3em 0.45em;
    font-size: 80%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #d9534f;
    color: #fff;
}
</style>
