<template>
<div class="col-xl-12">
    <b-form-group class="col-xl-4">
        <h3 class="ml-1">Create New Campaign </h3>
        <hr class="mb-4">
        <h4 class="ml-1">Add Campaign Name </h4>
        <b-input class="ml-1" data-hj-whitelist v-model="campaign.title" placeholder="Campaign Title" />
    </b-form-group>

    <div class="col-xl-12 mt-4 mb-3" v-if="campaign.title!=''">
        <h4 class="ml-1"> Select Campaign Type</h4>

        <div class="row ">
              <div class="ml-3 mb-2 mr-2">
                <button type="submit" v-bind:class="{'white': !campaign_type_clicked.ship_for_me, 'green': campaign_type_clicked.ship_for_me, }" @click="ship_for_me"  class="btn btn-outline-success" style="width:280px">
                    <div class="text-center">
                        <img style="width:250px;" src="/static/images/stationery/self1.jpg" class="integration-logo mt-2 mb-4">
                        <p class="mb-3 font-20">Ship for Me</p>
                        <p class="mb-3 font-10">We will print & post the notes to your recipients</p>
                    </div>
                </button>
            </div>
            <div class="ml-3">
                <button type="submit" v-bind:class="{'white': !campaign_type_clicked.ship_for_self, 'green': campaign_type_clicked.ship_for_self }" @click="ship_to_self" style="width:280px"  class="btn btn-outline-success ">
                    <div class="text-center">
                        <img style="width:250px" src="/static/images/stationery/post1.jpg" class="integration-logo mt-2 mb-4">
                        <p class="mb-3 font-20">Ship To Self</p>
                        <p class="mb-3 font-10" style="padding-right:15px; padding-left:15px">We will print the notes & send them to you</p>
                    </div>
                </button> <!-- end card-box -->
            </div>

            <!-- <div class="col-xl-4 mb-3 mt-2">
                <button type="submit" v-bind:class="{'white': !campaign_type_clicked.self_service, 'green': campaign_type_clicked.self_service }" @click="self_service" style="width:280px" class="btn btn-outline-success">
                    <div class="text-center">
                        <img style="width:250px" src="/static/images/stationery/me.png" class="integration-logo">
                        <p class="mb-3 font-20">Self Service</p>
                        <p class="mb-3 font-10">We will create the PDF files & send them to you</p>
                    </div>
                </button> <!-- end card-box -->
            <!-- </div>  -->
        </div>
    </div>
    <div class="col-xl-12 mb-5 mt-4" v-if="campaign.title!='' && (campaign_type_clicked.ship_for_me || campaign_type_clicked.ship_for_self || campaign_type_clicked.self_service)">
        <h4  class="ml-1"> Select Stationery Type</h4>

        <b-row>
            <div class="ml-3 mr-2 mb-3 mt-2" v-if="campaign.title!='' && (campaign_type_clicked.ship_for_me || campaign_type_clicked.ship_for_self )">
                <button type="submit" v-bind:class="{ 'green': stationery_type_clicked.full_service}" @click="full_service" style="width:280px" class="btn btn-outline-success">
                    <div class="text-left">
                        <p class="mb-3 font-20">Notes & Envelopes</p>
                        <p class="mb-3 font-10">From £ 2.34</p>
                    </div>
                </button> <!-- end card-box -->
            </div>
            <div class=" mr-2 mb-3 ml-3 mt-2" v-if="campaign.title!='' && campaign_type_clicked.ship_for_self">
                <button type="submit" v-bind:class="{ 'green': stationery_type_clicked.full_service_note_only}" @click="full_service_note_only" style="width:280px" class="btn btn-outline-success">
                    <div class="text-left">
                        <p class="mb-3 font-20">Notes Only</p>
                        <p class="mb-3 font-10">From £ 1.40</p>

                    </div>
                </button> <!-- end card-box -->
            </div>
            <div class="mb-3 ml-3 mt-2" v-if="campaign.title!='' && (campaign_type_clicked.self_service || campaign_type_clicked.ship_for_self) ">
                <button type="submit" v-bind:class="{'green': stationery_type_clicked.full_service_envelope_only}" @click="full_service_envelope_only" style="width:280px" class="btn btn-outline-success">
                    <div class="text-left">
                        <p class="mb-3 font-20">Envelopes Only</p>
                        <p class="mb-3 font-10">From £ 1.30 </p>
                    </div>
                </button> <!-- end card-box -->
            </div>
        </b-row>
    </div>
</div>
</div>
</template>

<script>
/* eslint no-return-await: "off" */
/* eslint no-unused-vars: "off" */

import Vue from 'vue'
import moment from 'moment'
import {
  db,
  auth,
  serverTimestamp
} from '@/lib/firebase.js'
import {
  createToken
} from 'vue-stripe-elements-plus'
import text_utils from '../lib/text_utils'
import AddressInput from '@/components/AddressInput'
import api from '../services/api.js'
import StationaryPreview from '../components/StationaryPreview'
import StationaryEdit from '../components/StationaryEdit'
import MessageEdit2 from '../components/wizard/MessageEdit2'
import StationaryEdit2 from '../components/StationaryEdit2'
import footerEdit from '../components/footerEdit'

import Schedule from '../components/wizard/Schedule'
import EnvelopePreview from '../components/EnvelopePreview'
import SenderEdit from '../components/SenderEdit'
import SettingsEdit from '../components/SettingsEdit'

import RecipientsEdit from '../components/RecipientsEdit'
import SenderOnDemandEdit from '../components/SenderOnDemandEdit'
import PriceTable from '../components/PriceTable'
import LoadingButton from '../components/LoadingButton'
import pricing from '../lib/pricing.js'
import {
  FormWizard,
  TabContent
} from 'vue-form-wizard'

import {
  INSERTS,
  GOOD,
  SAMPLE_MESSAGE,
  PRODUCT,
  DEFAULT_PRICE_ID,
  CAMPAIGN_STATUS,
  MIN_DELIVERY_DATE,
  RECIPIENT_STATUS,
  FONTS,
  PAPER_SIZES,
  ENVELOPE_SIZES,
  HANDWRITING_SIZE,
  HANDWRITING_STYLE,
  HEADER_TYPE,
  STAMP_TYPES,
  DATA_SOURCE,
  SENDER,
  ENVELOPE_REQUIRED,
  BLEED,
  BLEED_MARK_MARGIN
} from '../../functions/shared/constants.js'

export default {
  name: 'CreateCover',
  components: {
    StationaryPreview,
    StationaryEdit,
    MessageEdit2,
    EnvelopePreview,
    SenderEdit,
    SenderOnDemandEdit,
    RecipientsEdit,
    PriceTable,
    LoadingButton,
    FormWizard,
    TabContent,
    StationaryEdit2,
    footerEdit,
    SettingsEdit
  },
  props: {
    user_profile: {
      type: Object,
      required: true
    },
    campaign: {
      type: Object,
      required: true
    }
  },
  methods: {
    save () {
      this.campaign.title = this.$refs['campaign_title'].value
      this.isEditing = !this.isEditing
    },
    ship_for_me: function () {
      this.campaign_type_clicked = {
        ship_for_me: !this.campaign_type_clicked.ship_for_me,
        ship_for_self: false,
        self_service: false
      }
      //   this.campaign.delivery.sender.push(SENDER.ship_for_me)
      this.campaign.delivery.sender = SENDER.ship_for_me
    },
    ship_to_self: function () {
      this.campaign_type_clicked = {
        ship_for_me: false,
        ship_for_self: !this.campaign_type_clicked.ship_for_self,
        self_service: false
      }
      //   this.campaign.delivery.sender.push(SENDER.ship_to_self)

      this.campaign.delivery.sender = SENDER.ship_to_self
    },
    self_service: function () {
      this.campaign_type_clicked = {
        ship_for_me: false,
        ship_for_self: false,
        self_service: !this.campaign_type_clicked.self_service
      }
      //   this.campaign.delivery.sender.push(SENDER.self_service)
      //   this.campaign.delivery.sender = SENDER.self_service
    },
    full_service: function () {
      this.stationery_type_clicked = {
        full_service: !this.stationery_type_clicked.full_service,
        full_service_note_only: false,
        full_service_envelope_only: false
      }

      this.campaign.product = PRODUCT.full_service
      return this.campaign.product
    },
    full_service_note_only: function () {
      this.stationery_type_clicked = {
        full_service: false,
        full_service_note_only: !this.stationery_type_clicked.full_service_note_only,
        full_service_envelope_only: false
      }
      //   this.campaign.product = PRODUCT.full_service_note_only
      this.campaign.product = PRODUCT.full_service_note_only

      return this.campaign.product
    },
    full_service_envelope_only: function () {
      this.stationery_type_clicked = {
        full_service: false,
        full_service_note_only: false,
        full_service_envelope_only: !this.stationery_type_clicked.full_service_envelope_only
      }
      //   this.campaign.product = PRODUCT.full_service_envelope_only
      this.campaign.product = PRODUCT.full_service_envelope_only
      return this.campaign.product
    },
    next_tab: function (a, skip_validation) {
      this.skip_validation = skip_validation
      this.$refs['wizard'].nextTab()
    },
    prev_tab: function () {
      this.$refs['wizard'].prevTab()
    },
    validate: async function () {
      if (this.campaign.title === '') {
        this.$bvToast.toast('Please Enter Campaign Title', {
          title: `Error`,
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: true
        })
        return false
      }

      if (!this.campaign_type_clicked.ship_for_self && !this.campaign_type_clicked.ship_for_me) {
        // if (!this.campaign.delivery.sender.self_for_self &&  !this.campaign.delivery.sender.self_to_self) {
        this.$bvToast.toast('Please Select Campaign Type', {
          title: `Error`,
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: true
        })
        return false
      }
      if (!this.stationery_type_clicked.full_service && !this.stationery_type_clicked.full_service_note_only && !this.stationery_type_clicked.full_service_envelope_only) {
        this.$bvToast.toast('Please Select Stationery Type', {
          title: `Error`,
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: true
        })
        return false
      }
      return true
    }
  },
  data () {
    return {
      campaign_type_clicked: {
        ship_for_me: false,
        ship_for_self: false,
        self_service: false
      },
      stationery_type_clicked: {
        full_service: false,
        full_service_note_only: false,
        full_service_envelope_only: false
      }

    }
  }
}
</script>

<style scoped>
.sl-address {
    padding-bottom: 1.3rem;
    border-bottom: 1px solid rgb(68,80,165);
    margin: 0 auto 2rem;
    width: 630px;
}

.green:hover {
    color: rgb(68,80,165);
}

.green {
    background-color: rgb(207, 212, 245);
}
</style>
