<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <h4 class="page-title">Integrations</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 ">
            <div class="card-box" style="height:315px" >
                <div class="text-center" >
                    <img src="/static/images/hubspot-logo.png" class="integration-logo">
                    <h4 class="mb-3 font-20">Hubspot</h4>
                </div>

                <p class="font-14 text-center text-muted">
                    HubSpot offers a full platform of marketing, sales, customer service, and CRM software — plus the methodology, resources, and support — to help businesses </p>

                <div class="text-center">
                    <a href="https://support.scribeless.co/api" class="btn btn-sm btn-primary">Connect</a>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box" style="height:315px">
                <div class="text-center" >
                    <img src="/static/images/shopify-logo.png" class="integration-logo">
                    <h4 class="mb-1 font-20">Shopify</h4>
                    <p class="text-muted  font-14"></p>
                </div>

                <p class="font-14 text-center text-muted">
                    We're not just an ecommerce software, Shopify is the best ecommerce platform that has everything you need to sell online, on social media.
                </p>

                <div class="text-center">
                    <a href="https://apps.shopify.com/scribeless" class="btn btn-sm btn-primary">Connect</a>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box" style="height:315px">
                <div class="text-center">
                    <img src="/static/images/zapier-logo.png" class="integration-logo ">
                    <h4 class="mb-1 font-20">Zapier</h4>
                    <p class="text-muted  font-14"></p>
                </div>

                <p class="font-14 text-center text-muted">
                    Connect the apps you use everyday to automate your work and be more productive. 2000 apps and easy integrations - get started in minutes.
                </p>

                <div class="text-center">
                    <a href="https://zapier.com/app-directory/scribeless/integrations" class="btn btn-sm btn-primary">Connect</a>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box" style="height:315px">
                <div class="text-center">
                    <img height="100px" src="/static/images/rest-api-logo1.png" class="integration-logo">
                    <h4 class="mb-1 font-20">RESTFUL API</h4>
                    <p class="text-muted  font-14"></p>
                </div>

                <p class="font-14 text-center text-muted">
                    Connect the apps you use everyday to automate your work and be more productive. 2000 apps and easy integrations - get started in minutes.
                </p>

                <div class="text-center">
                    <a href="https://support.scribeless.co/api" class="btn btn-sm btn-primary">Connect</a>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

    </div>
</div>
</template>

<script>
// import validator from 'validator'
import CountrySelect from '@/components/CountrySelect'
import StateSelect from '@/components/StateSelect'

import countries_list from '../lib/countries'
// import states_list from '../lib/states'
import NoSSR from 'vue-no-ssr'
// import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'

export default {
  name: 'Team',
  props: ['value'],
  components: {
    CountrySelect,
    StateSelect,
    NoSSR,
    VueGoogleAutocomplete: () => import('vue-google-autocomplete')
  },
  dataTest: function () {
    return {
      address: ''
    }
  },
  data () {
    if (!this.value) {
      return {
        first_name: '',
        last_name: '',
        job_title: '',
        organisation: '',
        address_line_1: '',
        address_line_2: '',
        city: '',
        postcode: '',
        country: '',
        region: ''
      }
    }
    return {
      first_name: this.value.first_name || '',
      last_name: this.value.last_name || '',
      job_title: this.value.job_title || '',
      organisation: this.value.organisation || '',
      address_line_1: this.value.address_line_1 || '',
      address_line_2: this.value.address_line_2 || '',
      city: this.value.city || '',
      postcode: this.value.postcode || '',
      country: this.value.country || 'GB',
      region: this.value.region
    }
  },
  watch: {
    value: function (val) {
      if (!val) {
        return
      }
      this.first_name = val.first_name
      this.last_name = val.last_name
      this.job_title = val.job_title
      this.organisation = val.organisation
      this.address_line_1 = this.$refs.autocomplete.$el.value
      this.address_line_2 = val.address_line_2
      this.city = val.city
      this.postcode = val.postcode
      this.country = val.country
      this.region = val.region
    }
  },
  methods: {
    update () {
      this.$emit('input', {
        first_name: this.first_name || '',
        last_name: this.last_name || '',
        job_title: this.job_title || '',
        organisation: this.organisation || '',
        address_line_1: this.$refs.autocomplete.$el.value || '',
        address_line_2: this.address_line_2 || '',
        city: this.city || '',
        postcode: this.postcode || '',
        country: this.country || 'GB',
        region: this.region || ''
      })
    },
    /**
         * Find the value for a given key
         * @param {Object} object Object
         * @param {Object} value Value
         */
    get_key_by_value (object, value) {
      return Object.keys(object).find(key => object[key] === value)
    },
    /**
         * When the location found
         * @param {Object} addressData Data of the found location
         * @param {Object} placeResultData PlaceResult object
         * @param {String} id Input container ID
         */
    getAddressData: function (addressData, placeResultData, id) {
      console.log(addressData)
      console.log(placeResultData)
      let address_line_1_name
      let address_line_2_name
      let city_name

      this.address_line_1 = null
      this.address_line_2 = null
      this.city = null
      this.postcode = null
      this.country = null
      this.region = null

      // city_name = addressData.locality

      // Set data
      if (placeResultData.address_components.length === 8) {
        address_line_1_name = addressData.street_number + ' ' + addressData.route
        if (placeResultData.address_components[2].long_name !== addressData.route) {
          address_line_2_name = placeResultData.address_components[2].long_name
          console.log(placeResultData.address_components[1].long_name, addressData.route, '2')
        }
        city_name = placeResultData.address_components[3].long_name
      } else {
        address_line_1_name = addressData.street_number + ' ' + addressData.route
        if (placeResultData.address_components[1].long_name !== addressData.route) {
          address_line_2_name = placeResultData.address_components[1].long_name
          console.log(placeResultData.address_components[1].long_name, addressData.route, '!')
        }
        city_name = placeResultData.address_components[2].long_name
      }
      // Validate and set values
      if (addressData.postal_code) {
        this.postcode = addressData.postal_code
      }
      if (city_name) {
        this.city = city_name
      }
      if (address_line_2_name) {
        this.address_line_2 = address_line_2_name
      }
      if (addressData.country) {
        this.country = this.get_key_by_value(countries_list, addressData.country)
      }
      if (this.country !== 'GB' && addressData.administrative_area_level_1) {
        this.region = addressData.administrative_area_level_1
      }
      if (addressData.street_number && addressData.route) {
        this.$refs.autocomplete.$el.value = address_line_1_name
      } else if (addressData.route) {
        this.$refs.autocomplete.$el.value = addressData.route
      } else {
        this.$refs.autocomplete.$el.value = ''
      }
    },
    validate: function () {
      if (!this.first_name || this.first_name.length < 1) {
        this.$swal('Error', 'Please enter a first name', 'error')
        return false
      }

      if (!this.last_name || this.last_name.length < 1) {
        this.$swal('Error', 'Please enter a last name', 'error')
        return false
      }

      if (!this.country || this.country.length < 2) {
        this.$swal('Error', 'Please enter a valid country', 'error')
        return false
      }

      if (this.country === 'US' && this.region.length < 2) {
        this.$swal('Error', 'Please enter a state', 'error')
        return false
      }

      if (!this.postcode) { // !validator.isPostalCode(this.postcode, this.country)
        this.$swal('Error', 'Please enter a valid zip / postal code', 'error')
        return false
      }

      if (!this.address_line_1 || this.address_line_1.length < 1) {
        this.$swal('Error', 'Please enter address line 1', 'error')
        return false
      }

      return true
    }
  }
}
</script>

<style scoped>
.integration-logo {
    padding-bottom: 20px;
}
</style>
