<template>
<div class="container-fluid" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box">
                <div class="page-title-right">
                </div>
                <h4 class="page-title">Settings</h4>
            </div>
        </div>
    </div>
    <b-row>
        <b-col md="4" class="scrb-st-navbar">
            <div class="bg-white scrb-st-nav-body">
                <div>
                    <b-row>
                        <b-col cols="3">
                            <img v-if="user_profile.avatar" :src="user_profile.avatar" class="avatar" width="60" height="60" />
                            <avatar v-else :username="`${user_profile.first_name} ${user_profile.last_name}`" :rounded="true" :size="60" backgroundColor="rgb(68,80,165)" color="white">
                            </avatar>
                        </b-col>
                        <b-col cols="9" class="scrb-name">
                            <h3>{{user_profile.first_name}} {{user_profile.last_name}}</h3>
                        </b-col>
                    </b-row>
                </div>
            </div>

            <div class="scrb-separator"></div>

            <div class="bg-white scrb-st-nav-body">

                <ul class="scrb-st-list-wrapper">
                    <li class="scrb-st-nav-list" @click="change_setting_content('account')">
                        <a href="#" :class="{ active: content_state.account }">
                            <span class="nav-icon"><i class="fas fa-user fa-fw"></i></span>
                            <span class="nav-title">Account Settings</span>
                        </a>
                    </li>

                    <li class="scrb-st-nav-list" @click="change_setting_content('change_password')">
                        <a href="#" :class="{ active: content_state.change_password }">
                            <span class="nav-icon"><i class="fas fa-cog fa-fw"></i></span>
                            <span class="nav-title">Change Password</span>
                        </a>
                    </li>
                    <li class="scrb-st-nav-list" @click="change_setting_content('payment')">
                        <a href="#" :class="{ active: content_state.payment }">
                            <span class="nav-icon"><i class="fas fa-dollar-sign fa-fw"></i></span>
                            <span class="nav-title">Payment</span>
                        </a>
                    </li>
                    <li class="scrb-st-nav-list" @click="change_setting_content('api')">
                        <a href="#" :class="{ active: content_state.api }">
                            <span class="nav-icon"><i class="fas fa-key fa-fw"></i></span>
                            <span class="nav-title">API</span>
                        </a>
                    </li>
                    <li class="scrb-st-nav-list" @click="change_setting_content('referral')">
                        <a href="#" :class="{ active: content_state.referral}">
                            <span class="nav-icon"><i class="fas fa-user-plus fa-fw"></i></span>
                            <span class="nav-title">Referral</span>
                        </a>
                    </li>
                    <!-- <li class="scrb-st-nav-list" @click="change_setting_content('billing')">
                        <a href="#" :class="{ active: content_state.billing}">
                            <span class="nav-icon"><i class="fe-tag"></i></span>
                            <span class="nav-title">Billing</span>
                        </a>
                    </li> -->
                    <!-- <li class="scrb-st-nav-list" @click="change_setting_content('integration')">
                        <a href="#" :class="{ active: content_state.integration}">
                            <span class="nav-icon"><i class="fe-share-2"></i></span>
                            <span class="nav-title">Integration</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </b-col>

        <b-col md="8" class="scrb-st-content">
            <div class="bg-white scrb-st-body">
                <div class="scrb-st-account-info" :class="{ 'scrb-st-active': content_state.account, 'scrb-st-inactive': !content_state.account }">
                    <div class="scrb-content-title">
                        <h3> Account Information </h3>
                    </div>
                    <div class="scrb-separator"></div>
                    <div class="scrb-content">
                        <h3 class="mb-4">Account:</h3>

                        <b-row>
                            <b-col md="3" class="scrb-align-right">
                                <label class="scrb-st-label">Avatar</label>
                            </b-col>

                            <b-col md="9">
                                <b-form-group>
                                    <AvatarImage :avatar="user_profile.avatar" :first_name="user_profile.first_name" :last_name="user_profile.last_name" :profile_id="user_profile.id" />
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <AddressInput v-model="user_profile.address" ref="address" class="mb-3" />

                        <hr>

                        <b-row>
                            <b-col md="3"></b-col>

                            <b-col md="9">
                                <div class="d-flex justify-content-start">
                                    <button @click="update_address" class="btn btn-primary mr-2">Save changes</button>
                                    <button class="btn btn-light">Cancel</button>
                                </div>
                            </b-col>
                        </b-row>
                    </div>
                </div>

                <div class="scrb-st-change-password" :class="{ 'scrb-st-active': content_state.change_password, 'scrb-st-inactive': !content_state.change_password}">
                    <div class="scrb-content-title">
                        <h3> Change Password </h3>
                    </div>
                    <div class="scrb-separator"></div>
                    <div class="scrb-content">
                        <h3 class="mb-4">Change Or Recover Your Password:</h3>

                        <div>
                            <b-row>
                                <b-col md="3" class="scrb-align-right">
                                    <label class="scrb-st-label">Current Password</label>
                                </b-col>

                                <b-col md="9">
                                    <b-form-group>
                                        <b-input data-hj-whitelist type="password" id="password" v-model="current_password" placeholder="Enter Your Password" autocomplete="current-password" />
                                        <small class="text-muted"><a class="kt-link kt-font-sm kt-font-bold kt-margin-t-5" href='#' @click="resetPassword">Forgotten Password?</a></small>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col md="3" class="scrb-align-right">
                                    <label class="scrb-st-label">New Password</label>
                                </b-col>

                                <b-col md="9">
                                    <b-form-group>
                                        <input autocomplete="new-password" v-model="new_password" type="password" class="form-control" id="inputPasswordNew">
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <hr>

                            <b-row>
                                <b-col md="3"></b-col>

                                <b-col md="9">
                                    <div class="d-flex justify-content-start">
                                        <button @click="changePassword" class="btn btn-primary mr-2">Save changes</button>
                                        <button class="btn btn-light">Cancel</button>
                                    </div>
                                </b-col>
                            </b-row>
                        </div>
                    </div>
                </div>

                <div class="scrb-st-payment" :class="{ 'scrb-st-active': content_state.payment, 'scrb-st-inactive': !content_state.payment}">
                    <div class="scrb-content-title">
                        <h3> Payment </h3>
                    </div>
                    <div class="scrb-separator"></div>
                    <div class="scrb-content">
                        <h3 class="mb-4">Payment:</h3>

                        <div>
                            <b-row>
                                <b-col md="3" class="scrb-align-right">
                                    <label class="scrb-st-label">Currency</label>
                                </b-col>

                                <b-col md="9">
                                    <b-form-group>
                                        <input autocomplete="new-password" v-bind:value="(user_profile.currency || '').toUpperCase()" type="text" class="form-control" id="inputCurrency"  disabled>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col md="3" class="scrb-align-right">
                                    <label class="scrb-st-label">Tax rate</label>
                                </b-col>

                                <b-col md="9">
                                    <b-form-group>
                                        <input v-bind:value="tax_rate" type="text" class="form-control" id="inputTax" disabled>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col md="3" class="scrb-align-right">
                                    <label class="scrb-st-label">Credit</label>
                                </b-col>

                                <b-col md="9">
                                    <b-form-group>
                                        <input v-bind:value="(user_profile.credit || 0) / 100" type="text" class="form-control" id="inputCredit" disabled>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col md="3" class="scrb-align-right">
                                    <label class="scrb-st-label">Current billing period</label>
                                </b-col>

                                <b-col md="9">
                                    <b-form-group>
                                        <input v-bind:value="`${display_timestamp(user_profile.billing_period_start_date, true) || ''} to ${display_timestamp(user_profile.billing_period_end_date, true) || ''} (${user_profile.billing_period_recipients_count || 0} recipients)`" id="inputCurrentBilling" type="text" class="form-control" disabled>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                        </div>

                    </div>
                </div>

                <div class="scrb-st-api" :class="{ 'scrb-st-active': content_state.api, 'scrb-st-inactive': !content_state.api}">
                    <div class="scrb-content-title">
                        <h3> API </h3>
                    </div>
                    <div class="scrb-separator"></div>
                    <div class="scrb-content">
                        <h3 class="mb-4">API Access:</h3>
                        <div>
                            <b-row>
                                <b-col md="3" class="scrb-align-right">
                                    <label class="scrb-st-label">API Key</label>
                                </b-col>

                                <b-col md="9">
                                    <b-form-group>
                                        <input v-bind:value="user_profile.api_key" type="text" class="form-control" id="inputAPI" disabled>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col md="3" class="scrb-align-right"> </b-col>
                                <b-col md="9">
                                    Use our API and CRM integrations to deliver notes based on customer activity. View the documentation to learn more.
                                </b-col>
                            </b-row>
                        </div>

                    </div>
                </div>

                <div class="scrb-st-referral" :class="{ 'scrb-st-active': content_state.referral, 'scrb-st-inactive': !content_state.referral }">
                    <div class="scrb-content-title">
                        <h3> Referral </h3>
                    </div>
                    <div class="scrb-separator"></div>
                    <div class="scrb-content">
                        <Referral v-bind:user_profile="user_profile"></Referral>
                    </div>
                </div>

                <!-- <div class="scrb-st-billing" :class="{ 'scrb-st-active': content_state.billing, 'scrb-st-inactive': !content_state.billing }">
                    <div class="scrb-content-title">
                        <h3> Billing </h3>
                    </div>
                    <div class="scrb-separator"></div>
                    <div class="scrb-content">

                        <Billing v-bind:user_profile="user_profile" :billing_clicked="billing_clicked"></Billing>
                    </div>
                </div> -->
                <!-- <div class="scrb-st-integration" :class="{ 'scrb-st-active': content_state.integration, 'scrb-st-inactive': !content_state.integration }">
                    <div class="scrb-content-title">
                        <h3> Integration </h3>
                    </div>
                    <div class="scrb-separator"></div>
                    <div class="scrb-content">
                        <Integration v-bind:user_profile="user_profile"></Integration>
                    </div>
                </div> -->
            </div>
        </b-col>
    </b-row>

</div>
</template>

<script>
import AvatarImage from '@/components/AvatarImage'
import {
  auth,
  db,
  fb

} from '@/lib/firebase.js'
import config from '@/lib/config.js'
import pricing from '../lib/pricing.js'
import AddressInput from '@/components/AddressInput'
import Referral from './Referral'
import Billing from './Billing'
import Integration from './Integrations'

import Vue from 'vue'
import {
  ValidationProvider
} from 'vee-validate'
import Avatar from 'vue-avatar'

Vue.component('ValidationProvider', ValidationProvider)

export default {
  name: 'Settings',
  components: {
    AvatarImage,
    AddressInput,
    Avatar,
    Referral,
    Billing,
    Integration,
    VueGoogleAutocomplete: () => import('vue-google-autocomplete')
  },
  data () {
    return {
      billing_clicked: false,
      hubspot_connecting: false,
      stripe_options: {
        iconStyle: 'solid',
        style: {
          base: {
            iconColor: '#c4f0ff',
            color: '#fff',
            fontWeight: 500,
            fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',

            ':-webkit-autofill': {
              color: '#fce883'
            },
            '::placeholder': {
              color: '#87BBFD'
            }
          },
          invalid: {
            iconColor: '#FFC7EE',
            color: '#FFC7EE'
          }
        }
      },
      current_password: '',
      password: '',
      new_password: '',
      valid_password: undefined,
      user: auth.currentUser,
      complete: false, // TODO
      content_state: {
        account: true,
        change_password: false,
        payment: false,
        api: false,
        referral: false
      }
    }
  },
  props: {
    logged_in: {
      type: Boolean
    },
    do_logout: {
      type: Boolean
    },
    user_profile: {
      type: Object
    },
    price_table: {
      type: Object
    }
  },
  computed: {
    uid: function () {
      let uid = auth.currentUser.uid
      return 'https://app.scribeless.co/?sign-up-request&referral=' + uid
    },
    tax_rate: function () {
      if (this.user_profile) {
        return pricing.caluclate_customer_tax_rate(this.user_profile)
      }

      return ''
    }
  },
  methods: {
    connect_hubspot: async function () {
      // this.hubspot_connecting = true
      // await api.set_hubspot_connection_session(auth.currentUser.uid)
      window.open(`${config.firebase_config.functions}/hubspot/install?uid=${auth.currentUser.uid}`, '_blank')
      // this.hubspot_connecting = false
    },
    disconnect_hubspot: async function () {
      await db.collection('hubspot').doc(this.user_profile.hubspot_integration_doc.id).delete()
      await db.collection('users').doc(auth.currentUser.uid).update({
        hubspot_integration_doc: null,
        updated: new Date(),
        updated_by: this.user_profile.id
      })
    },
    async update_address () {
      var valid_address = this.$refs.address.validate()
      if (!valid_address) {
        return
      }
      var address = [this.user_profile.address.address_line_1, this.user_profile.address.address_line_2].join('\n').trim()

      var _hsq = window._hsq = window._hsq || []
      _hsq.push(['identify', {
        email: this.user_profile.email,
        address: address,
        city: this.user_profile.address.city || null,
        zip: this.user_profile.address.postcode,
        country: this.user_profile.address.country,
        state: this.user_profile.address.region
      }])
      _hsq.push(['trackPageView'])

      await db.collection('users').doc(auth.currentUser.uid).update({
        first_name: this.user_profile.address.first_name || null,
        last_name: this.user_profile.address.last_name || null,
        address: {
          first_name: this.user_profile.address.first_name || null,
          last_name: this.user_profile.address.last_name || null,
          address_line_1: this.user_profile.address.address_line_1 || null,
          address_line_2: this.user_profile.address.address_line_2 || null,
          city: this.user_profile.address.city || null,
          postcode: this.user_profile.address.postcode || null,
          country: this.user_profile.address.country || null,
          region: this.user_profile.address.region || null,
          job_title: this.user_profile.address.job_title || null,
          organisation: this.user_profile.address.organisation || null
        },
        updated: new Date(),
        updated_by: this.user_profile.id
      })

      this.$swal('Success', 'Successfully updated address.', 'success')
    },
    copy_referral_code () {
      let referral_code = document.querySelector('#referral-code')
      referral_code.setAttribute('type', 'text')
      referral_code.select()
      try {
        var success = document.execCommand('copy')
        var status = success ? 'success' : 'error'
        if (status === 'success') {
          this.$swal('Success', 'Successfully copied referral.', 'success')
        }
      } catch (err) {
        alert('Whoops! Something went wrong')
      }
    },

    async update_password () {
      try {
        // var user = await auth.currentUser.updatePassword(this.new_password)
        this.$swal('Success', 'Successfully updated password.', 'success')
      } catch (err) {
        if (err.code === 'auth/requires-recent-login') {
          this.$swal('Info', 'We need to reauthenticate you before updating your password. Please log back in.', 'info')
          auth.signOut()
        } else {
          this.$swal('Error', err.message, 'error')
        }
      }
    },
    logout () {
      auth.signOut()
    },
    changePassword () {
      let user = auth.currentUser
      // console.log("user", user)

      const credentials = fb.auth.EmailAuthProvider.credential(
        user.email,
        this.current_password
      )
      // console.log("credentials:", credentials)

      user.reauthenticateAndRetrieveDataWithCredential(credentials)
        .then(() => {
          user.updatePassword(this.new_password)
            .then(() => {
              this.$swal('Success', 'Successfully updated password.', 'success')
            })
            .catch(error => console.log(error))
        })
        .catch(error => this.$swal('Error', error.message, 'error'))
    },

    resetPassword () {
      const auth = fb.auth()
      auth.sendPasswordResetEmail(auth.currentUser.email).then(() => {
        this.$swal('Info', 'Password reset link has been sent to your email ', 'info')
      }).catch((error) => {
        console.log(error)
      })
    },

    change_setting_content (content) {
      if (content === 'billing') {
        this.billing_clicked = true
      }
      this.content_state = {
        account: false,
        change_password: false,
        payment: false,
        api: false,
        referral: false
      }
      this.content_state[content] = true
    }

  }
}
</script>

<style scoped>
.scrb-st-nav-body,
.scrb-content,
.scrb-content-title {
    padding: 25px;
    border-radius: 4px;
}

.scrb-content-title h3 {
    margin: 0;
}

.scrb-content h3 {
    font-size: 1.1rem;
}

.scrb-st-list-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.scrb-st-nav-list a {
    display: block;
    padding: .55rem 1.75rem 0.55rem 1rem;
    border-radius: 4px;
}

.scrb-st-nav-list a.active,
.scrb-st-nav-list a:hover {
    background-color: #f7f8fa;
    color: rgb(68,80,165);
}

.scrb-st-nav-list .nav-title {
    font-weight: 600;
    font-size: 1rem;
}

/deep/ h4.page-title,
.scrb-st-nav-list a,
.scrb-content h3,
.scrb-name h3,
.scrb-content-title h3 {
    color: #6e768e;
}

.scrb-content-title h3 {
    font-size: 1.2rem;
}

.scrb-separator {
    height: 0;
    border-top: 1px solid #ebedf2;
}

.scrb-st-active {
    display: block;
}

.scrb-st-inactive {
    display: none;
}

/deep/ .scrb-align-right {
    text-align: right;
}

@media screen and (max-width: 767px) {
    /deep/ .scrb-align-right {
        text-align: left;
    }
}

/deep/ .scrb-st-label {
    padding-top: calc(.65rem + 1px);
    padding-bottom: calc(.65rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.scrb-name {
    margin: auto;
}

.avatar {
    border-radius: 50%;
}

.nav-icon {
    padding-right: 8px;
}

#inputCurrency, #inputTax, #inputCredit, #inputCurrentBilling, #inputAPI{
background-color: #e9ecef;
opacity:1;
}
</style>
