<template>
    <form-wizard class="p-4" :color="primary_color" error-color="#f1556c" title='' subtitle='' @on-complete="handle_submit">
        <tab-content title="Personal Details" icon="ti-user" :before-change="validate_personal_fields">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Title <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.title" type="text" class="form-control" placeholder="Required" :state="validation.title" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">First Name <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.first_name" type="text" class="form-control" placeholder="Required" :state="validation.first_name" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Last Name <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.last_name" type="text" class="form-control" placeholder="Required" :state="validation.last_name" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Department </label>
                        <input v-model="audience_input.department" type="text" class="form-control" placeholder="Optional" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Company</label>
                        <input v-model="audience_input.company" type="text" class="form-control" placeholder="Optional" />
                    </div>
                </div>
            </div>

        </tab-content>

        <tab-content title="Address" icon="ti-location-pin" :before-change="validate_address_fields" >
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Address Line 1 <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.address_line_1" type="text" class="form-control" placeholder="Required" :state="validation.address_line_1" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Address Line 2 </span></label>
                        <input v-model="audience_input.address_line_2" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Address Line 3 </label>
                        <input v-model="audience_input.address_line_3" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">City <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.city" type="text" class="form-control" placeholder="Required" :state="validation.city" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Postal Code <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.postal_code" type="text" class="form-control" placeholder="Required" :state="validation.postal_code" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">State/Region <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.state" type="text" class="form-control" placeholder="Required" :state="validation.state" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Country <span class="text-danger">*</span></label>
                        <b-form-select v-model="audience_input.country" :options="country_options" :state="validation.country"></b-form-select>
                    </div>
                </div>
            </div>
        </tab-content>
    </form-wizard>
</template>

<script>
import countriesList from '../lib/countries'

export default {
  name: 'AudienceDetailInput',
  props: ['audience_input', 'handle_submit'],
  data () {
    let country_options = []
    for (let key in countriesList) {
      country_options.push({ value: countriesList[key], text: countriesList[key] })
    }

    return {
      countriesList,
      country_options,
      validation: {
        title: undefined,
        first_name: undefined,
        last_nam: undefined,
        address_line_1: undefined,
        city: undefined,
        postal_code: undefined,
        state: undefined,
        countr: undefined

      },
      primary_color: '#4450a5'
    }
  },
  methods: {
    validate_personal_fields () {
      return this.validate_fields('personal')
    },

    validate_address_fields () {
      return this.validate_fields('address')
    },

    validate_fields (type) {
      let required_fields = []
      this.validation = {}
      if (type === 'personal') {
        required_fields = [ 'title', 'first_name', 'last_name' ]
      } else if (type === 'address') {
        required_fields = ['address_line_1', 'city', 'postal_code', 'state', 'country']
      }

      let errors = {}
      for (let field of required_fields) {
        if (!this.audience_input[field]) {
          errors[field] = false
        }
      }

      if (Object.keys(errors).length) {
        this.validation = errors
        return false
      }
      return true
    }
  }
}
</script>

<style scoped>
    .required,
    .scrb-validation-error {
      color: #f1556c
    }
</style>
