<template>
  <div>
    <b-card-body>
      <LineChart :chart_data="cost_analysis_data" />
    </b-card-body>
    <b-card-body>
      <LineChart :chart_data="recipient_analysis_data" />
    </b-card-body>
  </div>
</template>

<script>
import LineChart from '@/components/common/charts/LineChart'
import moment from 'moment'
import generateCategories from '@/lib/generateCategories'

export default {
  name: 'BatchChart',
  props: ['printers', 'batches', 'dates', 'from_date', 'total_days'],
  data () {
    return {
      cost_analysis_data: {
        series: [],
        categories: generateCategories(
          new Date(moment(this.from_date).format()).getTime(),
          this.total_days
        ),
        height: 350,
        x_axis: {
          title: 'Shipped Date (dd-mm-yy)'
        },
        y_axis: {
          title: 'Cost (£)'
        }
      },
      recipient_analysis_data: {
        series: [],
        categories: generateCategories(
          new Date(moment(this.from_date).format()).getTime(),
          this.total_days
        ),
        height: 350,
        x_axis: {
          title: 'Shipped Date (dd-mm-yy)'
        },
        y_axis: {
          title: 'Number of Recipients'
        }
      }
    }
  },
  components: {
    LineChart
  },
  watch: {
    printers: {
      deep: true,
      handler: function () {
        this.updatedata()
      }
    },
    batches: {
      deep: true,
      handler: function () {
        this.updatedata()
      }
    }
  },
  mounted () {
    this.updatedata()
  },
  methods: {
    buildDataSet: function () {
      let labels = []
      let datasets_count = {}
      let datasets_cost = {}

      if (!this.printers || this.printers.length === 0) {
        return
      }

      let i = 0
      for (let printer of this.printers) {
        datasets_count[printer.id] = { data: [], name: printer.name }
        datasets_cost[printer.id] = { data: [], name: printer.name }
        i++
      }

      for (let date of this.dates) {
        labels.push(date)

        let added = {}
        for (let printer in datasets_count) {
          added[printer] = false
        }

        for (let batch of this.batches) {
          if (!batch.printer_doc || !batch.printer_doc.id) {
            continue
          }

          if (moment(batch.shipped_date.toDate()).format('DD-MM-YY') === date) {
            if (!datasets_count[batch.printer_doc.id]) {
              console.error(`Unknown printer ID: ${batch.printer_doc.id}`)
              continue
            }

            datasets_count[batch.printer_doc.id].data.push(batch.count)
            datasets_cost[batch.printer_doc.id].data.push(batch.cost / 100)
            added[batch.printer_doc.id] = true
          }
        }

        for (let printer in added) {
          if (!added[printer]) {
            datasets_count[printer].data.push(0)
            datasets_cost[printer].data.push(0)
          }
        }
      }

      return {
        labels: labels,
        datasets_cost: datasets_cost,
        datasets_count: datasets_count
      }
    },
    updatedata: function () {
      let costAnalysisSeries = []
      let recipientAnalysisSeries = []
      let generatedCategories = []

      let built_data = this.buildDataSet()

      if (built_data) {
        costAnalysisSeries = Object.values(built_data.datasets_cost)
        recipientAnalysisSeries = Object.values(built_data.datasets_count)
        generatedCategories = generateCategories(
          new Date(moment(this.from_date).format()).getTime(),
          this.total_days
        )
      }

      let cost_analysis_data = {
        ...this.cost_analysis_data,
        series: costAnalysisSeries,
        categories: generatedCategories
      }

      let recipient_analysis_data = {
        ...this.recipient_analysis_data,
        series: recipientAnalysisSeries,
        categories: generatedCategories
      }

      this.cost_analysis_data = cost_analysis_data
      this.recipient_analysis_data = recipient_analysis_data
    }
  }
}
</script>
<style></style>
