<script>
// import FullCalendar from '@fullcalendar/vue'
// import dayGridPlugin from '@fullcalendar/daygrid'
// import timeGridPlugin from '@fullcalendar/timegrid'
// import interactionPlugin from '@fullcalendar/interaction'
// import bootstrapPlugin from '@fullcalendar/bootstrap'
// import listPlugin from '@fullcalendar/list'

// export default {
//     name: 'Analytics',
//     components: {
//         FullCalendar // make the <FullCalendar> tag available
//     },
//     data() {
//         return {
//             title: 'Calender',
//             items: [{
//                     text: 'UBold',
//                     href: '/',
//                 },
//                 {
//                     text: 'Apps',
//                     href: '/',
//                 },
//                 {
//                     text: 'Calender',
//                     active: true,
//                 },
//             ],
//             calendarWeekends: true,
//             calendarPlugins: [
//                 dayGridPlugin,
//                 timeGridPlugin,
//                 interactionPlugin,
//                 bootstrapPlugin,
//                 listPlugin,
//             ],
//             themeSystem: 'bootstrap',
//             calendarEvents: calendarEvents,
//             showmodal: false,
//             eventModal: false,
//             categories: categories,
//             submitted: false,
//             submit: false,
//             newEventData: {},
//             edit: {},
//             deleteId: {},
//             event: {
//                 title: '',
//                 category: '',
//             },
//             editevent: {
//                 editTitle: '',
//             },
//         }
//     },
// }
// </script>

// <template>
// <div class="row">
//     <div class="col-12">
//         <div class="card">
//             <div class="card-body">
//                 <div class="app-calendar">
//                     <FullCalendar ref="fullCalendar" default-view="dayGridMonth" :header="{ left: 'prev,next today',center: 'title',right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek' }" :editable="true" :droppable="true" :plugins="calendarPlugins" :weekends="calendarWeekends" :theme-system="themeSystem" @dateClick="dateClicked" @eventClick="editEvent" />
//                 </div>
//             </div>
//         </div>
//     </div>
// </div>
// </template>
