<template>
<b-table-simple bordered v-if="campaign && stationary">

    <b-tbody>
        <b-tr v-if="campaign.status">
            <b-th>Status</b-th>
            <b-td><span :class="campaign.status.toLowerCase().replace(/ /g, '_')">{{campaign.status}}</span></b-td>
        </b-tr>
        <b-tr v-if="campaign.created">
            <b-th>Created</b-th>
            <b-td>{{display_timestamp(campaign.created)}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.data && campaign.product !== PRODUCT.self_service">
            <b-th>Recipient(s)</b-th>
            <b-td>{{campaign.data.length}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.stationary_required">
            <b-th>Stationery</b-th>
            <b-td v-if="stationary">{{stationary.paper.name}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.envelope.required === ENVELOPE_REQUIRED.yes">
            <b-th>Envelope</b-th>
            <b-td>{{campaign.envelope.paper.name}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.envelope.required && campaign.product !== PRODUCT.self_service">
            <b-th>Stamp</b-th>
            <b-td>{{campaign.envelope.stamp}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.product !== PRODUCT.self_service && campaign.envelope.inserts">
            <b-th>Inserts</b-th>
            <b-td>{{campaign.envelope.inserts ? campaign.envelope.inserts : 'None'}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.product !== PRODUCT.self_service">
            <b-th>Letters due</b-th>
            <b-td v-if="campaign.data_source !== DATA_SOURCE.api_crm">{{campaign.delivery.due_date}}</b-td>
            <b-td v-else>Letters sent same day as they are ordered</b-td>
        </b-tr>
        <b-tr v-if="show_testing && !campaign.is_sample">
            <b-th :class="campaign.testing ? 'bg-warning' : undefined">Testing</b-th>
            <b-td :class="campaign.testing ? 'bg-warning' : undefined">
                <b-button v-b-tooltip.hover title="Once enabled, any new recipients added will be marked as testing and not count towards the allowance" variant="outline-primary" size="sm" @click="toggle_testing">{{campaign.testing ? 'Disable' : 'Enable'}} testing</b-button>
            </b-td>
        </b-tr>
        <b-tr v-if="show_testing && !campaign.is_sample">
            <b-th>Invoice</b-th>
            <b-td><a @click="view_invoice_link" href="#">View invoice</a></b-td>
        </b-tr>
        <b-tr v-if="campaign.customer_notes">
            <b-th>Campaign Notes</b-th>
            <b-td>{{campaign.customer_notes}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.id && campaign.data_source === DATA_SOURCE.api_crm">
            <b-th>Campaign ID</b-th>
            <b-td>{{campaign.id}}</b-td>
        </b-tr>
        <b-tr v-if="campaign.delay_delivery_days">
            <b-th>Recipients delayed by</b-th>
            <b-td>{{campaign.delay_delivery_days}} day(s)</b-td>
        </b-tr>
    </b-tbody>
</b-table-simple>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'

export default {
  name: 'CampaignSummary1',
  props: {
    campaign: {
      required: true
    },
    stationary: {
      required: true
    },
    show_testing: {
      required: false
    },
    user_profile: {
      type: Object
    }
  },
  methods: {
    view_invoice_link: async function () {
      await this.$swal({
        title: 'Invoice is generated monthly',
        text: 'You are charged for your aggregate usage at the end of your billing period (30 days from first order). You will be emailed your invoice at the end of your billing period. Continue to view your draft invoice.',
        type: 'info',
        showCancelButton: false,
        confirmButtonText: 'View draft invoice',
        showCloseButton: false,
        showLoaderOnConfirm: false
      })

      this.$router.push({
        name: 'Account'
      })
    },
    created () {},
    mounted: function () {
      console.log(this.campaign.data)
      console.log('Hello test here')
    },
    toggle_testing: async function () {
      if (this.campaign.testing) {
        this.campaign.testing = !this.campaign.testing
        db.collection('campaigns').doc(this.campaign.id).update({
          testing: this.campaign.testing,
          updated: new Date(),
          updated_by: this.user_profile.id
        })
        this.$bvToast.toast('Updated', {
          title: `Updated`,
          variant: 'success',
          autoHideDelay: 200
        })
      } else {
        let result = await this.$swal({
          title: 'Are you sure you want to enable testing?',
          text: 'The testing mode allows user to test integrations. Once enabled, any new recipients added will be marked as testing and not count towards the users allowance',
          type: 'info',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          showCloseButton: true,
          showLoaderOnConfirm: true
        })

        if (result.value) {
          this.campaign.testing = !this.campaign.testing
          db.collection('campaigns').doc(this.campaign.id).update({
            testing: this.campaign.testing,
            updated: new Date(),
            updated_by: this.user_profile.id
          })
          this.$bvToast.toast('Updated', {
            title: `Updated`,
            variant: 'success',
            autoHideDelay: 200
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
