<template>
  <div>
    <div v-html="style"></div>

    <div ref="flip_button" class="paper-button-container">
      <div class="message-flip-position">
        <!-- <b-button @click="stationary.flipped = !stationary.flipped" variant="link" size="lg" class="paper-button">iii</b-button> -->
        <div class="moods side-controls__button-wrapper">
          <button  @click="stationary.flipped = !stationary.flipped" data-at-selector="flip-button" class="btn btn--react -disc -large -standalone-white" data-spec="button" data-isdisabled="false">
            <svg class="svg-icon" viewBox="0 0 48 48" data-di-res-id="892fcc62-6c6f9def" data-di-rand="1588271515711"><path d="M39.141 15.418A38.888 38.888 0 0 0 24 12.758a38.671 38.671 0 0 0-15.067 2.656c-4.491 1.84-6.767 4.2-6.767 7.009 0 2.892 2.276 5.292 6.755 7.128A38.7 38.7 0 0 0 24 32.212h.711l-4.259 4.235 1.41 1.418 6.682-6.644-6.663-6.8-1.429 1.4 4.3 4.4H24a36.739 36.739 0 0 1-14.31-2.516c-3.666-1.5-5.524-3.28-5.524-5.282 0-1.92 1.858-3.656 5.536-5.164a36.749 36.749 0 0 1 14.3-2.5 36.927 36.927 0 0 1 14.367 2.505c3.628 1.5 5.467 3.238 5.467 5.16s-1.8 3.663-5.351 5.164l-.921.389.78 1.842.921-.389c4.36-1.844 6.571-4.2 6.571-7.006s-2.257-5.168-6.695-7.006z"></path></svg>
          </button><div class="side-controls__button-label">Flip over</div>
        </div>
      </div>
    </div>

    <b-row class="mt-4">
      <b-col md="9">
        <div class="paper-container" ref="paper-container">

          <vue-flip ref="flipper" :bindWithMe="stationary.flipped" :height="flipper_height" :width="flipper_width" class="paper-flipper">
            <div slot="front" class="paper-flipper" ref="flipper-front">
              <div>
                  <div class='paper-preview' style="position: absolute; box-sizing: border-box">
                    <link id='font-loader' rel="stylesheet" />

                    <div id='vertical-line'></div>
                    <div id='horizontal-line'></div>

                    <div id="paper-header" class='paper-header draggable hover-highlight' :class="HEADER_TYPE.text === stationary.header_type" style="margin: auto; width: 50mm; height: 25mm; color: #333; font-family: 'Poiret One', cursive; top: 6mm !important; position: relative; overflow: hidden;">
                      <p id="header-text" style="display: none; margin-top: 0; width: 100%;" :style="{ 'font-family': stationary.header_font, 'text-align': stationary.header_image_align, 'font-size': `${stationary.header_text_size}mm` }">{{stationary.header_text}}</p>
                      <img id="header-image" class='paper-logo' style="display: none; margin: 0 auto; width: 100%;" />
                      
                      <div class="header-outline">
                        <p
                          contenteditable 
                          ref="header_text"
                          @input="stationary.header_text = $refs.header_text.innerText"
                          id="header-contenteditable" 
                          :style="{ 'margin': '0px', 'width': '100%', 'font-family': stationary.header_font, 'text-align': stationary.header_image_align, 'font-size': `${stationary.header_text_size}mm`, }"
                        ></p>

                        <div class="header-logo" @click="open_popup">
                          <img v-if="header_image" style="display: block; margin: 0 auto; width: 100%;" :src="header_image" />
                          <p class="add-text" v-else>Click to add an image or logo</p>
                        </div>
                      </div>


                    </div>

                    <div id="background-image-container" class='paper-element' style='position: absolute'>
                      <img id="background-image" width="100%" />
                    </div>

                    <div id="handwriting-loading-container" class='paper-text text-center' style="box-sizing: border-box; display: none; padding-left: 6mm; padding-right: 6mm; width: 100%; height: 20mm; z-index: 1; position: absolute; background-size: 56.57px 56.57px;">
                      <span class='fas fa-spinner fa-pulse mr-2 text_loading_spinner'></span>
                    </div>

                    <div id="handwriting-image-container" class='paper-text text-center' style="box-sizing: border-box; padding-left: 6mm; padding-right: 6mm; width: 100%; height: 20mm; overflow: hidden; z-index: 0; position: absolute; background-size: 56.57px 56.57px; top: 0px;">
                      <img id="handwriting-image" width="100%" />

                      <p 
                        id="message-text"
                        contenteditable 
                        ref="text"
                        @input="text_change"
                        class="text" 
                        :style="{ 'color': '#07193f', 'font-family': 'HandwritingFontFamily', 'font-size':  (text_size * (this.selected_font.size_multiplier || 1)) + 'mm', 'height': '100%', 'line-height': this.selected_font.line_height || 1.2 + 'em', 'text-align': 'left' }"
                      >
                      </p>
                    </div>

                    <div class='paper-footer' style="width: 100%; color: #333; font-family: 'Carlson'; position: absolute !important; bottom: 4mm;">
                      <p id="footer-text" :style="{ 'display': 'none', 'white-space': 'pre-line', 'margin': '0px', 'padding-right': '6mm', 'padding-left': '6mm', 'font-family': stationary.footer_font, 'text-align': stationary.footer_text_align, 'font-size': `${stationary.footer_text_size}mm`, }">{{stationary.footer_text}}</p>

                      <p
                        contenteditable 
                        ref="footer_text"
                        @input="footer_text_change"
                        id="footer-contenteditable" 
                        :style="{ 'white-space': 'pre-line', 'margin': '0 6mm', 'font-family': stationary.footer_font, 'text-align': stationary.footer_text_align, 'font-size': `${stationary.footer_text_size}mm`, }"
                      >
                      </p>
                    </div>
                  </div>


              </div>
            </div>

            <div slot="back" class="paper-flipper" ref="flipper-back">
              <div>
                <MessageBack :stationary="stationary" :open_popup="open_popup" />
              </div>
            </div>
          </vue-flip>
        </div>
      </b-col>

      <b-col md="3">
      <h3>Customise Stationery</h3>

      <div v-if="stationary.flipped == false">

          <div v-if="user_profile.stationery_enabled && paper_types.length > 1">
              <b-form-group label="Paper & Material" label-for="paper" description="Select one of our luxury, high-quality white textured stationery types.">
                  <b-form-select id="paper" v-model="stationary.paper" :options="paper_types" />
              </b-form-group>
          </div>

          <b-form-group label="Choose header type" label-for="header-type" description="You can choose either text or upload your own logo">
            <b-form-select v-model="stationary.header_type" id="header-type" :options="Object.values(HEADER_TYPE)" ></b-form-select>
          </b-form-group>

          <b-form-group label="Choose stationary type" label-for="stationary-type" description="You can choose either text or upload your own logo">
            <b-form-select v-model="stationary.front_type" id="stationary-type" :options="[{ value: 'editor', text: 'Editor' }, { value: 'custom', text: 'Custom Image' }]" ></b-form-select>
          </b-form-group>

          <b-form-group v-if="stationary.front_type === 'custom'">
              <p><small>Need a little more flexibility? Upload a custom image and use it as the background image for your card. </small></p>
              <p><small> Either browse the background image that matches the paper size from your local device or download the template below. You may also drag and drop to reposition the textbox inside the template.</small></p>
              <b-form-file @change="on_front_image_change" v-model="front_image" placeholder="Upload Card front image..." accept="image/*" />
              <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small>
              <b-button v-if="stationary.front_image" variant="warning" @click="clear_front_image" class='mb-1 mt-2'>Clear image</b-button>
          </b-form-group>


          <b-form-group label="Handwriting Style" label-for="handwriting-size">
              <b-form-radio-group id="btnradios1" buttons size="sm" variant="secondary" v-model="stationary.handwriting_size" :options="Object.values(HANDWRITING_SIZE)" button-variant="outline-primary" class="mb-2" />

              <div v-html="fonts_style"></div>
              <b-row class="text-center mb-1" id="handwriting_style" v-for="items in enabled_handwriting_styles_rows" v-bind:key="items[0]">

                  <b-col cols="6" v-for="item in items" v-bind:key="item" class="mb-2">
                      <div @click="on_handwriting_select(item)" :class="stationary.handwriting_style == HANDWRITING_STYLE[item] ? 'handwriting_style selected_handwriting_style' : 'handwriting_style'">
                        <p v-if="fonts_object" class="mb-0" :style="{ 'font-family': item, 'cursor': 'pointer', 'font-size': '28px' }">{{item}}</p>
                      </div>
                  </b-col>

              </b-row>
          </b-form-group>
        </div>

        <div v-else>
          <div v-if="(campaign && !campaign.is_sample) || (!campaign)">
            <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small>
            <b-button v-if="stationary.back_image" variant="warning" @click="clear_back_image" class='my-3'>Clear image</b-button>
            
            <h4>Edge to Edge</h4>
            <p>For edge to edge printing we require designs to include bleed. Anything outside of the 4mm / 0.16" bleed lines may be excluded.</p>
            <b-form-checkbox v-model="stationary.show_bleed" class="mb-3">Show bleed crop markers</b-form-checkbox>
          </div>
          <div v-else>
            <b-alert show variant="info">
              Card back image cannot be added on a sample campaign
            </b-alert>
          </div>
        </div>


      </b-col>
      
    </b-row>

    <b-popover target="header-contenteditable" placement="right" triggers="focus" id="popover-pop" style="max-width: 600px; ">
      <div style="font-family: Arial,sans-serif !important;">
        <font-picker style="width: 90px;" class="font-picker" :api-key="apiKey" :active-font="stationary.header_font" :options="{ name: '6' }" @change="nextFont => this.stationary.header_font = nextFont.family"></font-picker>
        <b-input v-model="stationary.header_text_size" type="number" min="1" max="24" style="width: 53px; display: inline; padding: 6px;"></b-input> 
        <span class="alignment" @click="stationary.header_image_align= 'left'"><i class="fas fa-align-left"></i></span>
        <span class="alignment" @click="stationary.header_image_align = 'center'"><i class="fas fa-align-center"></i></span>
        <span class="alignment" @click="stationary.header_image_align = 'right'"><i class="fas fa-align-right"></i></span>
      </div>

    </b-popover>

    <!-- Footer popover -->
    <b-popover target="footer-contenteditable" placement="top" triggers="focus" :popover-style="{background: 'yellow', 'max-width': '500px' }">
      <div>
        <font-picker style="width: 90px" class="font-picker" :api-key="apiKey" :active-font="stationary.footer_font" :options="{ name: '6' }" @change="nextFont => this.stationary.footer_font = nextFont.family"></font-picker>
        <b-input v-model="stationary.footer_text_size" @change="change_footer_size" type="number" min="1" max="24" style="width: 53px; display: inline; padding: 6px"></b-input> 
        <span class="alignment" @click="stationary.footer_text_align = 'left'"><i class="fas fa-align-left"></i></span>
        <span class="alignment" @click="stationary.footer_text_align = 'center'"><i class="fas fa-align-center"></i></span>
        <span class="alignment" @click="stationary.footer_text_align = 'right'"><i class="fas fa-align-right"></i></span>
      </div>
    </b-popover>

    <b-modal v-model="upload_modal" id="modal-center" hide-footer size="xl" title="Add logo" title-class="font-18" body-class="p-4" style="min-height: 600px">
      <div style="min-height: 500px">
      <div>
        <div class="image-library-section">
          <h4>Add a new file</h4>
          <b-button variant="primary" @click="trigger_upload_logo">Upload logo</b-button>
        </div>
      </div>
      <div v-if="added_images.length" style="background: #f3f4f6; min-height: 374px;">
        <div class="image-recently-added">
          <b-row>
            <b-col cols="9">
              <h4>Recently added</h4>
            </b-col>
            <b-col cols="3">
              <b-button variant="primary" class="float-right" @click="added_images = []">
                <i class="fas fa-trash"></i>
                Remove all
              </b-button>
            </b-col>
          </b-row>
        <b-row>
          <div class="col-3" v-for="img in added_images">
            <div class="selectable-image">
              <img :src="img.image" @click="on_image_select(img.image, img.file)"/>
              <div class="py-3 px-2">
                <b-button class="float-right" variant="outline-primary" @click="remove_image(img.uid)"><i class="fas fa-trash"></i></b-button>
                {{img.name}}
              </div>
            </div>
          </div>
          </b-row>
        </div>
      </div>
      </div>
    </b-modal>

    <b-form-file v-if="stationary.flipped" @change="on_back_image_change" v-model="stationary_image.back_image" ref="back_image_input" placeholder="Upload Card back image..." accept="image/*" style="display: none" />
    <b-form-file v-else style="display: none;" ref="header_input" @change="on_header_logo_change" v-model="stationary_image.header_logo" placeholder="Upload Logo..." accept="image/*" />

  </div>
</template>

<script>
import uid from 'uid'
import Vue from 'vue'
import find from 'lodash/find';
import api from '../services/api'
import axios from 'axios'
import MessageBack from './MessageBack'
import VueFlip from 'vue-flip'
import * as interact from 'interactjs'
import {HEADER_TYPE, HANDWRITING_SIZE, HANDWRITING_STYLE, FONTS, PAPER_SIZES} from '../../functions/shared/constants'
import { storage, serverTimestamp } from '@/lib/firebase.js'

import FontPicker from 'font-picker-vue'

const API_URL = 'https://us-central1-hc-handwriting-engine-dev.cloudfunctions.net/' // TODO

export default {
  name: 'MessageMoo',
  props: ['campaign', 'stationary', 'user_profile', 'stationary_image', 'constraints'],
  components: {
    MessageBack,
    'vue-flip': VueFlip,
    'tags-input': () => import('@voerro/vue-tagsinput'), 'font-picker': FontPicker
  },
  data () {
    return {
      is_editing_footer: false,
      apiKey: 'AIzaSyBxeCFkAl2YthLseSGhqCro7rJZUMfQDkk',
      is_dragging: false,
      is_editing: {},
      total_inputs: 10,
      message: {},
      inputs: {},
      flipper_height: '148mm',
      flipper_width: '210mm',
      fonts_object: undefined,
      selected_font: {},
      header_image: null,
      added_images: [],
      upload_modal: false,
      front_image: null,
      message_overflow: false,
      header_text_overflow: false,
    }
  },
  mounted() {
      this.$refs['flipper-front'].classList.add(`flipper-${this._uid}`)
      this.$refs['flipper-back'].classList.add(`flipper-${this._uid}`)
      this.init_draggable();
      this.get_handwriting_styles();
      this.set_paper(this.stationary.paper);
      let _that = this;
      document.getElementById('message-text').addEventListener('keydown', function(e) {
        const content_height = this.scrollHeight;
        const declared_height = this.clientHeight;

        const keycode = e.keyCode;

        const printable = (keycode > 47 && keycode < 58)   || // number keys
            keycode == 32 || keycode == 13   || // spacebar & return key(s) (if you want to allow carriage returns)
            (keycode > 64 && keycode < 91)   || // letter keys
            (keycode > 95 && keycode < 112)  || // numpad keys
            (keycode > 185 && keycode < 193) || // ;=,-./` (in order)
            (keycode > 218 && keycode < 223);   // [\]' (in order)

        if(content_height > declared_height && printable) {
          _that.message_overflow = true;
          e.preventDefault();
        } else {
          _that.message_overflow = false;
        }
      })
  },
  methods: {
    change_footer_size() {
      this.update_handwriting_container();
    },

    footer_click() {
      this.is_editing_footer = true
      document.getElementById('footer-text').focus();;
      setTimeout(() => {document.getElementById('footer-text').focus(); }, 500);
    },

    footer_text_change() {
      this.stationary.footer_text= this.$refs.footer_text.innerText
    },

    text_change() {
      this.campaign.text = this.$refs.text.innerText
    },

    on_handwriting_select(item) {
      this.stationary.handwriting_style = HANDWRITING_STYLE[item];
      this.selected_font = this.fonts_object[item] || this.fonts_object['Stafford'];
    },
    
    async get_handwriting_styles() {
      let response = await axios.get(`${API_URL}api/getFonts?api_key=PymAOyWayrr0pqXdfnsS`)
      let fonts = response.data.fonts
      let enabled_handwriting_styles = this.enabled_handwriting_styles_rows
      let styles = {}
      for(let i = 0; i < fonts.length; i++) {
        styles[fonts[i].label] = {
          url: fonts[i].url,
          line_height: fonts[i].line_height,
          size_multiplier: fonts[i].size_multiplier,
        };
      }
      this.fonts_object = styles;
    },

    async render_text () {
      this.stationary.flipped = false
      let text = ''
      if(!this.campaign.text) {
        this.$swal('Error', 'Enter some message', 'error')
        return false;
      }

      let text_size_mm = 6
      let handwriting_colour = this.stationary.handwriting_colour ? this.stationary.handwriting_colour : 'blue'

      try {
        let out = await api.interface_render_text(
          this.campaign.text, this.stationary.paper, text_size_mm, this.stationary.handwriting_style, handwriting_colour
        )

        if (!out.data.success) {
          this.$swal('Error', out.data.error_message, 'error')
          return false
        } else {
          this.stationary.rendered_text = out.data.text_url
          return true
        }
      } catch (err) {
        this.$swal('Error', 'An error occurred while writing, please try again', 'error')
        return false
      }
    },

    init_draggable () {
      interact(`.flipper-${this._uid} .draggable-handwriting`)
        .resizable({
          edges: { left: false, right: false, bottom: true, top: true },
          restrict: {
            restriction: 'parent',
            endOnly: true,
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
          },
          modifiers: [
            interact.modifiers.restrictEdges({outer: 'parent'}),
            interact.modifiers.restrictSize({min: { width: 100, height: 50 }})
          ],
          inertia: false
        })
        .draggable({
          inertia: true,
          onmove: this.drag_move_listener,
          startAxis: 'y',
          lockAxis: 'y',
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: 'parent',
              endOnly: true
            })
          ]
        })
        .on('resizemove', this.resize_move_listener)
        .on('dragend', this.drag_drop_listner)
        .on('resizeend', this.drag_drop_listner)

      
      interact(`.flipper-${this._uid} .draggable`)
        .resizable({
          edges: { left: true, right: true, bottom: true, top: true },
          restrict: {
            restriction: 'parent',
            endOnly: true,
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
          },
          modifiers: [
            interact.modifiers.restrictEdges({outer: 'parent'}),
            interact.modifiers.restrictSize({min: { width: 100, height: 50 }})
          ],
          inertia: false
        })
        .draggable({
          inertia: true,
          onmove: this.drag_move_listener,
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: 'parent',
              endOnly: true
            })
          ]
        })
        .on('dragend', this.drag_drop_listner)
        .on('resizemove', this.resize_move_listener)
        .on('resizeend', this.drag_drop_listner)
    },

    drag_drop_listner() {
      setTimeout(() => {
        this.is_dragging = false;
      }, 500) 
    } ,

    drag_move_listener (event) {
      this.is_dragging = true;
      let target = event.target
      let x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
      let y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

      let transform = 'translate(' + x + 'px, ' + y + 'px)';
      // this.stationary.header_text_transformation = { x, y };
      target.style.webkitTransform = target.style.transform = transform;

      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)
      if(event.target.id === 'paper-header') {
        this.constraints.paper_header.translate_x= x;
        this.constraints.paper_header.translate_y= y;
      } else if(event.target.id === 'handwriting-image-container') {
        this.constraints.handwriting.translate_x= x;
        this.constraints.handwriting.translate_y= y;
      } else if(event.target.id === 'back-image-container') {
        this.constraints.back_image.translate_x= x;
        this.constraints.back_image.translate_y= y;
      }
      this.update_handwriting_container();
    },

    resize_move_listener (event) {
      this.is_dragging = true;
      let target = event.target

      let x = (parseFloat(target.getAttribute('data-x')) || 0)
      let y = (parseFloat(target.getAttribute('data-y')) || 0)

      // update the element's style
      const width = event.rect.width + 'px'
      const height = event.rect.height + 'px'
      target.style.width = width;
      target.style.height = height;

      // translate when resizing from top or left edges
      x += event.deltaRect.left
      y += event.deltaRect.top

      target.style.webkitTransform = target.style.transform = 'translate(' + x + 'px,' + y + 'px)'

      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)

      if(event.target.id === 'paper-header') {
        this.constraints.paper_header = {
          height,
          width,
          translate_x: x,
          translate_y: y,

        }
      } else if(event.target.id === 'handwriting-image-container') {
        this.constraints.handwriting = {
          height,
          width,
          translate_x: x,
          translate_y: y,
        }
      } else if(event.target.id === 'back-image-container') {
        this.constraints.back_image = {
          height,
          width,
          translate_x: x,
          translate_y: y,
        }
      }

      this.update_handwriting_container();
    },

    update_handwriting_container: function () {
      setTimeout(function () {
        if (this.stationary.front_type === 'editor') {
          let paper_header_ele = document.querySelector(`.flipper-${this._uid} .paper-header`)
          let paper_footer_ele = document.querySelector(`.flipper-${this._uid} .paper-footer`)

          let margin = 0
          let bottom_of_logo = paper_header_ele.offsetTop + (paper_header_ele.getBoundingClientRect().height || 0) + margin
          let new_height = (paper_footer_ele.offsetTop || 0) - bottom_of_logo

          document.querySelector(`.flipper-${this._uid} #handwriting-image-container`).style.top = `${bottom_of_logo}px`
          document.querySelector(`.flipper-${this._uid} #handwriting-image-container`).style.height = `${new_height}px`
        } 
      }.bind(this), 400)
    },

    set_paper: function (paper) {
      let flipper_ele = this.$refs['flipper']
      let paper_container_ele = this.$refs['paper-container']

      let paper_inner_container_ele = document.querySelectorAll(`.flipper-${this._uid} .paper-preview`)
      let header_outline_text = document.querySelector(`.flipper-${this._uid} .header-outline #header-contenteditable`)
      let header_outline_image = document.querySelector(`.flipper-${this._uid} .paper-preview .header-logo`)

      if(this.stationary.header_type === HEADER_TYPE.logo) {
        header_outline_image.style.display = 'block'
        header_outline_text.style.display = 'none';
      } else {
        header_outline_image.style.display = 'none'
        header_outline_text.style.display = 'block';
      }

      paper_container_ele.style.height = (parseInt(paper.height) + 10) + 'mm'

      this.flipper_height = paper.height + 'mm'
      this.flipper_width = paper.width + 'mm'

      for (let element of paper_inner_container_ele) {
        element.style.width = paper.width + 'mm'
        element.style.height = (parseInt(paper.height)) + 'mm'
      }

      let flip_button = this.$refs['flip_button']
      flip_button.style.width = paper.width + 'mm'

      let background_image_container_ele = document.querySelector(`.flipper-${this._uid} #background-image-container`)
      background_image_container_ele.style.width = paper.width + 'mm'
      background_image_container_ele.style.height = paper.height + 'mm'


      let paper_header_ele = document.querySelector(`.flipper-${this._uid} .paper-header`)
      let paper_footer_ele = document.querySelector(`.flipper-${this._uid} .paper-footer`)
      let handwriting_image_container_ele = document.querySelector(`.flipper-${this._uid} #handwriting-image-container`)

      if (this.stationary.front_type === 'editor' || this.stationary.front_type === 'html') {
        paper_header_ele.style.display = 'block'
        paper_footer_ele.style.display = 'block'
        background_image_container_ele.style.display = 'none'
        handwriting_image_container_ele.classList.remove(`draggable-handwriting`)
        handwriting_image_container_ele.classList.remove(`hover-highlight`)

      } else if (this.stationary.front_type === 'custom') {
        paper_header_ele.style.display = 'none'
        paper_footer_ele.style.display = 'none'
        background_image_container_ele.style.display = 'block'
        handwriting_image_container_ele.classList.add(`draggable-handwriting`)
        handwriting_image_container_ele.classList.add(`hover-highlight`)
      }

      this.update_handwriting_container()
    },

    on_header_logo_change (e) {
      let name = '';
      let file = null;
      if (e.target && e.target.files && e.target.files.length) {
        name = e.target.files[0].name
        file = e.target.files[0];
        this.stationary.header_image = URL.createObjectURL(e.target.files[0])
      }

      if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
        name = e.dataTransfer.files[0].name
        file = e.dataTransfer.files[0];
        this.stationary.header_image = URL.createObjectURL(e.dataTransfer.files[0])
      }

      this.header_image = this.stationary.header_image
      this.added_images.push({ uid: uid(), name, image: this.stationary.header_image, file })
      this.upload_modal = false
    },

    on_image_select (image, file) {
      if(this.stationary.flipped) {
        var imageObj = new Image()
        imageObj.src = image;
        let that = this
        imageObj.onload = function () {
          if (this.height < 1000 || this.width < 1000) {
            that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
            return false
          }
          // alert('Uploaded image has valid Height and Width.')
          return true
        }
        this.stationary.back_image = image
        this.stationary_image.back_image = file;
      } else {
        this.stationary.header_image = image
        this.stationary_image.header_logo = file;
        this.header_image = image;
      }
      this.upload_modal = false
    },

    open_popup(e) {
      e.preventDefault()
      if(!this.is_dragging) {
        this.upload_modal = true
      }
    },

    trigger_upload_logo () {
      if(this.stationary.flipped) {
        this.$refs.back_image_input.$el.childNodes[0].click()
      } else {
        this.$refs.header_input.$el.childNodes[0].click()
      }
    },

    remove_image (uid) {
      let index = this.added_images.findIndex(img => uid === img.uid)
      if (index > -1) {
        this.added_images.splice(index, 1)
      }
    },

    on_back_image_change (e) {
      let name = '';
      let file = null;
      if (e.target && e.target.files && e.target.files.length) {
        // Check if the image is 1000 x 1000 and display warning
        name = e.target.files[0].name
        file = e.target.files[0];
        this.stationary.back_image = URL.createObjectURL(e.target.files[0])
        var image = new Image()
        image.src = this.stationary.back_image
        let that = this
        image.onload = function () {
          if (this.height < 1000 || this.width < 1000) {
            that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
            return false
          }
          // alert('Uploaded image has valid Height and Width.')
          return true
        }
      }
      if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
        name = e.dataTransfer.files[0].name
        file = e.dataTransfer.files[0];
        this.stationary.back_image = URL.createObjectURL(e.dataTransfer.files[0])
      }

      this.added_images.push({ uid: uid(), name, image: this.stationary.back_image, file })
      this.upload_modal = false;
    },

    clear_back_image () {
      this.stationary.back_image = null
      this.stationary_image.back_image = null
    },

    on_front_image_change(e) {
      if (e.target && e.target.files && e.target.files.length) {
          // Check if the image is 1000 x 1000 and display warning
        this.stationary.front_image = URL.createObjectURL(e.target.files[0])
        var image = new Image()
        image.src = this.stationary.front_image
        let that = this
        image.onload = function () {
          if (!((this.width / this.height > 1.41 && this.width / this.height < 1.42) || (this.height / this.width > 1.41 && this.height / this.width < 1.42))) {
              // 148 x 210 mm
              that.$swal('Wrong aspect ratio', 'Please upload an image that matches the size of the paper. Download the image template (below the input).', 'warning')
              that.stationary.front_image = null
              that.front_image = null
              return false
          }

          if (this.height < 1000 || this.width < 1000) {
              that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
              return false
          }
          // alert('Uploaded image has valid Height and Width.')
          return true
        }
      }

        if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
            this.stationary.front_image = URL.createObjectURL(e.dataTransfer.files[0])
        }
    },

    clear_front_image() {
      this.stationary.front_image = null
      this.front_image = null
    },

    save: async function (stationary_doc, header_logo, back_image) {
      this.stationary.created = serverTimestamp()
      this.stationary.last_updated = serverTimestamp()
      this.stationary.background = null // Setting to null ensures function reruns and thumbnail is regenerated
      this.stationary.thumbnail = null
      this.stationary.show_bleed = false
      this.stationary.flipped = false

      let front_ele = this.$refs['flipper-front'].cloneNode(true);
      let back_ele = this.$refs['flipper-back'].cloneNode(true);

      let font_loader_ele = front_ele.querySelector(`#font-loader`)
      let font_url = `https://fonts.googleapis.com/css?family=${this.stationary.footer_font.replace(' ', '+')}|${this.stationary.header_font.replace(' ', '+')}&display=swap`
      if (font_loader_ele.href !== font_url) {
        font_loader_ele.href = font_url
      }

      let header_outline_ele = front_ele.querySelector('.header-outline');
      let footer_text_section = front_ele.querySelector('#footer-contenteditable');

      let footer_text_ele = front_ele.querySelector(`#footer-text`)
      let header_text_ele = front_ele.querySelector(`#header-text`)
      let header_image_ele = front_ele.querySelector(`#header-image`)
      let handwriting_loading_container_ele = front_ele.querySelector(`#handwriting-loading-container`)
      let handwriting_image_container_ele = front_ele.querySelector(`#handwriting-image-container`)
      let handwriting_image_ele = front_ele.querySelector(`#handwriting-image`)
      let background_image_container_ele = front_ele.querySelector(`#background-image-container`)
      let background_image_ele = front_ele.querySelector(`#background-image`)
      let back_image_container_ele = front_ele.querySelector(`#back-image-container`)
      let back_image_ele = front_ele.querySelector(`#back-image`)
      let bleed_marks_ele = front_ele.querySelector(`#bleed-marks`)
      let paper_header_ele = front_ele.querySelector(`.paper-header`)
      let paper_footer_ele = front_ele.querySelector(`.paper-footer`)


      header_outline_ele && header_outline_ele.remove();
      footer_text_section && footer_text_section.remove();
      front_ele.querySelector('#footer-text').style.display = 'block';


      if (this.stationary.header_type === HEADER_TYPE.text) {
        let header_text_ele = front_ele.querySelector(`#header-text`)
        header_text_ele.style.display = 'block';
      }

      if (this.stationary.header_type === HEADER_TYPE.logo) {
        header_image_ele.style.display = 'block';
        if(header_logo) {
          let snapshot = await storage.ref().child(`stationary/${stationary_doc.id}/logo.jpg`).put(header_logo)
          this.stationary.header_image = await snapshot.ref.getDownloadURL()
          header_image_ele.src = this.stationary.header_image
        } else {
          header_image_ele.src = this.stationary.header_image
        }
      }

      if (back_image) {
        let snapshot = await storage.ref().child(`stationary/${stationary_doc.id}/back_image.png`).put(back_image)
        this.stationary.back_image = await snapshot.ref.getDownloadURL()
        let back_image_ele = back_ele.querySelector('#back-image')
        back_image_ele.src = this.stationary.back_image

        let bleed_marks_ele = back_ele.querySelector('#bleed-marks')
        if(bleed_marks_ele) {
          bleed_marks_ele.style.display = 'none'
        }
      }

      if (this.stationary.front_type === 'editor' || this.stationary.front_type === 'html') {
        paper_header_ele.style.display = 'block'
        header_text_ele.style.display = 'block'
        header_image_ele.style.display = 'block'
        paper_footer_ele.style.display = 'block'
        background_image_container_ele.style.display = 'none'

        handwriting_image_container_ele.classList.remove(`draggable-handwriting`)
        handwriting_image_container_ele.classList.remove(`hover-highlight`)

        if (this.stationary.header_type === 'Text') {
          header_image_ele.style.display = 'none'
          header_text_ele.style.display = 'block'
        } else {
          header_image_ele.style.display = 'block'
          header_text_ele.style.display = 'none'
        }
      } else if (this.stationary.front_type === 'custom') {
        paper_header_ele.style.display = 'none'
        paper_footer_ele.style.display = 'none'
        footer_text_ele.style.display = 'none'
        header_text_ele.style.display = 'none'
        header_image_ele.style.display = 'none'
        background_image_container_ele.style.display = 'block'

        handwriting_image_container_ele.classList.add(`draggable-handwriting`)
        handwriting_image_container_ele.classList.add(`hover-highlight`)
      }

      this.stationary.html = front_ele.innerHTML
      this.stationary.back_html = back_ele.innerHTML

      await stationary_doc.set(this.stationary, {merge: true})

      return true
    },

  },
  watch: {
    stationary: {
      deep: true,
      handler(val) {
        this.set_paper(val.paper)
      }
    }
  },
  computed: {
    paper_types: function () {
      if (!this.user_profile || !this.user_profile.stationery_enabled) {
          return []
      } else {
          let user_stationery_enabled = this.user_profile.stationery_enabled
          if (this.user_profile.country === 'GB') {
              user_stationery_enabled.unshift('A5_landscape')
              user_stationery_enabled.unshift('A5')
              user_stationery_enabled.unshift('A4')
              user_stationery_enabled.unshift('A6_landscape')
              user_stationery_enabled.unshift('A6')
          } else {
              user_stationery_enabled.unshift('half_letter_landscape')
              user_stationery_enabled.unshift('half_letter')
              user_stationery_enabled.unshift('letter')
              user_stationery_enabled.unshift('postcard_landscape')
              user_stationery_enabled.unshift('postcard')
          }

          user_stationery_enabled = [...new Set(user_stationery_enabled)]
          let paper_types = []
          for (let stationery_type of user_stationery_enabled) {
              let size = PAPER_SIZES[stationery_type]
              let text = stationery_type.replace(/_/g, ' ')
              text = text.charAt(0).toUpperCase() + text.slice(1)
              paper_types.push({
                  value: size,
                  text: text
              })
          }

          return paper_types
      }
    },
    fonts_style: function () {
      if (this.fonts_object) {
        let style = '<style>'

        for(let key in this.fonts_object) {
          style += `
            @font-face {
              font-family: ${key};
              src: url(${this.fonts_object[key].url})
            }
          `
        }

        style += `
          @font-face {
            font-family: Jane;
            src: url(${this.fonts_object['Stafford'].url})
          }
          @font-face {
            font-family: Parker;
            src: url(${this.fonts_object['Stafford'].url})
          }
        `

        style += '</style>';
        return style;
      }

      return ''
    },
    style: function () {
      if (this.fonts_object) {
        let handwriting_style = this.stationary.handwriting_style;
        if(handwriting_style === 'Jane' || handwriting_style === 'Parker') {
          handwriting_style = 'Stafford';
        }
        let font = this.fonts_object[handwriting_style]
        this.selected_font = font;
        let url = font.url;
        return `
          <style>
          @font-face {
            font-family: 'HandwritingFontFamily';
            src: url(${url});
          }
          </style>
        `
      }

      return ''
    },
    text_size() {
      let text_size_mm = 6
      switch (this.stationary.handwriting_size) {
        case 'Small':
          text_size_mm = 5
          break
        case 'Medium':
          text_size_mm = 6
          break
        case 'Large':
          text_size_mm = 7
          break
      }

      return text_size_mm;
    },
    enabled_handwriting_styles_rows: function () {
      if (this.user_profile && this.user_profile.handwriting_styles_enabled) {
        let all = Vue._.uniq(['George', 'Parker', 'Jane', 'Tremblay'].concat(this.user_profile.handwriting_styles_enabled)).sort()

        let rows = []
        while (all.length > 0) {
          const row = all.splice(0, 4)
          rows.push(row)
        }

        return rows
      } else {
        return [
          ['George', 'Parker', 'Jane', 'Tremblay'].sort()
        ]
      }
    }
  }
}
</script>

<style scoped>

.handwriting_style {
    border: 3px solid white;
    margin: auto;
    padding: 12px;
    transition: all .2s ease-in-out;
}

.handwriting_style:hover {
    transform: scale(1.1)
}

.selected_handwriting_style {
    border: 3px solid #1D2731;
}

.inputs {
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  height: 30px;
}

.paper-container {
  overflow-x: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: auto;
  height: 100%;
  width: 100%;
}
.paper-preview {
  position: relative;
  box-sizing: border-box;
  width: 210mm;
  height: 148mm;
  margin: auto;
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0px 0px 16px #BBB;
}

.inputs:hover {
  border-bottom-color: #bbb;
  cursor: pointer;
}

/* back html */

>>> .paper-preview.back-preview{
  position: absolute;
    width: 210mm;
    height: 148mm;
}

.paper-preview {
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0px 0px 16px #BBB;
}

.paper-button-container {
  position: relative;
  justify-content: center; 
  top: 2mm;
  z-index: 1;
  margin: auto;
  width: 100% !important;
}

.paper-button {
  position: absolute;
  right: 13.5mm;
  top: 4mm;
}
.paper-button1 {
  right: 14mm;
  top: 3mm;
  position: absolute;
}

.paper-container {
  overflow-x: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: auto;
  height: 100%;
  width: 100%;
}
.message-flip-position{
  padding-left:72%
}
.paper-flipper {
  margin: auto;
}

.back_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.back-preview {
  overflow: hidden;
}

.hover-highlight {
  overflow: hidden;
}

/**
.hover-highlight:hover {
  border: 1px solid red;
}
**/

.draggable {
  position: relative;
}

#vertical-line {
  width: 50%;
  height: 100%;
  border-right: 1px solid green;
  position: absolute;
  z-index: 2;
  pointer-events : none;
  visibility: hidden;
}

#horizontal-line {
  width: 100%;
  height: 50%;
  border-top: 1px solid green;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  pointer-events: none;
  visibility: hidden;
}

.paper-flipper {
  width: 100%;
  height: 100%;
}

.side-controls .side-controls__button-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.side-controls, .side-controls .side-controls__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.moods {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.moods .btn.-large.-disc {
  width: 48px;
  height: 48px;
  padding: 0;
}
.moods .btn.-large {
  height: 48px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 46px;
}
.moods .btn.-disc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 100px;

}
.moods .btn.-large {
  height: 48px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 46px;
  right:40px;
}
.moods .btn.-large .svg-icon {
  width: 24px;
  height: 24px;
}
.moods .btn {
  background-color: rgb(207, 212, 245);
  color: #fff;
}

.header-container {
  border: 1px dotted #bbb;
  height: 25mm;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.added-image {
  width: 100%;
  height: auto;
}

.image-recently-added  {
  padding: 8px 40px;
}

.image-library-section {
  padding: 8px 40px 40px;
}

.selectable-image {
  background: #fff;
}

.selectable-image img {
  width: 100%;
  cursor: pointer;
}

.header-container div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paper-header.paper-dotted {
  border: 2px dotted #bbb;
  cursor: pointer;
}

.alignment {
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem;
}

div.popover-pop {
  background: red;
}

.footer-add-text {
  text-align: center;
  color: #aaa;
  margin: 0;
}

#message-text {
  overflow: hidden;
  padding-left: 2mm;
}

#message-text,
#footer-contenteditable {
  border: 1px dotted #cacfd4;
  cursor: pointer;
  border-radius: 3px;
}

#message-text:hover,
#footer-contenteditable:hover {
  border: 1px solid #bfc5cd;
}

#message-text:focus,
#footer-contenteditable:focus {
  outline: 0px solid transparent;
  cursor: text;
  border: 1px solid #ed9d85;
}

.draggable-handwriting #message-text {
  cursor: move;
}

.added-image {
  width: 100%;
  height: auto;
}

.image-recently-added  {
  padding: 8px 40px;
}

.image-library-section {
  padding: 8px 40px 40px;
}

.selectable-image {
  background: #fff;
}

.selectable-image img {
  width: 100%;
  cursor: pointer;
}

.header-outline:hover {
  border-color: #bfc5cd;
}

.header-outline {
  border: 1px dashed #dfe3e7;
  height: 100%;
}

.header-outline .add-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 85%;
  color: #aaa;
}

#header-contenteditable {
  overflow: hidden
}

.header-input {
  height: 100%;
}

.alignment {
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem;
}

</style>
