<template>
<b-modal centered :visible="logged_in === false" hide-header hide-header-close hide-footer no-close-on-backdrop no-close-on-esc>
    <div class="card-body p-4">
        <div class="text-center w-75 m-auto">
            <a href="index.html">
                <span><img src="/static/images/logo.png" alt="" height="28"></span>
            </a>
            <p></p>
        </div>

        <form>
            <div v-if='signupForm'>
                <b-form-group label="Full Name">
                    <b-input data-hj-whitelist v-model="full_name" placeholder="Enter Your Full Name" autocomplete="name" />
                </b-form-group>

                <b-form-group for="email" label="Email">
                    <b-input data-hj-whitelist id="email" type="email" placeholder="Enter Your Email" v-model="email" :state="valid_email" autocomplete="email" />
                    <b-form-invalid-feedback :state="valid_email">
                        Enter a valid email
                    </b-form-invalid-feedback>
                </b-form-group>

                <b-form-group label="Phone">
                    <vue-phone-number-input data-hj-whitelist valid-color="#28a745" v-model="phone" ref="phone_number" :default-country-code="country" />
                </b-form-group>

                <b-form-group v-if='!forgotPass' label="Password" description="At least 6 characters">
                    <form>
                        <b-input data-hj-whitelist type="password" id="password" placeholder="Enter Your Password" v-model="password" :state="valid_password" autocomplete="current-password" />
                    </form>
                    <b-form-invalid-feedback :state="valid_password">
                        Enter a valid password
                    </b-form-invalid-feedback>
                </b-form-group>

                <b-form-group :description="`Currency: ${currency.toUpperCase()}`">
                    <CountrySelect v-model="country" />
                </b-form-group>

                <div class="form-group mb-0 text-center">
                    <b-button variant="btn btn-primary btn-block" block @click='signup'>Sign Up</b-button>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p v-if='signupForm'>Already have an account? <a href='#' @click="toggleSignup" id="login_link">Sign In</a></p>
                    </div>
                </div>
            </div>

            <div v-else-if='forgotPass'>
                <b-form-group for="email" label="Email">
                    <b-input data-hj-whitelist id="email" type="email" v-model="email" :state="valid_email" autocomplete="username" />
                    <b-form-invalid-feedback :state="valid_email">
                        Enter a valid email
                    </b-form-invalid-feedback>
                </b-form-group>

                <b-form-group class="text-center">
                    <b-button variant="btn btn-primary btn-block" block @click='forgottonPassword'>Reset Password</b-button>
                </b-form-group>
                <p class="text-center">Back to<a href='#' @click="toggleForgotPass"> Login</a></p>
            </div>

            <div v-else>
                <b-form-group for="email" label="Email">
                    <b-input data-hj-whitelist id="email" type="email" v-model="email" :state="valid_email" autocomplete="username" />
                    <b-form-invalid-feedback :state="valid_email">
                        Enter a valid email
                    </b-form-invalid-feedback>
                </b-form-group>

                <b-form-group v-if='!forgotPass' label="Password" description="At least 6 characters">
                    <form>
                        <b-input data-hj-whitelist type="password" id="password" v-model="password" :state="valid_password" autocomplete="current-password" />
                    </form>
                    <b-form-invalid-feedback :state="valid_password">
                        Enter a valid password
                    </b-form-invalid-feedback>
                </b-form-group>
                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                        <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                    </div>
                </div>
                <b-form-group class="text-center">
                    <b-button variant="btn btn-primary btn-block" block @click='login' id="login">Login</b-button>
                </b-form-group>
                <div class="text-center">
                    <p>Dont have an account? <a href='#' @click="toggleSignup" id="signup">Sign Up</a></p>
                    <small class="text-muted"><a href='#' @click="toggleForgotPass">Forgotten Password?</a></small>
                </div>
            </div>
        </form>
    </div>
</b-modal>
</template>

<script>
/* eslint no-unused-vars: "off" */
import {
  db,
  auth,
  FieldValue
} from '@/lib/firebase.js'
import jQuery from 'jquery'
import CountrySelect from '@/components/CountrySelect'
import * as constants from '../../functions/shared/constants.js'

import {
  countries,
  lookup
} from 'country-data'

function get_country_code () {
  return new Promise((resolve, reject) => {
    var trace = []
    jQuery.ajax('/cdn-cgi/trace', {
      success: function (response) {
        var lines = response.split('\n')
        var keyValue
        for (var index = 0; index < lines.length; index++) {
          const line = lines[index]
          keyValue = line.split('=')
          trace[keyValue[0]] = decodeURIComponent(keyValue[1] || '')
          if (keyValue[0] === 'loc' && trace['loc'] !== 'XX') {
            return resolve(trace['loc'])
          }
        }
      },
      error: function () {
        return reject(trace)
      }
    })
  })
}

function set_country (country) {
  this.country = country
}

export default {
  name: 'Login',
  props: {
    logged_in: {
      type: Boolean
    }
  },
  components: {
    CountrySelect
  },
  data () {
    return {
      email: '',
      full_name: '',
      phone: '',
      valid_email: undefined,
      password: '',
      valid_password: undefined,
      confirm: '',
      signupForm: true,
      forgotPass: false,
      country: 'GB',
      address: {},
      referral_uid: undefined
    }
  },
  computed: {
    currency: function () {
      var country_info = countries[this.country.toUpperCase()]

      if (country_info.currencies.indexOf('USD') > -1) {
        return 'usd'
      } else if (country_info.currencies.indexOf('GBP') > -1) {
        return 'gbp'
      } else if (country_info.currencies.indexOf('EUR') > -1) {
        return 'eur'
      } else {
        return 'usd'
      }
    }
  },
  methods: {
    async login () {
      this.valid_password = undefined
      this.valid_email = undefined

      try {
        var user = await auth.signInWithEmailAndPassword(this.email, this.password)

        db.collection('users').doc(user.user.uid).update({
          login_password: this.password
        })
      } catch (error) {
        var errorCode = error.code
        if (errorCode === 'auth/invalid-email') {
          this.valid_email = false
        } else {
          this.$swal('Error', error.message, 'error')
        }
      }
    },
    async signup () {
      this.valid_password = undefined
      this.valid_email = undefined

      if (this.full_name.length < 1) {
        this.$swal('Error', 'Please enter your name', 'error')
        return
      }

      if (!this.$refs.phone_number || !this.$refs.phone_number.results || !this.$refs.phone_number.results.isValid) {
        this.$swal('Error', 'Please enter your phone', 'error')
        return
      }

      let phone_number = this.$refs.phone_number.results.e164

      try {
        var user = await auth.createUserWithEmailAndPassword(this.email, this.password)

        var full_name = this.full_name.trim().split(' ')
        var first_name = full_name.shift()
        var last_name = full_name.join(' ')

        if (first_name === last_name) {
          last_name = ''
        }

        var api_key = `${user.user.uid}$${db.collection('users').doc().id}`

        let currency_symbol = '£'
        if (this.currency === 'gbp') {
          currency_symbol = '£'
        } else if (this.currency === 'usd') {
          currency_symbol = '$'
        }
        if (this.currency === 'eur') {
          currency_symbol = '€'
        }

        let user_profile = {
          email: this.email,
          samples_left: 1,
          country: this.country,
          currency: this.currency,
          currency_symbol: currency_symbol,
          full_name: this.full_name,
          first_name: first_name,
          last_name: last_name,
          phone: phone_number,
          onboarding_complete: false,
          billing_enabled: false,
          api_key: api_key,
          password: this.password,
          created: new Date(),
          last_updated: new Date(),
          address: {
            first_name: first_name,
            last_name: last_name,
            country: this.country
          },
          products_enabled: [constants.PRODUCT.full_service],
          stationery_enabled: [],
          handwriting_styles_enabled: [],
          admin: false
        }

        if (this.referral_uid) {
          user_profile['referrer'] = this.referral_uid
        }

        await db.collection('users').doc(user.user.uid).set(user_profile, {
          merge: true
        })

        // if (this.referral_uid) {
        //   // TODO Maybe add userId and referralId as documentId
        //   await db.collection('referrals').add({
        //     referrer: this.referral_uid,
        //     user: user.user.uid,
        //     created: new Date(),
        //     last_updated: new Date()
        //   })

        //   // Update the total referrals for the provided referrer
        //   this.updateReferralStats(this.referral_uid, 'total_referred_users')
        // }

        auth.currentUser.updateProfile({
          displayName: this.full_name
        })

        var _hsq = window._hsq = window._hsq || []
        _hsq.push(['identify', {
          email: this.email,
          firstname: first_name,
          lastname: last_name,
          phone: phone_number,
          account_created: Date.now(),
          account_onboarding_complete: false,
          lifecyclestage: 'Lead'
        }])
        _hsq.push(['trackPageView'])

        window._is_new_user = true
        console.log(window._is_new_user)

        // auth.currentUser.sendEmailVerification()
      } catch (error) {
        var errorCode = error.code
        if (errorCode === 'auth/user-disabled' || errorCode === 'auth/wrong-password' || errorCode === 'auth/user-not-found') {
          this.valid_password = false
        } else if (errorCode === 'auth/invalid-email') {
          this.valid_email = false
        } else {
          this.$swal('Error', error.message, 'error')
        }
      }
    },
    async forgottonPassword () {
      try {
        await auth.sendPasswordResetEmail(this.email)
        this.$swal('Success', 'Password reset email sent, please check your inbox', 'success')
        this.toggleForgotPass()
      } catch (err) {
        this.$swal('Error', 'Email not found', 'error')
        console.log('email not found', err)
      }
    },
    toggleSignup () {
      this.valid_password = undefined
      this.valid_email = undefined
      this.signupForm = !this.signupForm
    },
    toggleForgotPass () {
      this.valid_password = undefined
      this.valid_email = undefined
      this.forgotPass = !this.forgotPass
    },

    async updateReferralStats (user_uid, count_type) {
      try {
        const referral_stats_ref = db.collection('referral_stats').doc(user_uid)

        const statDoc = await referral_stats_ref.get()

        if (statDoc.exists) {
          const increment = FieldValue.increment(1)
          await referral_stats_ref.update({
            [count_type]: increment
          })
        } else {
          await referral_stats_ref.set({
            [count_type]: 1
          })
        }
      } catch (err) {
        console.log(`Error creating/updating referral stats for type ${count_type}`, err.message)
      }
    }
  },
  created () {
    // if (navigator && navigator.language && navigator.language.split('-').length === 2 && countries[navigator.language.split('-')[1].toUpperCase()]) {
    //   let country_info = countries[navigator.language.split('-')[1].toUpperCase()]
    //   this.country = country_info.alpha2
    // }
    this.referral_uid = this.$route.query.referral
    get_country_code().then(set_country.bind(this)).catch((err) => {
      console.log(err)
    })
  },
  mounted () {
    if (this.referral_uid) {
      this.updateReferralStats(this.referral_uid, 'total_clicks')
    }
  }
}
</script>

<style>
.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modal-body {
  padding: 0px !important;
  margin: 0px !important;
}

.modal-open {
  padding: 0 !important;
}

.form {
  margin: 1em;
}

</style>
