<template>
    <div class='paper-preview back-preview' style="position: absolute;">
      <div id='vertical-line'></div>
      <div id='horizontal-line'></div>

      <div id="bleed-marks" v-if="stationary.show_bleed">
        <div style="box-sizing: border-box; position: absolute; top: 0px; left: 0px; pointer-events: none; border-style: solid; border-color: black; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px; border-top-width: 0px;" :style="{'height': bleed, 'width': bleed}"></div>
        <div :style="{'height': bleed_mark_margin, 'width': bleed_mark_margin, 'position': 'absolute', 'top': `calc(${bleed} - ${bleed_mark_margin})`, 'left': `calc(${bleed} - ${bleed_mark_margin})`, 'pointer-events': 'none', 'background': 'white' }"></div>

        <div style="box-sizing: border-box; position: absolute; bottom: 0px; left: 0px; pointer-events: none; border-style: solid; border-color: black; border-right-width: 1px; border-top-width: 1px; border-left-width: 0px; border-bottom-width: 0px;" :style="{ height: bleed, width: bleed }"></div>
        <div style="position: absolute; pointer-events: none; background: white;" :style="{ height: bleed_mark_margin, width: bleed_mark_margin, bottom: `calc(${bleed} - ${bleed_mark_margin})`, left: `calc(${bleed} - ${bleed_mark_margin})`}"></div>

        <div style="box-sizing: border-box; position: absolute; top: 0px; right: 0px; pointer-events: none; border-style: solid; border-color: black; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 0px; border-top-width: 0px;" :style="{height: bleed, width: bleed }"></div>
        <div style="position: absolute; pointer-events: none; background: white;" :style="{ height: bleed_mark_margin, width: bleed_mark_margin, top: `calc(${bleed} - ${bleed_mark_margin})`, right: `calc(${bleed} - ${bleed_mark_margin})`  }"></div>

        <div style="box-sizing: border-box; position: absolute; bottom: 0px; right: 0px; pointer-events: none; border-style: solid; border-color: black; border-left-width: 1px; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px;" :style="{ height: bleed, width: bleed }"></div>
        <div style="position: absolute; pointer-events: none; background: white;" :style="{ height: bleed_mark_margin, width: bleed_mark_margin, bottom: `calc(${bleed} - ${bleed_mark_margin})`, right: `calc(${bleed} - ${bleed_mark_margin})` } "></div>
      </div>

      <div class="label-container" @click="open_popup" v-if="!stationary.back_image" style="transform: translate(0, 0);">
        <div class="label-back">
          <div class="text-center"><i class="fas fa-upload"></i></div>
          <p>Upload your back</p>
        </div>
      </div>


      <div id="back-image-container" class='draggable hover-highlight' style="width: 100%; height: 100%; position: absolute !important" v-else>
        <img id="back-image" :src="stationary.back_image" class="back_image" style="display: block; margin: auto; height: 100%; width: 100%; object-fit: contain; z-index: 1"/>
      </div>


    </div>
</template>

<script>

import {
  BLEED,
  BLEED_MARK_MARGIN
} from '../../functions/shared/constants.js'

export default {
  name: 'MessageBack',
  props: ['campaign', 'stationary', 'user_profile', 'open_popup'],
  data () {
    return {
      flipper_height: '148mm',
      flipper_width: '210mm',
      bleed: `${BLEED}mm`,
      bleed_mark_margin:`${BLEED_MARK_MARGIN}mm`,
    }
  },
}
</script>

<style scoped>
.label-container {
  border: 1px dashed #dfe3e7;
  height: 99%;
  width: 99%;
  position: relative;
  border-radius: 0px;
  margin-left: 3px;
  margin-top: 3px;
  cursor: pointer;
}

.label-container:hover {
  border-color: #bfc5cd;
}

.label-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label-back i {
  font-size: 80px;
}


</style>