<template>
  <b-form>
    <h3>Campaign Title</h3>
    <b-form-group>
      <b-input data-hj-whitelist v-model="campaign.title" placeholder="Campaign Title"/>
    </b-form-group>

    <h3>Message</h3>
    <b-row>
      <b-col>
        <b-form-group id="insert_template_variable" v-b-tooltip.hover title="Insert mail merge variables into your text to customise to the recipient">
          <b-dropdown text="Insert Template Variable" variant="outline-primary" size="sm">
             <b-dropdown-item-button @click="insert_template_var('title')">Title</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_var('first name')">First Name</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_var('last name')">Last Name</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_var('department')">Department</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_var('company')">Company</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_var('city')">City</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_var('custom 1')">Custom 1</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_var('custom 2')">Custom 2</b-dropdown-item-button>
             <b-dropdown-item-button v-if="variables.indexOf('custom 2') > -1" @click="insert_template_var('custom 3')">Custom 3</b-dropdown-item-button>
             <b-dropdown-item-button v-if="variables.indexOf('custom 3') > -1" @click="insert_template_var('custom 4')">Custom 4</b-dropdown-item-button>
             <b-dropdown-item-button v-if="variables.indexOf('custom 4') > -1" @click="insert_template_var('custom 5')">Custom 5</b-dropdown-item-button>
             <b-dropdown-item-button v-if="variables.indexOf('custom 5') > -1" @click="insert_template_var('custom 6')">Custom 6</b-dropdown-item-button>
          </b-dropdown>
        </b-form-group>
      </b-col>
      <b-col class="text-right">
        <b-form-group>
          <b-dropdown text="Text Templates" variant="outline-primary" size="sm">
             <b-dropdown-item-button @click="insert_template_text('fundraising')">Fundraising</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('event_invitation')">Event Invitation</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('customer_service_apology')">Customer Service apology</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('birthday')">Birthday</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('new_product')">New Product</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('customer_loyalty')">Customer Loyalty</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('customer_re_engagement')">Customer Re Engagement</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('lead_generation')">Lead Generation</b-dropdown-item-button>
             <b-dropdown-item-button @click="insert_template_text('meeting_follow_up')">Meeting Follow Up</b-dropdown-item-button>
          </b-dropdown>
        </b-form-group>
      </b-col>
    </b-row>

    <!-- <b-alert :show="valid_data == false" variant="danger"></b-alert> -->
    <b-form-group>
      <b-form-textarea rows="8" id="text" ref="text_textarea" v-model="campaign.text" required placeholder="Enter your message..." @keyup="render_text_debounce"/>
      <small v-if="render_text_loading">Writing...</small>
      <small v-else><br></small>
      <small v-if="user_profile.admin">
        <b-form-checkbox  v-model="ignore_foreign_chars" class="mb-3">
          Ignore foreign Characters
        </b-form-checkbox>
      </small>
    </b-form-group>

    <b-row class="mt-3 mb-3">
      <b-col>
        <h3>Handwriting Style</h3>
      </b-col>
      <b-col align='right'>
        <b-form inline>
          <b-form-group>
            <b-form-radio-group
              id="btnradios1"
              buttons
              size="sm"
              variant="secondary"
              v-model="stationary.handwriting_size"
              :options="Object.values(HANDWRITING_SIZE)"
              button-variant="outline-primary"
              @change="render_text_debounce"
            />
          </b-form-group>
          <b-form-group class="ml-3" v-if="user_profile.admin">
            <b-button class="colour-btn colour-blue" size="sm" @click="stationary.handwriting_colour = 'blue'; render_text_debounce()">{{stationary.handwriting_colour === 'blue' ? 'X' : '&nbsp;&nbsp;'}}</b-button>
            <b-button class="colour-btn colour-black" size="sm" @click="stationary.handwriting_colour = 'black'; render_text_debounce()">{{stationary.handwriting_colour === 'black' ? 'X' : '&nbsp;&nbsp;'}}</b-button>
          </b-form-group>
        </b-form>
      </b-col>
    </b-row>

    <b-row class="text-center mb-1" id="handwriting_style" v-for="items in enabled_handwriting_styles_rows" v-bind:key="items[0]">
      <b-col v-for="item in items" v-bind:key="item">
        <div @click="stationary.handwriting_style = HANDWRITING_STYLE[item]; render_text_debounce()" :class="stationary.handwriting_style == HANDWRITING_STYLE[item] ? 'handwriting_style selected_handwriting_style' : 'handwriting_style'">
          <img :src="`/static/images/${item.toLowerCase()}_${stationary.handwriting_style == HANDWRITING_STYLE[item] ? 'gold' : 'blue'}.png`" height="28">
        </div>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
/* eslint no-unused-vars: 'off' */
import Vue from 'vue'
import {HANDWRITING_STYLE, HANDWRITING_SIZE, HANDWRITING_SIZE_TOOLTIP, CHARACTER_COUNTS} from '../../functions/shared/constants'
import api from '../services/api'
import text_utils from '../lib/text_utils'

export default {
  name: 'MessageEdit',
  props: {
    stationary: {
      type: Object,
      required: true
    },
    campaign: {
      type: Object,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    },
    text_loading_obj: {
      type: Object
    }
  },
  computed: {
    variables: function () {
      return text_utils.get_variables(this.campaign.text)
    },
    enabled_handwriting_styles_rows: function () {
      if (this.user_profile && this.user_profile.handwriting_styles_enabled) {
        let all = Vue._.uniq(['George', 'Parker', 'Jane', 'Tremblay'].concat(this.user_profile.handwriting_styles_enabled)).sort()

        let rows = []
        while (all.length > 0) {
          const row = all.splice(0, 4)
          rows.push(row)
        }

        return rows
      } else {
        return [['George', 'Parker', 'Jane', 'Tremblay'].sort()]
      }
    }
  },
  created () {
    if (this.campaign.text) {
      this.render_text_debounce()
    }
  },
  data () {
    return {
      render_text_loading: false,
      valid_data: true,
      render_timeout: undefined,
      bad_text: false,
      ignore_foreign_chars: false
    }
  },
  methods: {
    render_text_debounce: function () {
      if (this.render_timeout) clearTimeout(this.render_timeout)
      var that = this
      this.render_timeout = setTimeout(function () {
        that.render_text()
      }, 500)
    },
    check_bad_text: function () {
      if (this.ignore_foreign_chars) {
        return true
      }

      if (this.campaign.text) {
        var out = text_utils.check_bad_text(this.campaign.text, this, undefined, !this.bad_text)
        this.campaign.text = out[1]
        return out[0]
      }
    },
    validate: function (check_loading) {
      if (check_loading) {
        this.bad_text = false
      }

      if (!this.campaign.text || this.campaign.text.length < 5) {
        this.valid_data = false
        this.$bvToast.toast('Please enter some more text', {
          title: `Error`,
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: true
        })
        return false
      }

      if (!this.check_bad_text()) {
        this.valid_data = false
        this.bad_text = true
        // this.$bvToast.toast('Please enter some more text', {
        //   title: `Error`,
        //   autoHideDelay: 5000,
        //   variant: 'danger',
        //   appendToast: true
        // })
        return false
      }

      this.bad_text = false

      if (check_loading && this.render_text_loading) {
        this.$swal('Please wait', 'Please wait for handwriting preview to finish rendering.', 'warning')
        return false
      }

      if (check_loading && this.stationary.overflowed) {
        this.$swal('Overflow', 'You have added too much text, please remove some.', 'warning')
        return false
      }

      if (check_loading) {
        delete this.stationary['overflow']
      }

      this.valid_data = true

      return true
    },
    render_text: function () {
      if (!this.validate()) {
        return
      }

      let text_size_mm = 6
      switch (this.stationary.handwriting_size) {
        case 'Small':
          text_size_mm = 5
          break
        case 'Medium':
          text_size_mm = 6
          break
        case 'Large':
          text_size_mm = 7
          break
      }

      this.render_text_loading = true
      this.text_loading_obj.text_loading = true

      let handwriting_colour = this.stationary.handwriting_colour ? this.stationary.handwriting_colour : 'blue'

      return api.interface_render_text(this.campaign.text, this.stationary.paper, text_size_mm, this.stationary.handwriting_style, handwriting_colour).then(function (out) {
        if (!out.data.success) {
          this.$swal('Error', out.data.error_message, 'error')
        } else {
          this.stationary.rendered_text = out.data.text_url
        }

        this.render_text_loading = false
        this.text_loading_obj.text_loading = false
      }.bind(this)).catch(function (err) {
        this.$swal('Error', 'An error occurred while writing, please try again', 'error')
        this.render_text_loading = false
        this.text_loading_obj.text_loading = false
        console.warn(err)
      }.bind(this))
    },
    insert_template_var (variable) {
      if (!this.campaign.text) {
        this.campaign.text = ''
      }

      this.campaign.text = this.campaign.text.substring(0, this.$refs.text_textarea.selectionStart) + `{{{${variable}}}}` + this.campaign.text.substring(this.$refs.text_textarea.selectionStart)
      this.render_text_debounce()
    },
    insert_template_text (template) {
      this.campaign.text = text_utils.TEXT_TEMPLATES[template]
      this.render_text_debounce()
    }
  }
}
</script>

<style scoped>

#text {
  background: #EEE;
}

.handwriting_style {
  border: 3px solid white;
  margin: auto;
  padding: 12px;
  transition: all .2s ease-in-out;
}

.handwriting_style:hover {
  transform: scale(1.1)
}

.selected_handwriting_style {
  border: 3px solid #1D2731;
}

.colour-btn {
  border-radius: 100%;
}

.colour-blue {
  background-color: #0743a3
}

.colour-black {
  background-color: #000
}

</style>
