/* eslint-disable */
<template>
  <div class="container-fluid">
    <b-navbar class="navbar-expand-md justify-content-between" toggleable="lg" type="light" variant="info">
      <!-- Collapase button-->
      <b-navbar-toggle v-on:click="handle_sidebar" v-if="sidebar.open" target="required_prep_but_not_required"></b-navbar-toggle>
      <b-collapse class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0" id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item exact-active-class="active-link" :to="{name: 'Stationery'}">Stationery</b-nav-item>
          <b-nav-item active-class="active-link" :to="{name: 'CampaignList'}">Campaigns</b-nav-item>
          <b-nav-item active-class="active-link" :to="{name: 'BatchList'}" v-if="user_profile && user_profile.admin">Batches</b-nav-item>
          <b-nav-item active-class="active-link" :to="{name: 'UserList'}" v-if="user_profile && user_profile.admin">Users</b-nav-item>
          <b-nav-item active-class="active-link" :to="{name: 'PrinterList'}" v-if="user_profile && user_profile.admin">Printers</b-nav-item>
          <b-nav-item active-class="active-link" :to="{name: 'Analytics'}" v-if="user_profile && user_profile.admin">Analytics</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
      <!-- Logo -->
      <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1"><img src="/static/images/logo.png" class="d-inline-block align-top" alt="BV" height="28px" /></a>

      <!-- <b-navbar-brand class="d-block text-center order-0 order-md-1" :to="{name: 'Stationery'}"><img src="/static/images/logo.png" class="d-inline-block align-top" alt="BV" height="28px" /></b-navbar-brand> -->
      <b-collapse class="navbar-collapse collapse dual-nav w-50 order-2" id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item v-if="CONFIG.environment != 'production'"><span class="badge badge-pill badge-warning rounded">{{CONFIG.environment | uppercase}} {{version}}</span></b-nav-item>
          <b-nav-item v-if="user_profile && user_profile.admin"><span class="badge badge-pill badge-danger rounded">ADMIN</span></b-nav-item>
          <b-nav-item active-class="active-link" :to="{name: 'Account'}">Account <i class="far fa-user-circle"></i></b-nav-item>
          <b-nav-text class="d-none d-md-block"> | </b-nav-text>
          <b-nav-item href="https://support.scribeless.co" target="_blank">Help</b-nav-item>
          <!-- <b-nav-text> | </b-nav-text> -->
          <!-- <b-nav-item href="http://scribeless.co" target="_blank">Home</b-nav-item> -->
        </b-navbar-nav>
      </b-collapse>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    </b-navbar>
  </div>
</template>

<script>
export default {
  props: {
    user_profile: {
      required: true
    },
    logged_in: {
      type: Boolean,
      required: true
    },
    sidebar: {
      type: Object
    }
  },
  methods: {
    handle_sidebar () {
      this.$parent.$emit('toggleNav')
    }
  },
  data: function () {
    return {
      version: process.env.VERSION
    }
  }
}
</script>

<style scoped>

</style>
