<template>
<div>
    <div class="float-right mb-3 ">
        <b-button
          variant="primary"
          v-if="stationary"
          :to="{name: 'NewCampaign', params: {id: stationary.id, from_campaign: campaign, add_recipients_only: true}}"
          :disabled="campaign.is_sample || (campaign.delivery && campaign.delivery.sender === SENDER.ship_to_self)"
        >
          <i class="mdi mdi-plus-circle mr-1"></i> Add New Recipient
        </b-button>
    </div>

    <div class="col-md-12 mb-3 recipient-filter" v-if="user_profile.admin">
        <b-form inline>
            <b-form inline class="mt-3">
                <div v-if="recipients_table_selected.length == 0 ">
                    <div class="checkbox form-check-inline " style="">
                        <input @click="$refs.recipients_table.selectAllRows()" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label for="inlineCheckbox1"> Select All </label>
                    </div>
                </div>
                <div v-else>
                    <b-form-group>
                        <div class="checkbox form-check-inline ">
                            <input @click="$refs.recipients_table.clearSelected()" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label for="inlineCheckbox1"> Clear All </label>
                        </div>
                        <!-- <b-button @click="$refs.recipients_table.clearSelected()" variant="outline-primary">Clear Selection</b-button> -->
                    </b-form-group>
                </div>
                <label class="mr-sm-2" for="inline-form-custom-select-pref">Filter status</label>
                <b-form-group class="mr-3">
                    <b-form-select v-model="filter_status">
                        <option>All</option>
                        <option>{{RECIPIENT_STATUS.pending}}</option>
                        <option>{{RECIPIENT_STATUS.in_progress}}</option>
                        <option>{{RECIPIENT_STATUS.ready_to_print}}</option>
                        <option>{{RECIPIENT_STATUS.shipped}}</option>
                        <option>{{RECIPIENT_STATUS.error}}</option>
                        <option>{{RECIPIENT_STATUS.deleted}}</option>
                    </b-form-select>
                </b-form-group>
                <b-form-group>
                    <b-button @click="load_recipients(limit)" class="mr-3" variant="outline-primary">Filter</b-button>
                </b-form-group>

                <span v-if="filter_recipients.recipient_id" class="ml-3 bg-danger text-white">Viewing only recipient {{filter_recipients.recipient_id}}</span>

                <b-form-group class="ml-3" v-if="filter_recipients.recipient_id">
                    <b-button @click="clear_filter" variant="outline-primary">Clear Filter</b-button>
                </b-form-group>

                <b-form-group> <label class="mr-sm-2" for="inline-form-custom-select-pref">Update status</label></b-form-group>
                <b-form-group class="mr-3">
                    <b-form-select v-model="update_status">
                        <option>{{RECIPIENT_STATUS.pending}}</option>
                        <option>{{RECIPIENT_STATUS.in_progress}}</option>
                        <option>{{RECIPIENT_STATUS.ready_to_print}}</option>
                        <option>{{RECIPIENT_STATUS.shipped}}</option>
                        <option>{{RECIPIENT_STATUS.error}}</option>
                    </b-form-select>
                </b-form-group>
                <b-form-group class="mr-3">
                    <b-button @click="updateSelectedStatus" variant="outline-primary">Update</b-button>
                </b-form-group>
                <b-form-group class="mr-3">
                    <b-button @click="deleteSelectedStatus" variant="outline-danger">Delete</b-button>
                </b-form-group>
            </b-form>
        </b-form>
    </div>

    <b-table hover bordered head-variant="light" @row-selected="onRowSelected" selected-variant='info' :items="filtered_recipients" :fields="fields" ref="recipients_table" class="text-center ml-2" show-empty empty-text="No recipients" :selectable="user_profile.admin">
        <template v-slot:cell(index)="row">
            {{ row.item['first name'] }} {{ row.item['last name'] }}
        </template>

        <template v-slot:cell(updated)="row">
            {{ display_timestamp(row.value) }}
        </template>

        <template v-slot:cell(status)="row">
            <span :class="row.value.toLowerCase().replace(/ /g, '_')">{{row.value}}</span>
        </template>

        <template v-slot:cell(actions)="row">
            <span :class="row.detailsShowing ? 'dropup' : 'dropdown'">
                <b-button variant="outline-primary" size="sm" @click="row.toggleDetails" class="dropdown-toggle">
                    {{ row.detailsShowing ? 'Hide' : 'View' }}
                </b-button>
            </span>

            <span v-if="(user_profile.admin || show_pdfs)">
                <b-button size="sm" variant="outline-primary" @click="rerender(row.item.id)">Rerender</b-button>
                <b-button v-if="row.item['letter_url']" :href="row.item['letter_url']" size="sm" variant="outline-primary"><span class="fa fa-file" /> Letter</b-button>
                <b-button v-if="row.item['envelope_url']" :href="row.item['envelope_url']" size="sm" variant="outline-primary"><span class="fa fa-envelope" /> Envelope</b-button>
            </span>
        </template>

        <template slot="row-details" slot-scope="row">
            <b-card>
                <b-alert :show="row.item.testing" variant="warning">
                    This recipient was created while campaign was in testing mode and will not be sent.
                </b-alert>

                <b-table-simple small borderless>
                    <tr v-if="user_profile.admin">
                        <td>Status</td>
                        <td>
                            <b-form-select v-model="row.item['status']" :options="Object.values(RECIPIENT_STATUS)" />
                        </td>
                    </tr>
                    <tr v-if="user_profile.admin">
                        <td>Testing</td>
                        <td class="text-left">
                            <b-form-checkbox v-model="row.item['testing']" :readonly="row.item['status'] === RECIPIENT_STATUS.shipped" />
                        </td>
                    </tr>
                    <tr v-if="user_profile.admin">
                        <td>Index</td>
                        <td class="text-left">
                            <b-input v-model="row.item['index']" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>
                            <b-input v-model="row.item['title']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>
                            <b-input v-model="row.item['first name']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <b-input v-model="row.item['last name']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>
                            <b-input v-model="row.item['department']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td>
                            <b-input v-model="row.item['company']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Address line 1</td>
                        <td>
                            <b-input v-model="row.item['address line 1']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Address line 2</td>
                        <td>
                            <b-input v-model="row.item['address line 2']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Address line 3</td>
                        <td>
                            <b-input v-model="row.item['address line 3']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>
                            <b-input v-model="row.item['city']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Postal code</td>
                        <td>
                            <b-input v-model="row.item['postal_code']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>State/Region</td>
                        <td>
                            <b-input v-model="row.item['region']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>
                            <b-input v-model="row.item['country']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr v-if="row.item['custom 1']">
                        <td>Custom 1</td>
                        <td>
                            <b-input v-model="row.item['custom 1']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr v-if="row.item['custom 2']">
                        <td>Custom 2</td>
                        <td>
                            <b-input v-model="row.item['custom 2']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr v-if="row.item['custom 3']">
                        <td>Custom 3</td>
                        <td>
                            <b-input v-model="row.item['custom 3']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr v-if="row.item['custom 4']">
                        <td>Custom 4</td>
                        <td>
                            <b-input v-model="row.item['custom 4']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr v-if="row.item['custom 5']">
                        <td>Custom 5</td>
                        <td>
                            <b-input v-model="row.item['custom 5']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr v-if="row.item['custom 6']">
                        <td>Custom 6</td>
                        <td>
                            <b-input v-model="row.item['custom 6']" :plaintext="!user_profile.admin" />
                        </td>
                    </tr>
                    <tr v-if="user_profile.admin && row.item['batch']">
                        <td>Batch</td>
                        <td class="text-left"><a :href="`/batch/${row.item['batch']['id']}`">{{display_timestamp(row.item['batch']['timestamp'])}}</a></td>
                    </tr>
                    <tr v-if="user_profile.admin && row.item['source']">
                        <td>Source</td>
                        <td class="text-left">{{row.item['source']}}</td>
                    </tr>
                    <tr v-if="user_profile.admin">
                        <td>Audit</td>
                        <td>
                            <AuditTable :audit_ref="row.item['audit_ref']" :user_profile="user_profile " />
                        </td>
                    </tr>
                    <tr v-if="user_profile.admin">
                        <td></td>
                        <td class="text-left">
                            <b-button variant="outline-primary" @click="update_recipient(row.item.id, undefined, row.item)">Save</b-button>
                            <b-button v-if="user_profile.admin" variant="danger" @click='delete_recipient(row.item["id"], row.item)'>Delete</b-button>
                        </td>
                    </tr>
                </b-table-simple>
            </b-card>
        </template>
    </b-table>

    <b-alert variant="info" :show="filtered_recipients.length >= limit && show_load_all" class="text-center">
        <p>By default we only show your first {{limit}} recipients, this stops the page from slowing down. Click the button to load all your recipients. Note your page may slow down. This may take a few seconds.</p>
        <b-button variant="outline-primary" @click="load_recipients()">Load all</b-button>
    </b-alert>
</div>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'
import api from '../services/api'
import AuditTable from '@/components/AuditTable'
import {
  RECIPIENT_STATUS
} from '../../functions/shared/constants.js'

// TODO add campaign_id
// TODO recipients pointer?
// Next button which pushes pointer forward, back which pushes back
// pointer listens?
// Add filters to filter on Status
// Add filters to filter on

export default {
  name: 'RecipientsTable',
  props: ['campaign', 'user_profile', 'show_pdfs', 'recipients_ref', 'filter_recipients', 'stationary'],
  data () {
    return {
      recipients: [],
      recipients_table_selected: [],
      filter_name: '',
      limit: 25,
      show_load_all: true,
      filter_status: 'All',
      update_status: null,
      filtered_recipients: []
    }
  },
  components: {
    AuditTable
  },
  computed: {
    fields: function () {
      if (this.user_profile.admin) {
        return [{
          key: 'index',
          label: 'Name'
        },
        {
          key: 'index',
          label: 'Name'
        },
        {
          key: 'updated',
          label: 'Updated'
        },
        {
          key: 'address line 1',
          label: 'Address line 1'
        },
        {
          key: 'status',
          label: 'Status'
        },
        {
          key: 'actions',
          label: 'Actions'
        }
        ]
      } else {
        return [{
          key: 'index',
          label: 'Name'
        },
        {
          key: 'index',
          label: 'Name'
        },
        {
          key: 'updated',
          label: 'Updated'
        },
        {
          key: 'address line 1',
          label: 'Address line 1'
        },
        {
          key: 'status',
          label: 'Status'
        },
        {
          key: 'actions',
          label: 'Actions'
        }
        ]
      }
    }
  },
  watch: {
    recipients: {
      deep: true,
      handler: function (val) {
        let filtered_recipients = []
        for (let r of val) {
          r.region = r['state/region'] || r['region']
          r.postal_code = r['zip/postal code'] || r['postal_code']

          r.audit_ref = db.collection('campaigns').doc(this.campaign.id).collection('recipients').doc(r.id).collection('audit')

          if (r.testing) {
            r['_rowVariant'] = 'warning'
          }
          if (r.status === RECIPIENT_STATUS.deleted) {
            r['_rowVariant'] = 'danger'
          }

          if (r.status === RECIPIENT_STATUS.deleted && !this.user_profile.admin) {
            continue
          }

          if (!this.user_profile.admin && (r.status === RECIPIENT_STATUS.pending || r.status === RECIPIENT_STATUS.error || r.status === RECIPIENT_STATUS.ready_to_print || r.status === RECIPIENT_STATUS.in_progress)) {
            r.status = 'In progress'
          }

          filtered_recipients.push(r)
        }

        this.filtered_recipients = filtered_recipients
      }
    }
  },
  methods: {
    async rerender (recipient_id) {
      console.log(recipient_id, this.campaign.id)
      return api.rerender(recipient_id, this.campaign.id)
    },
    clear_filter () {
      this.filter_recipients.recipient_id = null
      this.load_recipients(this.limit)
    },
    onRowSelected (items) {
      this.recipients_table_selected = items
    },
    async deleteSelectedStatus () {
      if (!this.recipients_table_selected.length) {
        this.$bvToast.toast('No recipients selected', {
          title: `Failed`,
          variant: 'danger',
          autoHideDelay: 5000
        })
        return
      }

      let result = await this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      })

      if (!result.value) {
        return
      }

      let batch = db.batch()
      for (let recipient of this.recipients_table_selected) {
        batch.update(db.collection('campaigns').doc(this.campaign.id).collection('recipients').doc(recipient.id), {
          status: RECIPIENT_STATUS.deleted,
          updated: new Date(),
          updated_by: this.user_profile.id
        })
      }

      await batch.commit()
      this.$bvToast.toast('Deleted recipients', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
    },
    async updateSelectedStatus () {
      if (!this.update_status) {
        this.$bvToast.toast('Please select a status to update', {
          title: `Failed`,
          variant: 'danger',
          autoHideDelay: 5000
        })
        return
      }

      if (!this.recipients_table_selected.length) {
        this.$bvToast.toast('No recipients selected', {
          title: `Failed`,
          variant: 'danger',
          autoHideDelay: 5000
        })
        return
      }

      if (this.update_status === RECIPIENT_STATUS.deleted) {
        for (let recipient of this.recipients_table_selected) {
          if (recipient.status === RECIPIENT_STATUS.shipped) {
            this.$bvToast.toast('Cannot delete recipients which have already been shipped', {
              title: `Failed`,
              variant: 'danger',
              autoHideDelay: 10000
            })
            return
          }
        }
      }

      let batch = db.batch()
      for (let recipient of this.recipients_table_selected) {
        batch.update(db.collection('campaigns').doc(this.campaign.id).collection('recipients').doc(recipient.id), {
          status: this.update_status,
          updated: new Date(),
          updated_by: this.user_profile.id
        })
      }

      await batch.commit()

      this.$bvToast.toast('Updated recipients', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
      this.update_status = null
    },
    load_recipients: function (limit) {
      let query = this.recipients_ref

      if (this.filter_status !== 'All') {
        query = query.where('status', '==', this.filter_status)
      }

      // TODO
      // if (this.filter_recipients.recipient_id) {
      //   query = query.where('index', '==', parseInt(this.filter_recipients.recipient_id))
      // }

      if (limit) {
        query = query.limit(limit)
        this.show_load_all = true
      } else {
        this.show_load_all = false
      }

      // if (this.filter_name) {
      //   query = query.orderBy('last name')
      //   query = query.where('last name', '==', this.filter_name)
      //   console.log('filtering by', this.filter_name)
      // }

      query = query.orderBy('created')

      this.$bind('recipients', query)
    },

    update_recipient: function (recipient_id, result, item) {
      if (!result && item) {
        result = {} // 'state/region', 'zip/postal code' // TODO NOTE can't update postcode and region
        for (let key of ['status', 'testing', 'first name', 'last name', 'address line 1', 'address line 2', 'address line 3', 'city', 'company', 'country', 'custom 1', 'custom 2', 'custom 3', 'custom 4', 'custom 5', 'custom 6', 'department', 'title']) {
          result[key] = item[key] === '' || item[key] === undefined ? null : item[key]
        }
      }

      if (item['postal_code'] || item['zip/postal code']) {
        result['postal_code'] = item['postal_code'] || item['zip/postal code'] ? item['postal_code'] || item['zip/postal code'] : null
      }

      if (item['region'] || item['state/region']) {
        result['region'] = item['region'] || item['state/region'] ? item['region'] || item['state/region'] : null
      }

      result['updated'] = new Date()
      result['updated_by'] = this.user_profile.id
      db.collection('campaigns').doc(this.campaign.id).collection('recipients').doc(recipient_id).update(result)

      this.$bvToast.toast('Updated recipient', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
    },
    delete_recipient: async function (recipient_id, recipient) {
      if (recipient.status === RECIPIENT_STATUS.shipped) {
        this.$swal({
          title: 'Recipient already shipped',
          text: 'This recipient has already been shipped and cannot be deleted',
          type: 'info'
        })

        return
      }

      let result = await this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      })

      if (!result.value) {
        return
      }

      await db.collection('campaigns').doc(this.campaign.id).collection('recipients').doc(recipient_id).update({
        status: RECIPIENT_STATUS.deleted,
        updated: new Date(),
        updated_by: this.user_profile.id
      })
      this.$swal('Success', `Deleted ${recipient_id}`, 'success')
    }
  },
  created () {
    this.load_recipients(this.limit)
  }
}
</script>

<style scoped>
  .recipient-filter {
    clear: right;
  }
</style>
