<template>
  <b-form>

    <div v-if="campaign.product === PRODUCT.full_service">
      <h3>Sender</h3>
      <div v-if="campaign.delivery.sender == SENDER.ship_for_me">
        <p>We send your letters for you. Our minimum production time is {{MIN_DELIVERY_DATE}} business days.</p>

        <div v-if="campaign.data_source === DATA_SOURCE.upload">
          <b-form-group v-if="!campaign.is_sample">
            <span>Letter(s) will arrive: <strong>{{campaign.delivery.due_date}}</strong></span>
            <span :class="show_select_due_date ? 'dropup' : 'dropdown'">
              <b-button v-if="!campaign.is_sample" variant="outline-primary btn-sm" class="dropdown-toggle" @click="show_select_due_date = !show_select_due_date">edit</b-button>
            </span>
          </b-form-group>
          <b-collapse id="collapse-4" v-model="show_select_due_date" class="mt-2">
            <b-card class="mb-4">
              <b-form-group>
                <date-picker v-model="campaign.delivery.due_date" :config="date_config"></date-picker>
              </b-form-group>
            </b-card>
          </b-collapse>
        </div>

      </div>
      <div v-else>
        <p>We create your letters and send them to you for distribution. We ship orders within {{MIN_DELIVERY_DATE}} business days. Shipping to you is charged at a flat rate per 1000 recipients.</p>
      </div>
      <b-form-group id="address">
        <span>Sender address <strong v-if="campaign.delivery.user_address.address_line_1">: {{campaign.delivery.user_address.address_line_1}}</strong></span>
        <span :class="show_edit_return_address ? 'dropup' : 'dropdown'">
          <b-button variant="outline-primary btn-sm" class="dropdown-toggle" @click="show_edit_return_address = !show_edit_return_address">edit</b-button>
        </span>
      </b-form-group>
      <b-collapse id="collapse-4" v-model="show_edit_return_address" class="mt-2">
        <b-card>
          <!-- <b-form-group v-b-tooltip.hover title="Includes the return to sender address on the envelope">
            <b-form-checkbox  v-model="campaign.delivery.include_return_address" class="mb-3">
              Include return address on envelope
            </b-form-checkbox>
          </b-form-group> -->
          <AddressInput v-model="campaign.delivery.user_address" ref="address"/>
        </b-card>
      </b-collapse>

      <b-form-group id="options" v-if="!campaign.is_sample" class="mt-3">
        <span>More options</span>
        <span :class="show_options ? 'dropup' : 'dropdown'">
          <b-button variant="outline-primary btn-sm" class="dropdown-toggle" @click="show_options = !show_options">edit</b-button>
        </span>
      </b-form-group>
      <b-collapse id="collapse-4" v-model="show_options" class="mt-2">
        <b-card>
          <b-form-group v-b-tooltip.hover title="Includes the country name on the envelope">
            <b-form-checkbox v-model="campaign.delivery.include_country_name" class="mb-3">
              Include country name on envelope
            </b-form-checkbox>
            <b-form-select v-model="campaign.delivery.sender" class="mb-3" :options="Object.values(SENDER)" />
            <b-form-group>
              <b-form-textarea v-model="campaign.customer_notes" rows="3" placeholder="Campaign Notes"/>
            </b-form-group>
          </b-form-group>
        </b-card>
      </b-collapse>
    </div>

    <div v-if="(campaign.delivery.sender == SENDER.ship_to_self || campaign.product === PRODUCT.self_service) && campaign.envelope.required == ENVELOPE_REQUIRED.yes">
      <hr>
      <h3>Envelope</h3>

      <b-form-group v-if="campaign.product === PRODUCT.full_service">
        <b-form-radio-group buttons button-variant="outline-primary" v-model="campaign.envelope.stamp" :options="stamp_options" />
      </b-form-group>

      <b-form-group label="Size">
        <b-form-select v-model="campaign.envelope.paper" :options="envelope_paper_types" />
      </b-form-group>

      <b-form-group label="Seal envelopes?" v-if="campaign.product === PRODUCT.full_service">
        <b-form-checkbox v-model="campaign.envelope.sealed" />
      </b-form-group>

      <!-- <b-form-group for="inserts" label="Inserts" description="Want a voucher or leaflet inserted? Enter details here and you can send us your stationery.">
        <b-form-input id="inserts" v-model="campaign.envelope.inserts" placeholder='Leave blank for no inserts'/>
      </b-form-group> -->
    </div>

  </b-form>
</template>

<script>
import moment from 'moment'
import text_utils from '../lib/text_utils'
import {SENDER, DATA_SOURCE, STAMP_TYPES, MIN_DELIVERY_DATE, ENVELOPE_SIZES, PRODUCT} from '@/../functions/shared/constants.js'
import AddressInput from '@/components/AddressInput'

export default {
  name: 'MessageEdit',
  props: {
    campaign: {
      type: Object,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    }
  },
  components: {
    AddressInput
  },
  // dataTest: function () {
  //   return {
  //     address: ''
  //   }
  // },
  methods: {
    validate: async function () {
      if (this.campaign.delivery.sender === SENDER.ship_for_me) {
        if (this.campaign.data_source === DATA_SOURCE.api_crm) {
          return true
        }
      }

      if (this.campaign.product === PRODUCT.full_service) {
        var valid_address = this.$refs.address.validate()
        if (!valid_address) {
          return false
        }
      }

      // Check for bad characters
      for (let key in this.campaign.delivery.user_address) {
        let value = this.campaign.delivery.user_address[key]
        let out = text_utils.check_bad_text(value)
        if (!out[0]) {
          this.$bvToast.toast(`Please remove the following characters from the address: ${out[2]}`, {
            title: `${key.replace(/_/g, ' ')} contains unsupported characters`,
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: true
          })
          return false
        }
      }

      return true
    }
  },
  computed: {
    stamp_options: function () {
      if (this.campaign.delivery.sender === SENDER.ship_for_me) {
        if (this.campaign.envelope.stamp === STAMP_TYPES.no_stamp) { // Add stamp if they removed one
          // eslint-disable-next-line
          this.campaign.envelope.stamp = STAMP_TYPES.first_class // can cause side effect
        }
        return [STAMP_TYPES.first_class, STAMP_TYPES.second_class]
      }

      return Object.values(STAMP_TYPES)
    }
  },
  data () {
    let envelope_paper_types = [
      { value: ENVELOPE_SIZES.C5, text: 'C5' },
      { value: ENVELOPE_SIZES.DL, text: 'DL' }
    ]

    if (this.campaign.product === PRODUCT.self_service) {
      envelope_paper_types.push({ value: ENVELOPE_SIZES.Sticker, text: 'Sticker' })
    }

    return {
      show_select_due_date: false,
      show_options: false,
      show_edit_return_address: !this.campaign.delivery.user_address.address_line_1,
      date_is_valid: true,
      envelope_paper_types: envelope_paper_types,
      date_config: {
        inline: true,
        viewMode: 'months',
        format: 'DD/MM/YYYY',
        minDate: moment().add(MIN_DELIVERY_DATE, 'days')
      }
    }
  }
}
</script>

<style scoped>

</style>
