<template>
<b-form>
    <div v-if="campaign.product === PRODUCT.full_service || campaign.product === PRODUCT.full_service_note_only || campaign.product === PRODUCT.full_service_envelope_only">
      
        <b-card>
            <b-row align-h="center">
                <b-col md="5" class="mt-1">
                    <h3>Select Options</h3>
                    <hr>
            <div class="kt-separator kt-separator--height-md"></div>
                    <div class="form-group" v-if="campaign.product != PRODUCT.full_service_note_only">
                        <label class="kt-checkbox">
                            <input type="checkbox" v-if="campaign.product != PRODUCT.full_service_note_only" v-model="campaign.delivery.include_return_address" value="1" />
                            <span class="checkboxText">Include return address on the envelope</span>
                            <div id="accept-error" class="price">Free</div>
                        </label>
                    </div>
                    <div class="form-group" v-if="campaign.product != PRODUCT.full_service_note_only">
                        <label class="kt-checkbox">
                            <input type="checkbox"  v-model="campaign.envelope.inserts" value="1" aria-describedby="accept-error" />
                            <span class="checkboxText">Include an insert in the envelope</span>
                            <div id="accept-error" class="price">£0.50 per envelope</div>
                        </label>
                    </div>
                    <div v-if="(campaign.delivery.sender == SENDER.ship_to_self || campaign.product === PRODUCT.self_service) && campaign.envelope.required == ENVELOPE_REQUIRED.yes">
                        <div class="form-group" v-if="campaign.product === PRODUCT.full_service ||campaign.product != PRODUCT.full_service_note_only">
                            <label class="kt-checkbox">
                                <input type="checkbox" v-model="campaign.envelope.sealed" value="1" aria-describedby="accept-error" />
                                <span class="checkboxText">Seal envelope</span>
                                <div id="accept-error" class="price">Free</div>
                                <div class="v-input--selection-controls__ripple primary--text"></div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="kt-checkbox">
                            <input type="checkbox" v-model="campaign.delivery.include_country_name" class="input" value="1" aria-describedby="accept-error" />
                            <span class="checkboxText"> Include country name on internal addresses</span>
                            <div class="price">Free</div>
                        </label>
                    </div>
                </b-col>
                <b-col md="3">
                    <div v-if="(campaign.delivery.sender == SENDER.ship_to_self || campaign.product === PRODUCT.self_service) && campaign.envelope.required == ENVELOPE_REQUIRED.yes">
                        <h4 v-if="campaign.product === PRODUCT.full_service"> Stamps Options </h4>
                        <div class="form-group" v-if="campaign.product === PRODUCT.full_service">
                            <label class="kt-checkbox">
                                <input type="radio" name="stamp_type" v-bind="stamp_type_clicked.first_class" @click="first_class" value="1" checked aria-describedby="accept-error" />
                                <span class="checkboxText"> Add 1st class postage stamps</span>
                                <div id="accept-error" class="price">£1.20 per envelope</div>
                                <div class="v-input--selection-controls__ripple primary--text"></div>
                            </label>
                        </div>
                        <div class="form-group" v-if="campaign.product === PRODUCT.full_service">
                            <label class="kt-checkbox">
                                <input type="radio" name="stamp_type" v-bind="stamp_type_clicked.no_stamp" @click="no_stamp" value="1" />
                                <span class="checkboxText"> Don't add stamps on my envelopes</span>
                                <div id="accept-error" class="price">Free</div>
                            </label>
                        </div>
                    </div>
                </b-col>
            </b-row>
            <template v-if="campaign.delivery.include_return_address === true">
            <AddressInput1 v-model="campaign.delivery.user_address" ref="address" />
            </template>

        </b-card>
    </div>
    </div>
</b-form>
</template>

<script>
import moment from 'moment'
import text_utils from '../lib/text_utils'
import {
  SENDER,
  DATA_SOURCE,
  STAMP_TYPES,
  MIN_DELIVERY_DATE,
  ENVELOPE_SIZES,
  PRODUCT
} from '@/../functions/shared/constants.js'
import AddressInput1 from '@/components/AddressInput1'

export default {
  name: 'SettingsEdit',
  props: {
    campaign: {
      type: Object,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    }
  },
  components: {
    AddressInput1
  },
  // dataTest: function () {
  //   return {
  //     address: ''
  //   }
  // },
  methods: {
    no_stamp: function () {
      this.stamp_type_clicked = {
        no_stamp: !this.stamp_type_clicked.no_stamp,
        first_class: false
      }
      //   this.stamp_type_clicked.first_class = !this.stamp_type_clicked.first_class
      this.campaign.envelope.stamp = STAMP_TYPES.no_stamp
    },
    first_class: function () {
      this.stamp_type_clicked = {
        first_class: !this.stamp_type_clicked.first_class,
        no_stamp: false
      }
      //   this.stamp_type_clicked.no_stamp = !this.stamp_type_clicked.no_stamp
      this.campaign.envelope.stamp = STAMP_TYPES.first_class
    },
    validate: async function () {
      if (this.campaign.delivery.sender === SENDER.ship_for_me) {
        if (this.campaign.data_source === DATA_SOURCE.api_crm) {
          return true
        }
      }

      if (this.campaign.product === PRODUCT.full_service) {
        var valid_address = this.$refs.address.validate()
        if (!valid_address) {
          return false
        }
      }

      // Check for bad characters
      for (let key in this.campaign.delivery.user_address) {
        let value = this.campaign.delivery.user_address[key]
        let out = text_utils.check_bad_text(value)
        if (!out[0]) {
          this.$bvToast.toast(`Please remove the following characters from the address: ${out[2]}`, {
            title: `${key.replace(/_/g, ' ')} contains unsupported characters`,
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: true
          })
          return false
        }
      }

      return true
    }
  },
  computed: {

    stamp_options: function () {
      if (this.campaign.delivery.sender === SENDER.ship_for_me) {
        if (this.campaign.envelope.stamp === STAMP_TYPES.no_stamp) { // Add stamp if they removed one
          // eslint-disable-next-line
                    this.campaign.envelope.stamp = STAMP_TYPES.first_class // can cause side effect
        }
        return [STAMP_TYPES.first_class, STAMP_TYPES.second_class]
      }

      return Object.values(STAMP_TYPES)
    }

  },
  watch: {
    campaign: {
      handler (val) {
        console.log(val, 'val')
      }
    }
  },
  data () {
    let envelope_paper_types = [{
      value: ENVELOPE_SIZES.C5,
      text: 'C5'
    },
    {
      value: ENVELOPE_SIZES.DL,
      text: 'DL'
    }
    ]

    if (this.campaign.product === PRODUCT.self_service) {
      envelope_paper_types.push({
        value: ENVELOPE_SIZES.Sticker,
        text: 'Sticker'
      })
    }

    return {
      stamp_type_clicked: {
        no_stamp: false,
        first_class: true
      },
      show_select_due_date: false,
      show_options: false,
      show_edit_return_address: !this.campaign.delivery.user_address.address_line_1,
      date_is_valid: true,
      envelope_paper_types: envelope_paper_types,
      date_config: {
        inline: true,
        viewMode: 'months',
        format: 'DD/MM/YYYY',
        minDate: moment().add(MIN_DELIVERY_DATE, 'days')
      }
    }
  }
}
</script>

<style scoped>
.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form .kt-wizard-v3__content .kt-wizard-v3__form {
    margin-top: 3rem;
}

.form-group {
    margin-bottom: 2rem;
}

.form-group .form-text {
    font-size: .9rem;
}

.text-muted {
    color: #b7bbce !important;
}

.form-text {
    display: block;
    margin-top: .25rem;
}

.checkboxText {
    font-size: .9rem;
}

.price {
    font-size: .8rem;
    color: #b0b4b3 !important;
    padding-left: 16px;

}

.kt-heading.kt-heading--md {
    font-size: 1.4rem;
}
</style>
