<template>
<div :class="stationary_class">
    <div v-if="this.user_profile.role!=='viewer'">
        <router-link class="list-item" :to="{name: 'NewCampaign', params: {id: stationary.template ? 'new' : stationary.id, duplicate_stationary: stationary.template ? stationary.id : undefined}}">
            <vue-flip :width="width" :active-hover="stationary && stationary.back_image !== undefined && stationary.back_image !== null" :class="stationary_height" >
                <div slot="front" @mouseover="hover = true" @mouseleave="hover = false">
                    <img v-if="front_image" :src="front_image" class="mx-2 mb-3 stationary-thumbnail stationary-front" />
                    <div v-else class="mx-2 mb-3 stationary-thumbnail stationary-placeholder text-center">
                        <i class='fas fa-spinner fa-pulse mr-2 stationary-placeholder-icon' />
                    </div>
                    <div class="actions">
                        <b-button v-if='!hide_edit' variant='secondary' :to="{name: 'EditStationery', params: {id: stationary.id}}"><i class='fas fa-edit' /></b-button>
                        <b-button class="ml-1" v-if="show_delete" variant='danger' to='#' @click='confirm_delete_stationary'><i class='fas fa-trash' /></b-button>
                    </div>
                </div>
                <div slot="back" @mouseover="hover = true" @mouseleave="hover = false" class="h-100 w-100">
                    <img v-if="this.back_image" :src="this.back_image" class="mx-2 mb-3 stationary-thumbnail stationary-front" />
                    <div class="actions">
                        <b-button v-if='!hide_edit' variant='secondary' :to="{name: 'EditStationery', params: {id: stationary.id}}"><i class='fas fa-edit' /></b-button>
                        <b-button v-if="show_delete" variant='danger' to='#' @click='confirm_delete_stationary'><i class='fas fa-trash' /></b-button>
                    </div>
                </div>
            </vue-flip>
        </router-link>
    </div>
    <div v-else>
        <div class="list-item">
            <vue-flip :width="width" :active-hover="stationary && stationary.back_image !== undefined && stationary.back_image !== null" :class="stationary_height" >
                <div slot="front" @mouseover="hover = true" @mouseleave="hover = false">
                    <img v-if="front_image" :src="front_image" class="mx-2 mb-3 stationary-thumbnail stationary-front"  />
                    <div v-else class="mx-2 mb-3 stationary-thumbnail stationary-placeholder text-center">
                        <i class='fas fa-spinner fa-pulse mr-2 stationary-placeholder-icon' />
                    </div>
                    <div v-if="hover && this.user_profile.role!=='viewer'" class="actions">
                        <b-button v-if='!hide_edit' variant='secondary' :to="{name: 'EditStationery', params: {id: stationary.id}}"><i class='fas fa-edit' /></b-button>
                        <b-button v-if="show_delete" variant='danger' to='#' @click='confirm_delete_stationary'><i class='fas fa-trash' /></b-button>
                    </div>
                </div>
                <div slot="back" @mouseover="hover = true" @mouseleave="hover = false" class="h-100 w-100">
                    <img v-if="this.back_image" :src="this.back_image" class="mx-2 mb-3 stationary-thumbnail stationary-front"  />
                    <div v-if="hover && this.user_profile.role!=='viewer' || !this.user_profile.role" class="actions">
                        <b-button v-if='!hide_edit' variant='secondary' :to="{name: 'EditStationery', params: {id: stationary.id}}"><i class='fas fa-edit' /></b-button>
                        <b-button v-if="show_delete" variant='danger' to='#' @click='confirm_delete_stationary'><i class='fas fa-trash' /></b-button>
                    </div>
                </div>
            </vue-flip>
        </div>
    </div>
</div>
</template>

<script>
import VueFlip from 'vue-flip'
import {
  db
} from '@/lib/firebase.js'

export default {
  name: 'StationaryItem',
  props: {
    stationary: {
      type: Object,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    },
    full_width: {
      type: Boolean,
      required: false
    },
    show_deleted: {
      type: Boolean
    },
    front_override: {
      type: String
    },
    role: {
      type: String
    }
  },
  data: function () {
    return {
      hover: false,
      width: '100%'
    }
  },
  components: {
    'vue-flip': VueFlip
  },
  computed: {
    hide_edit: function () {
      return (this.stationary.template && !this.user_profile.admin)
    },
    show_delete: function () {
      return ((this.user_profile.admin || this.show_deleted !== false) && !(this.stationary.template && !this.user_profile.admin))
    },
    stationary_height: function () {
      if (
        this.stationary.paper.key === 'A4' ||
                this.stationary.paper.key === 'letter' ||
                this.stationary.paper.key === 'postcard' ||
                this.stationary.paper.key === 'half_letter'
      ) {
        return 'stationary-a4'
      } else if (
        this.stationary.paper.key === 'A5_landscape' ||
                this.stationary.paper.key === 'half_letter_landscape' ||
                this.stationary.paper.key === 'postcard_landscape' ||
                this.stationary.paper.key === 'A6_landscape'
      ) {
        return 'stationary-a5'
      } else if (this.stationary.paper.key === 'A6') {
        return 'stationary-a6'
      } else {
        return 'stationary-edit'
      }
    },
    front_image: function () {
      if (this.stationary.back_image !== undefined && this.stationary.back_image !== null) {
        return this.stationary.thumbnail_back ? this.stationary.thumbnail_back : this.stationary.back_image
      } else {
        return this.front_override ? this.front_override : this.stationary.thumbnail
      }
    },
    back_image: function () {
      return this.front_override ? this.front_override : this.stationary.thumbnail // thumbnail_back?
    },
    stationary_class: function () {
      if (this.full_width) {
        return ''
      } else {
        return 'col-lg-4 col-md-4 col-12 stationary-item'
      }
    }
  },
  mounted () {
    this.adjust_image_width()
  },
  methods: {
    delete_stationary: async function (result) {
      if (result.value) {
        await db.collection('stationary').doc(this.stationary.id).update({
          deleted: true,
          updated: new Date(),
          updated_by: this.user_profile.id
        })
        this.$swal('Deleted!', 'Stationery was deleted', 'success')
      }
    },
    confirm_delete_stationary: function () {
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(this.delete_stationary)
    },
    adjust_image_width () {
      let ref = this.$parent.$refs.stationary_image
      if (ref) {
        let width = ref.clientWidth
        let height = ref.clientHeight
        let img = new Image()
        img.src = this.front_image
        img.onload = () => {
          let image_height = img.height
          let image_width = img.width
          if (image_height > height) {
            let w = height * image_width / image_height
            w = (width - w) / width
            let width_percentage = (1 - w) * 100
            this.width = `${width_percentage - 4}%`
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.actions {
    position: absolute;
    z-index: 4;
    margin: auto;
    top: 0px;
    left: 8px;
    width: 128px;
    visibility: hidden;
}

.stationary-placeholder {
    width: 342px;
    height: 241px;
}

.stationary-placeholder-icon {
    /* height: 100%; */
    font-size: 2em;
    margin-top: 105px;
    /* vertical-align: middle */
}

.stationary_overlay_actions {
    position: relative;
    display: flex;
    top: -60px;
    /* height: 0px; */
    text-align: center;
    width: 100%;
    /* width: 100%; */
    /* text-align: center; */
    /* top: 0px; */
}

.stationary_thumbnail_image {
    /* position: absolute; */
    /* display: inline; */
    /* width: 100%;
  height: 100%; */
}

.stationary-front {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 16px #BBB;
}

.stationary-back {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 16px #BBB;
}

.flipper:hover .actions {
    visibility: visible;
}

.stationary-a4 {
    padding-bottom: 140%;
}

.stationary-a5 {
    padding-bottom: 70.7%;
}

.stationary-a6 {
    padding-bottom: 140%;
}

.stationary-item img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.stationary-item .flip-container {
  /* height: 260px; */
  position: relative;
  overflow: hidden;
}

.stationary-item img {
   /* height: 255px; */
}

.stationary-item  {
  padding: 0 10px 20px 10px;
}

.stationary-item .actions {
  transform: translateX(-100%);
  transition: all .3s ease 0s;
}

.stationary-item .flipper:hover .actions {
  visibility: visible;
  transform: translateX(0%);
}

.stationary-item .stationary-front {
    width: 96%;
}

</style>
