<template>
<div>
    <div v-if="stationary.back_image != null" ref="flip_button" class="paper-button-container">
        <!-- <b-button @click="stationary.flipped = !stationary.flipped" variant="link" size="lg" class="paper-button">iii</b-button> -->
        <div class="moods side-controls__button-wrapper"><button @click="stationary.flipped = !stationary.flipped" data-at-selector="flip-button" class="btn btn--react -disc -large -standalone-white" data-spec="button" data-isdisabled="false"><svg class="svg-icon" viewBox="0 0 48 48" data-di-res-id="892fcc62-6c6f9def" data-di-rand="1588271515711">
                    <path d="M39.141 15.418A38.888 38.888 0 0 0 24 12.758a38.671 38.671 0 0 0-15.067 2.656c-4.491 1.84-6.767 4.2-6.767 7.009 0 2.892 2.276 5.292 6.755 7.128A38.7 38.7 0 0 0 24 32.212h.711l-4.259 4.235 1.41 1.418 6.682-6.644-6.663-6.8-1.429 1.4 4.3 4.4H24a36.739 36.739 0 0 1-14.31-2.516c-3.666-1.5-5.524-3.28-5.524-5.282 0-1.92 1.858-3.656 5.536-5.164a36.749 36.749 0 0 1 14.3-2.5 36.927 36.927 0 0 1 14.367 2.505c3.628 1.5 5.467 3.238 5.467 5.16s-1.8 3.663-5.351 5.164l-.921.389.78 1.842.921-.389c4.36-1.844 6.571-4.2 6.571-7.006s-2.257-5.168-6.695-7.006z"></path>
                </svg></button>
            <div class="side-controls__button-label">Flip over</div>
        </div>
    </div>
    <div class="paper-container" ref="paper-container">
        <vue-flip ref="flipper" :bindWithMe="stationary.flipped" :height="flipper_height" :width="flipper_width" class="paper-flipper">
            <div slot="front" class="paper-flipper" ref="flipper-front">
                <div v-html="stationary.html"></div>
            </div>

            <div slot="back" class="paper-flipper" ref="flipper-back">
                <div v-html="stationary.back_html"></div>
            </div>
        </vue-flip>
    </div>
</div>
</template>

<script>
import VueFlip from 'vue-flip'
/* eslint no-unused-vars: "off" */
import {
  storage,
  serverTimestamp
} from '@/lib/firebase.js'
import {
  HEADER_TYPE
} from '../../functions/shared/constants'
import * as interact from 'interactjs'

export default {
  name: 'StationaryPreview1',
  props: {
    stationary: {
      type: Object,
      required: true
    },
    text_loading_obj: {
      type: Object
    },
    tab_name: {
      type: String
    }
  },
  components: {
    'vue-flip': VueFlip
  },
  mounted: function () {
    this.add_selectors_to_html()
    this.load_stationery(this.stationary)
    if (this.tab_name !== 'payment') {
      this.init_draggable()
    }
  },
  data: function () {
    return {
      flipper_height: '148mm',
      flipper_width: '210mm'
    }
  },
  watch: {
    stationary: {
      deep: true,
      handler: function (val) {
        this.load_stationery(val)
      }
    },
    text_loading_obj: {
      deep: true,
      handler: function (val) {
        this.load_stationery(this.stationary)
      }
    }
  },
  methods: {
    load_stationery (stationary) {
      if (stationary.flipped === undefined) {
        this.stationary.flipped = false
      }

      this.set_paper(stationary.paper)

      let footer_text_ele = document.querySelector(`.flipper-${this._uid} #footer-text`)
      let header_text_ele = document.querySelector(`.flipper-${this._uid} #header-text`)
      let header_image_ele = document.querySelector(`.flipper-${this._uid} #header-image`)
      let handwriting_loading_container_ele = document.querySelector(`.flipper-${this._uid} #handwriting-loading-container`)
      let handwriting_image_container_ele = document.querySelector(`.flipper-${this._uid} #handwriting-image-container`)
      let handwriting_image_ele = document.querySelector(`.flipper-${this._uid} #handwriting-image`)
      let background_image_container_ele = document.querySelector(`.flipper-${this._uid} #background-image-container`)
      let background_image_ele = document.querySelector(`.flipper-${this._uid} #background-image`)
      let back_image_ele = document.querySelector(`.flipper-${this._uid} #back-image`)
      let font_loader_ele = document.querySelector(`.flipper-${this._uid} #font-loader`)
      let bleed_marks_ele = document.querySelector(`.flipper-${this._uid} #bleed-marks`)
      let paper_header_ele = document.querySelector(`.flipper-${this._uid} .paper-header`)
      let paper_footer_ele = document.querySelector(`.flipper-${this._uid} .paper-footer`)

      if (handwriting_image_ele.addEventListener) {
        handwriting_image_ele.addEventListener('load', this.check_image_size)
      }

      footer_text_ele.style.fontSize = stationary.footer_text_size + 'mm'
      footer_text_ele.style.textAlign = stationary.footer_text_align
      footer_text_ele.innerHTML = stationary.footer_text
      footer_text_ele.style.fontFamily = stationary.footer_font

      header_text_ele.style.fontSize = stationary.header_text_size + 'mm'
      header_text_ele.style.textAlign = stationary.header_image_align
      header_text_ele.innerHTML = stationary.header_text
      header_text_ele.style.fontFamily = stationary.header_font

      header_image_ele.src = stationary.header_image || ''
      handwriting_image_ele.src = stationary.rendered_text || ''
      background_image_ele.src = stationary.front_image || ''
      back_image_ele.src = stationary.back_image || ''

      let font_url = `https://fonts.googleapis.com/css?family=${stationary.footer_font.replace(' ', '+')}|${stationary.header_font.replace(' ', '+')}&display=swap`
      if (font_loader_ele.href !== font_url) {
        font_loader_ele.href = font_url
      }

      if (stationary.rendered_text) {
        handwriting_image_container_ele.style.backgroundImage = ''
      } else {
        handwriting_image_container_ele.style.backgroundImage = 'linear-gradient(45deg, #e8e8e8 25%, #e3e3e3 25%, #e3e3e3 50%, #e8e8e8 50%, #e8e8e8 75%, #e3e3e3 75%, #e3e3e3 100%)'
      }

      if (stationary.show_bleed === true) {
        bleed_marks_ele.style.display = 'block'
      } else {
        bleed_marks_ele.style.display = 'none'
      }

      if (stationary.front_type === 'editor' || stationary.front_type === 'html') {
        paper_header_ele.style.display = 'block'
        footer_text_ele.style.display = 'block'
        header_text_ele.style.display = 'block'
        header_image_ele.style.display = 'block'
        paper_footer_ele.style.display = 'block'
        background_image_container_ele.style.display = 'none'

        handwriting_image_container_ele.classList.remove(`draggable-handwriting`)
        handwriting_image_container_ele.classList.remove(`hover-highlight`)

        if (stationary.header_type === 'Text') {
          header_image_ele.style.display = 'none'
          header_text_ele.style.display = 'block'
        } else {
          header_image_ele.style.display = 'block'
          header_text_ele.style.display = 'none'
        }
      } else if (stationary.front_type === 'custom') {
        paper_header_ele.style.display = 'none'
        paper_footer_ele.style.display = 'none'
        footer_text_ele.style.display = 'none'
        header_text_ele.style.display = 'none'
        header_image_ele.style.display = 'none'
        background_image_container_ele.style.display = 'block'

        handwriting_image_container_ele.classList.add(`draggable-handwriting`)
        handwriting_image_container_ele.classList.add(`hover-highlight`)
      }

      if (stationary.back_image) {
        back_image_ele.style.display = 'block'
      } else {
        back_image_ele.style.display = 'none'
      }

      if (this.text_loading_obj && this.text_loading_obj.text_loading) {
        handwriting_image_ele.style.display = 'none'
        handwriting_loading_container_ele.style.display = 'block'
      } else {
        handwriting_image_ele.style.display = 'block'
        handwriting_loading_container_ele.style.display = 'none'
      }

      this.update_handwriting_image_size()
    },
    add_selectors_to_html (_html) {
      this.$refs['flipper-front'].classList.add(`flipper-${this._uid}`)
      this.$refs['flipper-back'].classList.add(`flipper-${this._uid}`)
    },
    init_draggable () {
      interact(`.flipper-${this._uid} .draggable-handwriting`)
        .resizable({
          edges: {
            left: false,
            right: false,
            bottom: true,
            top: true
          },
          restrict: {
            restriction: 'parent',
            endOnly: true,
            elementRect: {
              top: 0,
              left: 0,
              bottom: 1,
              right: 1
            }
          },
          modifiers: [
            interact.modifiers.restrictEdges({
              outer: 'parent'
            }),
            interact.modifiers.restrictSize({
              min: {
                width: 100,
                height: 50
              }
            })
          ],
          inertia: false
        })
        .draggable({
          inertia: true,
          onmove: this.drag_move_listener,
          startAxis: 'y',
          lockAxis: 'y',
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: 'parent',
              endOnly: true
            })
          ]
        })
        .on('resizemove', this.resize_move_listener)
        .on('dragend', this.drag_drop_listner)
        .on('resizeend', this.drag_drop_listner)

      interact(`.flipper-${this._uid} .draggable`)
        .resizable({
          edges: {
            left: true,
            right: true,
            bottom: true,
            top: true
          },
          restrict: {
            restriction: 'parent',
            endOnly: true,
            elementRect: {
              top: 0,
              left: 0,
              bottom: 1,
              right: 1
            }
          },
          modifiers: [
            interact.modifiers.restrictEdges({
              outer: 'parent'
            }),
            interact.modifiers.restrictSize({
              min: {
                width: 100,
                height: 50
              }
            })
          ],
          inertia: false
        })
        .draggable({
          inertia: true,
          onmove: this.drag_move_listener,
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: 'parent',
              endOnly: true
            })
          ]
        })
        .on('resizemove', this.resize_move_listener)
        .on('dragend', this.drag_drop_listner)
        .on('resizeend', this.drag_drop_listner)
    },
    drag_drop_listner (event) {
      for (let ele of document.querySelectorAll(`.flipper-${this._uid} #vertical-line`)) {
        ele.style.visibility = 'hidden'
      }
      for (let ele of document.querySelectorAll(`.flipper-${this._uid} #horizontal-line`)) {
        ele.style.visibility = 'hidden'
      }
    },
    drag_move_listener (event) {
      let target = event.target
      let x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
      let y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

      target.style.webkitTransform = target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)

      this.check_centre_guides(target)
      this.update_handwriting_image_size()
    },
    check_centre_guides (target) {
      let vertical_line_ele = document.querySelectorAll(`.flipper-${this._uid} #vertical-line`)
      let horizontal_line_ele = document.querySelectorAll(`.flipper-${this._uid} #horizontal-line`)

      let centre_x = vertical_line_ele[0].getBoundingClientRect().x + vertical_line_ele[0].getBoundingClientRect().width
      let centre_y = horizontal_line_ele[0].getBoundingClientRect().y
      let centre_margin = 3

      let cx = target.getBoundingClientRect().x + target.getBoundingClientRect().width / 2
      let cy = target.getBoundingClientRect().y + target.getBoundingClientRect().height / 2

      if (parseInt(cx) >= centre_x - centre_margin && parseInt(cx) <= centre_x + centre_margin) {
        for (let ele of vertical_line_ele) {
          ele.style.visibility = 'visible'
        }
      } else {
        for (let ele of vertical_line_ele) {
          ele.style.visibility = 'hidden'
        }
      }

      if (parseInt(cy) >= centre_y - centre_margin && parseInt(cy) <= centre_y + centre_margin) {
        for (let ele of horizontal_line_ele) {
          ele.style.visibility = 'visible'
        }
      } else {
        for (let ele of horizontal_line_ele) {
          ele.style.visibility = 'hidden'
        }
      }
    },
    resize_move_listener (event) {
      let target = event.target

      let x = (parseFloat(target.getAttribute('data-x')) || 0)
      let y = (parseFloat(target.getAttribute('data-y')) || 0)

      // update the element's style
      target.style.width = event.rect.width + 'px'
      target.style.height = event.rect.height + 'px'

      // translate when resizing from top or left edges
      x += event.deltaRect.left
      y += event.deltaRect.top

      target.style.webkitTransform = target.style.transform = 'translate(' + x + 'px,' + y + 'px)'

      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)

      this.check_centre_guides(target)

      this.update_handwriting_image_size()
      // target.textContent = Math.round(event.rect.width) + '\u00D7' + Math.round(event.rect.height)
    },
    check_image_size: function (ele) {
      let paper_text_ele = document.querySelector(`.flipper-${this._uid} #handwriting-image-container`)
      let text_image_ele = document.querySelector(`.flipper-${this._uid} #handwriting-image`)

      if ((!text_image_ele || !paper_text_ele) || (text_image_ele.clientHeight === 0 && paper_text_ele.clientHeight === 0)) {
        return // Skip due to rendering of flipper hiding these elements
      }

      if (paper_text_ele && text_image_ele && text_image_ele.clientHeight && text_image_ele.clientHeight > paper_text_ele.clientHeight) {
        // console.log(text_image_ele.clientHeight)
        // console.log(paper_text_ele.clientHeight)

        // this.$swal('Overflow', 'You have added too much text, please remove some.', 'warning')
        this.stationary.overflowed = true
      } else {
        this.stationary.overflowed = false
      }
    },
    update_handwriting_image_size: function () {
      setTimeout(function () {
        if (this.stationary.front_type === 'editor') {
          let paper_header_ele = document.querySelector(`.flipper-${this._uid} .paper-header`)
          let paper_footer_ele = document.querySelector(`.flipper-${this._uid} .paper-footer`)

          let margin = 0
          if (this.stationary.header_type === 'Text' && (!this.stationary.header_text || this.stationary.header_text.trim().length === 0)) {
            margin = -60
          }

          let bottom_of_logo = paper_header_ele.offsetTop + (paper_header_ele.getBoundingClientRect().height || 0) + margin
          let new_height = (paper_footer_ele.offsetTop || 0) - bottom_of_logo

          document.querySelector(`.flipper-${this._uid} #handwriting-image-container`).style.top = `${bottom_of_logo}px`
          document.querySelector(`.flipper-${this._uid} #handwriting-image-container`).style.height = `${new_height}px`
        }
      }.bind(this), 400)
    },
    set_paper: function (paper) {
      let flipper_ele = this.$refs['flipper']
      let paper_container_ele = this.$refs['paper-container']

      let paper_inner_container_ele = document.querySelectorAll(`.flipper-${this._uid} .paper-preview`)

      paper_container_ele.style.height = (parseInt(paper.height) + 10) + 'mm'

      this.flipper_height = paper.height + 'mm'
      this.flipper_width = paper.width + 'mm'

      for (let element of paper_inner_container_ele) {
        element.style.width = paper.width + 'mm'
        element.style.height = (parseInt(paper.height)) + 'mm'
      }

      let flip_button = this.$refs['flip_button']
      flip_button.style.width = paper.width + 'mm'

      let background_image_container_ele = document.querySelector(`.flipper-${this._uid} #background-image-container`)
      background_image_container_ele.style.width = paper.width + 'mm'
      background_image_container_ele.style.height = paper.height + 'mm'

      this.update_handwriting_image_size()
    },
    save: async function (stationary_doc, header_logo, back_image) {
      this.stationary.created = serverTimestamp()
      this.stationary.last_updated = serverTimestamp()
      this.stationary.background = null // Setting to null ensures function reruns and thumbnail is regenerated
      this.stationary.thumbnail = null
      this.stationary.show_bleed = false
      this.stationary.flipped = false

      if (this.stationary.header_type === HEADER_TYPE.logo && header_logo) {
        let snapshot = await storage.ref().child(`stationary/${stationary_doc.id}/logo.jpg`).put(header_logo)
        this.stationary.header_image = await snapshot.ref.getDownloadURL()
        let header_image_ele = document.querySelector(`.flipper-${this._uid} #header-image`)
        header_image_ele.src = this.stationary.header_image
      }

      if (back_image) {
        let snapshot = await storage.ref().child(`stationary/${stationary_doc.id}/back_image.png`).put(back_image)
        this.stationary.back_image = await snapshot.ref.getDownloadURL()
        let back_image_ele = document.querySelector(`.flipper-${this._uid} #back-image`)
        back_image_ele.src = this.stationary.back_image

        let bleed_marks_ele = document.querySelector(`.flipper-${this._uid} #bleed-marks`)
        bleed_marks_ele.style.display = 'none'
      }

      this.stationary.html = this.$refs['flipper-front'].innerHTML
      this.stationary.back_html = this.$refs['flipper-back'].innerHTML

      await stationary_doc.set(this.stationary, {
        merge: true
      })

      return true
    }
  }
}
</script>

<style>
.text_loading_spinner {
    font-size: 3em !important;
    color: #BBB;
    margin-top: 2em;
}

.paper-preview {
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 16px #BBB;
}

.paper-button-container {
    position: relative;
    /* margin: right; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    /* align horizontal */
    /* height: 100%; */

    left: 88%;
    top: 2mm;
    z-index: 1;
    margin: auto;
    width: 100% !important;
    /* */

}

.paper-button {
    position: absolute;
    right: 13.5mm;
    top: 4mm;
}

.paper-button1 {
    right: 14mm;
    top: 3mm;
    position: absolute;
}

.paper-container {
    overflow-x: auto;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: auto;
    height: auto;
    width: 100%;
}

.paper-flipper {
    margin: auto;
}

.back_image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.back-preview {
    overflow: hidden;
}

.hover-highlight {
    overflow: hidden;
}

.hover-highlight:hover {
    border: 1px solid red;
}

.draggable {
    position: relative;
}

#vertical-line {
    width: 50%;
    height: 100%;
    border-right: 1px solid green;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    visibility: hidden;
}

#horizontal-line {
    width: 100%;
    height: 50%;
    border-top: 1px solid green;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    pointer-events: none;
    visibility: hidden;
}

.paper-flipper {
    width: 100%;
    height: 100%;
}

.side-controls .side-controls__button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.side-controls,
.side-controls .side-controls__button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.moods {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.moods .btn.-large.-disc {
    width: 48px;
    height: 48px;
    padding: 0;
}

.moods .btn.-large {
    height: 48px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 46px;
}

.moods .btn.-disc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100px;

}

.moods .btn.-large {
    height: 48px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 46px;
    right: 40px;
}

.moods .btn.-large .svg-icon {
    width: 24px;
    height: 24px;
}

.moods .btn {
    background-color: #e4f7f2;
    color: #fff;
}
</style>
