<template>
<b-form>
    <h3>Customise Stationery</h3>

    <div v-if="stationary.flipped == false">
        <div v-if="user_profile.stationery_enabled && paper_types.length > 1">
            <b-form-group label="Paper & Material" label-for="paper" description="Select one of our luxury, high-quality white textured stationery types.">
                <b-form-select id="paper" v-model="stationary.paper" :options="paper_types" />
            </b-form-group>
        </div>

      <b-card no-body class="editor-card">
        <b-tabs pills card content-class="mt-0 pt-0" @input="on_tab_changed" v-model="tab_index">
          <b-tab card title="Editor" active>
            <div id="stationary_header_section">
              <h4>Header</h4>
              <b-form-group label-for="paper" >
                <b-form-radio-group buttons button-variant="outline-primary" v-model="stationary.header_type" :options="Object.values(HEADER_TYPE)" />
              </b-form-group>

                <div v-if="stationary.header_type == HEADER_TYPE.logo">
                  <b-form-file @change="on_header_logo_change" v-model="header_logo" placeholder="Upload Logo..." accept="image/*" />
                </div>
                <div v-else>
                  <b-form-group>
                    <b-input v-model="stationary.header_text" placeholder="e.g. The Office of John Smith" />
                  </b-form-group>

                  <font-picker :api-key="apiKey" :active-font="stationary.header_font" :options="{ name: '6' }" @change="nextFont => this.stationary.header_font = nextFont.family"></font-picker>
                  <b-button-group >
                    <b-button v-b-tooltip.hover title="Align logo to left" variant="outline-primary" size="sm" @click="stationary.header_image_align = 'left'"><i class="fas fa-align-left"></i></b-button>
                    <b-button v-b-tooltip.hover title="Align logo to center" variant="outline-primary" size="sm" @click="stationary.header_image_align = 'center'"><i class="fas fa-align-center"></i></b-button>
                    <b-button v-b-tooltip.hover title="Align logo to right" variant="outline-primary" size="sm" @click="stationary.header_image_align = 'right'"><i class="fas fa-align-right"></i></b-button>
                  </b-button-group>

                  <b-input v-model="stationary.header_text_size" type="number" min="1" max="24" style="width: 80px; display: inline;"></b-input>
                </div>
                <p class='text-mute'><small>Use drag and drop to position</small></p>
            </div>

                    <div id="stationary_footer_section">
                        <hr>
                        <h4>Footer</h4>
                        <b-form-group>
                            <b-form-textarea v-model="stationary.footer_text" placeholder="e.g. 123 Your Address, City, 123 456" :readonly="campaign && campaign.is_sample" rows="1" v-b-tooltip.hover :title="campaign && campaign.is_sample ? 'Footer cannot be edited on a sample campaign' : ''" />
                        </b-form-group>

                        <font-picker :api-key="apiKey" :active-font="stationary.footer_font" :options="{ name: '6' }" @change="nextFont => this.stationary.footer_font = nextFont.family"></font-picker>

                        <b-button-group>
                            <b-button v-b-tooltip.hover title="Align logo to left" variant="outline-primary" size="sm" @click="stationary.footer_text_align = 'left'"><i class="fas fa-align-left"></i></b-button>
                            <b-button v-b-tooltip.hover title="Align logo to center" variant="outline-primary" size="sm" @click="stationary.footer_text_align = 'center'"><i class="fas fa-align-center"></i></b-button>
                            <b-button v-b-tooltip.hover title="Align logo to right" variant="outline-primary" size="sm" @click="stationary.footer_text_align = 'right'"><i class="fas fa-align-right"></i></b-button>
                        </b-button-group>

                        <b-input v-model="stationary.footer_text_size" type="number" min="1" max="24" style="width: 80px; display: inline;"></b-input>
                    </div>
                </b-tab>
                <!-- TODO Admin only -->
                <b-tab title="Custom Image">
                    <b-form-group>
                        <p><small>Need a little more flexibility? Upload a custom image and use it as the background image for your card. </small></p>
                        <p><small> Either browse the background image that matches the paper size from your local device or download the template below. You may also drag and drop to reposition the textbox inside the template.</small></p>
                        <b-form-file @change="on_front_image_change" v-model="front_image" placeholder="Upload Card front image..." accept="image/*" />
                        <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small>
                    </b-form-group>

                    <b-button v-if="stationary.front_image" variant="warning" @click="clear_front_image" class='mb-1 mt-2'>Clear image</b-button>

                </b-tab>
                <b-tab title="HTML" v-if="user_profile.admin">
                    <b-form-textarea v-model="stationary.html" rows="10" />
                </b-tab>
            </b-tabs>
        </b-card>
        <div v-if="user_profile.admin">
            <hr>
            <h4>Template</h4>

            <b-form-checkbox v-model="stationary.template" class="mb-3">Is Public Template</b-form-checkbox>
            <tags-input v-if="stationary.template" v-model="stationary.template_tags"></tags-input>
            <hr>
            <h4>PDF</h4>
            <b-form-checkbox v-model="stationary.add_bleed" class="mb-3">Add bleed</b-form-checkbox>
        </div>

    </div>
    <div v-else>
        <div v-if="(campaign && !campaign.is_sample) || (!campaign)">
            <b-form-group label="Back Image">
                <b-form-file @change="on_back_image_change" v-model="back_image" placeholder="Upload Card back image..." accept="image/*" />
                <small class="text-muted">Download a note back <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small>
            </b-form-group>
            <b-button v-if="stationary.back_image" variant="warning" @click="clear_back_image" class='mb-3'>Clear image</b-button>

            <h4>Edge to Edge</h4>
            <p>For edge to edge printing we require designs to include bleed. Anything outside of the 4mm / 0.16" bleed lines may be excluded.</p>
            <b-form-checkbox v-model="stationary.show_bleed" class="mb-3">Show bleed crop markers</b-form-checkbox>
        </div>
        <div v-else>
            <b-alert show variant="info">
                Card back image cannot be added on a sample campaign
            </b-alert>
        </div>
    </div>

</b-form>
</template>

<script>
/* eslint no-unused-vars: "off" */
import {
    storage
} from '@/lib/firebase.js'
import {
    HEADER_TYPE,
    HANDWRITING_SIZE,
    HANDWRITING_STYLE,
    FONTS,
    PAPER_SIZES
} from '../../functions/shared/constants'
import FontPicker from 'font-picker-vue'

export default {
    name: 'StationaryEdit',
    components: {
        'tags-input': () => import('@voerro/vue-tagsinput'),
        'font-picker': FontPicker
    },
    props: {
        stationary: {
            type: Object,
            required: true
        },
        user_profile: {
            type: Object,
            required: true
        },
        campaign: {
            type: Object
        }
    },
    computed: {
        paper_types: function () {
            if (!this.user_profile || !this.user_profile.stationery_enabled) {
                return []
            } else {
                let user_stationery_enabled = this.user_profile.stationery_enabled
                if (this.user_profile.country === 'GB') {
                    user_stationery_enabled.unshift('A5_landscape')
                    user_stationery_enabled.unshift('A5')
                    user_stationery_enabled.unshift('A4')
                    user_stationery_enabled.unshift('A6_landscape')
                    user_stationery_enabled.unshift('A6')
                } else {
                    user_stationery_enabled.unshift('half_letter_landscape')
                    user_stationery_enabled.unshift('half_letter')
                    user_stationery_enabled.unshift('letter')
                    user_stationery_enabled.unshift('postcard_landscape')
                    user_stationery_enabled.unshift('postcard')
                }

                user_stationery_enabled = [...new Set(user_stationery_enabled)]
                let paper_types = []
                for (let stationery_type of user_stationery_enabled) {
                    let size = PAPER_SIZES[stationery_type]
                    let text = stationery_type.replace(/_/g, ' ')
                    text = text.charAt(0).toUpperCase() + text.slice(1)
                    paper_types.push({
                        value: size,
                        text: text
                    })
                }

                return paper_types
            }
        }
    },
    watch: {
        stationary: {
            deep: true,
            handler: function () {
                if (this.stationary.front_type === 'editor') {
                    this.tab_index = 0
                } else if (this.stationary.front_type === 'editor') {
                    this.tab_index = 1
                } else if (this.stationary.front_type === 'editor') {
                    this.tab_index = 2
                }
            }
        }
    },
    methods: {
        clear_back_image() {
            this.stationary.back_image = null
            this.back_image = null
        },
        clear_front_image() {
            this.stationary.front_image = null
            this.front_image = null
        },
        on_tab_changed(index) {
            if (index === 0) {
                this.stationary.front_type = 'editor'
            } else if (index === 1) {
                this.stationary.front_type = 'custom'
            } else if (index === 2) {
                this.stationary.front_type = 'html'
            }
        },
        on_header_logo_change(e) {
            if (e.target && e.target.files && e.target.files.length) {
                this.stationary.header_image = URL.createObjectURL(e.target.files[0])
            }

            if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
                this.stationary.header_image = URL.createObjectURL(e.dataTransfer.files[0])
            }
        },
        on_back_image_change(e) {
            if (e.target && e.target.files && e.target.files.length) {
                // Check if the image is 1000 x 1000 and display warning
                this.stationary.back_image = URL.createObjectURL(e.target.files[0])
                var image = new Image()
                image.src = this.stationary.back_image
                let that = this
                image.onload = function () {
                    if (this.height < 1000 || this.width < 1000) {
                        that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
                        return false
                    }
                    // alert('Uploaded image has valid Height and Width.')
                    return true
                }
            }
            if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
                this.stationary.back_image = URL.createObjectURL(e.dataTransfer.files[0])
            }
        },
        on_front_image_change(e) {
            if (e.target && e.target.files && e.target.files.length) {
                // Check if the image is 1000 x 1000 and display warning
                this.stationary.front_image = URL.createObjectURL(e.target.files[0])
                var image = new Image()
                image.src = this.stationary.front_image
                let that = this
                image.onload = function () {
                    if (!((this.width / this.height > 1.41 && this.width / this.height < 1.42) || (this.height / this.width > 1.41 && this.height / this.width < 1.42))) {
                        // 148 x 210 mm
                        that.$swal('Wrong aspect ratio', 'Please upload an image that matches the size of the paper. Download the image template (below the input).', 'warning')
                        that.stationary.front_image = null
                        that.front_image = null
                        return false
                    }

                    if (this.height < 1000 || this.width < 1000) {
                        that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
                        return false
                    }
                    // alert('Uploaded image has valid Height and Width.')
                    return true
                }
            }

            if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
                this.stationary.front_image = URL.createObjectURL(e.dataTransfer.files[0])
            }
        }
    },
    data() {
        return {
            tab_index: 0,
            header_logo: null,
            back_image: null,
            front_image: null,
            apiKey: 'AIzaSyBxeCFkAl2YthLseSGhqCro7rJZUMfQDkk'
        }
    }
}
</script>

<style scoped>
.editor-card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
</style>
