<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Handwriting auth form">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scribeless Authentication</title>

  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <style>
    .form-container {
      display: flex;
      flex-direction: column;
    }
    .auth-submit {
      max-width: 150px;
    }
  </style>
  <script>
    function showError(error) {
      alert(error);
    }
    function authenticate(button) {
      const email = document.getElementById('sign-in-email').value
      const password = document.getElementById('sign-in-password').value

      if (!email || !password) {
        return showError('email and password are required')
      }

      button.disabled = true

      const options = {method: 'POST', body: JSON.stringify({email: email, password: password}), headers: {'Content-Type': 'application/json'}}

      fetch('{{authRoute}}', options).then((response) => {
        if (response.status > 299) {
          throw new Error('Authentication error');
        }
        return response.json();
      }).then(({ success }) => {
        if (!success) {
          throw new Error('Authentication error');
        }
      }).then(() => {
        console.log('step')
        window.open('{{appStoreOrigin}}', '_blank')
        // if (window.opener) {
        //   // send them to the opening window
        //   window.opener.postMessage(true, '{{appStoreOrigin}}');
        //   // close the popup
        //   window.close();
        // }
      }).catch(error => {
        button.disabled = false;
        showError(error.message);
        console.error('Auth error', error);
      })
    }
  </script>
</head>
<body>
<style>

</style>
<div class="form-container mdl-card__supporting-text mdl-color-text--grey-600">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sign-in-email">
    <label class="mdl-textfield__label" for="sign-in-email">Email</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" id="sign-in-password">
    <label class="mdl-textfield__label" for="sign-in-password">Password</label>
  </div>
  <button
    id="sign-in-button"
    class="auth-submit mdl-color-text--grey-700 mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect"
    onclick="authenticate(this)"
  >
    Sign in
  </button>
</div>
</body>
</html>
